<h6>ENLACES FRECUENTES</h6>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link plus" href="http://sito.utsalamanca.edu.mx/jsp/escolar/proceso_admision/proceso_interesado.jsp" target="_blank">Aspirantes TSU</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" href="http://sito.utsalamanca.edu.mx/jsp/escolar/proceso_admision_lic/proceso_interesado.jsp" target="_blank">Aspirantes ING</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" href="https://login.microsoftonline.com/login.srf?wa=wsignin1.0&rpsnv=4&ct=1493127522&rver=6.7.6640.0&wp=MCMBI&wreply=https%3a%2f%2fportal.office.com%2flanding.aspx%3ftarget%3d%252fdefault.aspx&lc=2058&id=501392&msafed=0&client-request-id=3a1c0327-1890-4cde-9f92-0f049d3f4255"
      target="_blank">Correo Institucional</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" routerLink="/becas" routerLinkActive="active">Becas UTS</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" href="https://ebookcentral.proquest.com/lib/utsalamancasp/home.action"
      target="_blank">Biblioteca Virtual</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" routerLink="/calendario-escolar" routerLinkActive="active">Calendario y Agenda Escolar</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" routerLink="/directorio" routerLinkActive="active">Directorio UTS</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" href="assets/content/egresados/listado-de-cedulas-gen-7-(12-06-18).pdf" target="_blank">Egresados</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" routerLink="/gaceta" routerLinkActive="active">Gaceta Universitaria</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" href="http://sito.utsalamanca.edu.mx/" target="_blank">Sistema Escolar (SITO)</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" href="http://www.utsalamanca.edu.mx/sgc/" target="_blank">SGC</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" type="button" style="cursor: pointer" data-toggle="modal" data-target="#moodleModal">MOODLE</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
  <li class="nav-item">
    <a class="nav-link plus" routerLink="/conocer" routerLinkActive="active">CONOCER</a>
  </li>
  <div class="progress" style="height: 1px;"></div>
</ul>

<!-- Modal Plataformas moodle-->
<div class="modal fade" id="moodleModal" tabindex="-1" role="dialog" aria-labelledby="moodleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content bg-light">
          <div class="modal-header">
              <h5 class="modal-title" id="moodleModalLabel">PLATAFORMAS MOODLE</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="alert alert-danger text-center" role="alert">
                  <h5>Sitio Virtual</h5>
                 <a href="http://virtual.utsalamanca.edu.mx/moodle/" target="_blank"><button type="button" class="btn btn-outline-danger btn-block">Ingresar</button></a>
              </div>
              <div class="progress mb-2" style="height: 1px;"></div>
              <div class="alert alert-danger text-center" role="alert">
                  <h5>Sitio Virtual de Idiomas</h5>
                 <a href="http://idiomas.utsalamanca.edu.mx/moodle/" target="_blank"><button type="button" class="btn btn-outline-danger btn-block">Ingresar</button></a>
              </div>
              <div class="progress mb-2" style="height: 1px;"></div>
          </div>
      </div>
  </div>
</div>