<title>UTS | Filosofía Institucional</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Filosofía Institucional</h2>
    </div>
    <div class="col-md-6">
      <nav aria-label="breadcrumb" class="bg-transparent">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Universidad</li>
          <li class="breadcrumb-item active" aria-current="page">Filosofía Institucional</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>
<article>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <!-- efecto hover -->
    <div class="ih-item square effect7 mb-4"><a href="#">
      <div class="img"><img src="assets/img/filosofia/banner_filosofia.jpg" alt="img"></div>
      </a></div>
  <!-- fin efecto hover -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="mision-tab" data-toggle="tab" href="#mision" role="tab" aria-controls="mision" aria-selected="true">MISIÓN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="vision-tab" data-toggle="tab" href="#vision" role="tab" aria-controls="vision" aria-selected="false">VISIÓN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="valores-tab" data-toggle="tab" href="#valores" role="tab" aria-controls="valores" aria-selected="false">VALORES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="modelo-educativo-tab" data-toggle="tab" href="#modelo-educativo" role="tab" aria-controls="modelo-educativo" aria-selected="false">MODELO EDUCATIVO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="funcion-vinculacion-tab" data-toggle="tab" href="#funcion-vinculacion" role="tab" aria-controls="funcion-vinculacion" aria-selected="false">FUNCIÓN DE VINCULACIÓN</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="mision" role="tabpanel" aria-labelledby="mision-tab">
      <div class="container mt-3">
      <p>Formar profesionistas de nivel Técnico Superior Universitario y de nivel Licenciatura, a través de programas educativos pertinentes y de calidad, además de certificarlos en competencias laborales y profesionales que, satisfagan las necesidades de los sectores productivo y social, para fomentar el desarrollo social y económico de la Región, del Estado y del País.</p>
      </div>
    </div>
    <div class="tab-pane fade" id="vision" role="tabpanel" aria-labelledby="vision-tab">
      <div class="container mt-3">
        <p>Será una Universidad Tecnológica reconocida a nivel nacional por: sus egresados de alto desempeño laboral, formados en programas educativos acreditados y con certificaciones profesionales; contar con profesores de excelencia académica; tener un programa consolidado de intercambios nacionales e internacionales con instituciones de educación superior; y desarrollar procesos de gestión eficientes y eficaces. Bajo un enfoque de responsabilidad social que contribuya al desarrollo sustentable de la Región y del País.</p>
        </div>
    </div>
    <div class="tab-pane fade" id="valores" role="tabpanel" aria-labelledby="valores-tab">
      <div class="container">
        <div class="row mt-3">
          <div class="col-sm-4">
              <img src="assets/img/filosofia/justicia.png" alt="Justicia">
          </div>
          <div class="col-sm-8">
              <p>Actuar con la rectitud que gobierna la conducta y nos obliga a respetar los derechos de los demás, dando a cada quien lo que le corresponde, basándose en los principios establecidos para tal fin.</p>
          </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-4">
                <img src="assets/img/filosofia/lealtad.png" alt="Lealtad">
            </div>
            <div class="col-sm-8">
                <p>Mostrar agradecimiento a una persona o entidad, nunca abandonando o dejando a su suerte a una persona o grupo de trabajo, evitar traicionar los principios y valores que se han identificado y rigen en la Institución, reconociendo en ellos no una obligación, sino el camino a la excelencia individual e Institucional.</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-4">
                <img src="assets/img/filosofia/responsabilidad.png" alt="Responsabilidad">
            </div>
            <div class="col-sm-8">
                <p>Asumir las consecuencias de tus propios actos, cumpliendo con los deberes contraídos, haciéndose cargo de las acciones realizadas, así como de las que se dejaron de hacer. Cumpliendo bien, a tiempo y con empeño cada una de las funciones y obligaciones a mí cargo.</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-4">
                <img src="assets/img/filosofia/respeto.png" alt="Respeto">
            </div>
            <div class="col-sm-8">
                <p>Entender que es lo que motiva a las personas a actuar y pensar de diferente forma, en base a eso brindar un trato digno. Reconociendo la legitimidad de los demás y tomando en consideración la diversidad de ideas, opiniones y percepciones de las personas, como base de la sana convivencia.</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-4">
                <img src="assets/img/filosofia/tolerancia.png" alt="Tolerancia">
            </div>
            <div class="col-sm-8">
                <p>Aceptar que entre las personas podemos diferir de pensamiento, se toman acuerdos y se respetan. Reconociendo la comunicación efectiva como un elemento básico para lograr la solución de los problemas.</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-4">
                <img src="assets/img/filosofia/solidaridad.png" alt="Solidaridad">
            </div>
            <div class="col-sm-8">
                <p>Trabajar unidos desinteresada y generosamente para lograr una meta en común, apoyando a los más necesitados sin intención de recibir algo a cambio, en beneficio de la sociedad.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="modelo-educativo" role="tabpanel" aria-labelledby="modelo-educativo-tab">
      <div class="container mt-3">
        <div class="row">
          <div class="col-sm">
            <h4>Calidad</h4>
            <hr/>
            <p>La calidad entendida como la cultura de la evaluación, tanto interna como externa, en la que periódicamente se examinen planes y programas de estudio, métodos de enseñanza, materiales educativos, planta docente, infraestructura, equipamiento, aprovechamiento escolar y desempeño administrativo, mismos que son valorados con la participación de pares, a través de una evaluación colegiada, objetiva y transparente.</p>
            <h4>Pertinencia</h4>
            <hr/>
            <p>Las Universidades Tecnológicas están estructuradas para trabajar en continua comunicación y retroalimentación con su entorno social y económico. Su fortaleza radica, en gran medida, en su capacidad de vincularse con el sector productivo, ya que la instrumentación de carreras se determina de acuerdo con los requerimientos de los núcleos productivos del entorno.</p>
            <h4>Intensidad</h4>
            <hr/>
            <p>El modelo educativo de las Universidades Tecnológicas se basa en un esquema de corta duración y alta intensidad, lo que implica una optimización de los tiempos, los recursos y los esfuerzos a lo largo del proceso de enseñanza-aprendizaje. Los contenidos educativos se enfocan en los aspectos fundamentales de cada asignatura, sin extenderlos a generalidades que no resultan esenciales para comprender o llevar a la práctica los conocimientos.</p>
          </div>
          <div class="col-sm">
            <h4>Continuidad</h4>
            <hr/>
            <p>La gran ventaja que presenta este nuevo esquema curricular es la posibilidad que ofrece al estudiante para optar por salidas laterales después del primer año de estudios, de forma optativa, puede solicitar una certificación profesional. A los dos años, de manera obligatoria, obtendrá el título de Técnico Superior Universitario y para los que así lo deseen, el modelo les permite continuar sus estudios de Licenciatura.</p>
            <h4>Polivalencia</h4>
            <hr/>
            <p>La educación polivalente no está ceñida a una sola línea de conocimiento y puede abrirse a diversas opciones de especialización, de acuerdo con las exigencias temporales de la producción o las aspiraciones concretas de los jóvenes. Por principio, se otorga una formación profesional en uno o varios grupos de actividades propias de los procesos productivos, o bien en actividades generales aplicables a todas las ramas de la producción. Para el estudiante, este enfoque significa el dominio de conocimientos y competencias comunes a varias áreas afines, con la versatilidad suficiente para adoptar nuevas tecnologías y adaptarse a distintas formas de trabajo dentro de su nivel de competencia.</p>
            <h4>Flexibilidad</h4>
            <hr/>
            <p>Se promueve la flexibilidad de estructuras y planes de estudio para facilitar la formación multidisciplinaria, la integración del aprendizaje con la aplicación pertinente del conocimiento, así como el paso fluido de los estudiantes entre distintas instituciones. Los Programas Educativos están diseñados con la flexibilidad suficiente para ser revisados y reorientados continuamente de acuerdo con las necesidades manifestadas por los núcleos productivos, públicos y privados, de la zona de influencia de la Universidad Tecnológica.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="funcion-vinculacion" role="tabpanel" aria-labelledby="funcion-vinculacion-tab">
      <div class="container mt-3">
        <p>La vinculación, entendida como la interacción de las universidades con el entorno económico, social, gubernamental y educativo, constituye la plataforma desde la cual el Subsistema de Universidades Tecnológicas teje su red de contactos con el universo del que surge y para cuyo desarrollo fue diseñado.  </p>
        <p>En el marco del modelo educativo de las Universidades Tecnológicas, la formación académica y la vinculación constituyen un binomio indisoluble. Ambos deben fluir y confluir en una retroalimentación permanente, con el fin de asegurar una formación pertinente para sus estudiantes y garantizar la calidad de sus servicios. Por ello, es imprescindible que, en un modelo que descansa en la correspondencia entre programas educativos y desempeño profesional, los futuros empleadores participen activamente en la vida universitaria.</p>
        <p>Un trabajo fundamental de la vinculación es determinar los perfiles requeridos por la planta productiva para diseñar los planes y programas de estudio que cubran eficaz y suficientemente los diferentes niveles y ramos del sector productivo, a quienes se pide que reciban a los estudiantes con el fin de realizar sus estadías, lo que permite abrir los canales para que los egresados establezcan contacto con sus futuros empleadores. </p>
      </div>
    </div>
  </div>
        
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</div>
</article>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
