<title>UTS | ITI</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Ingeniería en Tecnologías de la Información e
          Innovación Digital con TSU en Desarrollo de Software
          Multiplataforma.</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">ITI</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <div class="ih-item square effect7 mb-5">
          <a href="assets/content/programas-educativos/Ing_Tecnologias_de_la_Informacion.pdf" target="_blank">
            <div class="img">
              <img src="assets/img/programas-educativos/Ing_TI.png" alt="Ingeniería en Tecnologías de la Información e
              Innovación Digital con TSU en Desarrollo de Software
              Multiplataforma (DSM).">
            </div>
          </a>
        </div>
        <!-- fin efecto hover -->
         <p class="text-justify mb-5">La/el Licenciado(a) en Ingeniería en Tecnologías de la Información e Innovación Digital,
          se distingue por poseer las competencias profesionales esenciales que respaldan su
          desempeño con éxito. Este perfil integral no solo se ajusta a las demandas actuales del
          sector, sino que también anticipa y se adapta a las transformaciones y desafíos
          emergentes. Su capacidad para integrar conocimientos técnicos especializados,
          habilidades analíticas y una visión innovadora lo posiciona como un profesional
          altamente cualificado y preparado para contribuir significativamente al avance de la
          disciplina y a la resolución eficiente de problemáticas complejas en distintos
          contextos.</p>

          <img class="mb-5" src="assets/img/programas-educativos/Infografia.png" alt="Tu trayectoria educativa en la UTS">

          <div class="text-center mb-5">
            <a href="assets/content/programas-educativos/Ing_Tecnologias_de_la_Informacion.pdf" 
            target="_blank"
            class="btn custom-btn px-5 font-weight-bold">PLAN DE ESTUDIOS</a>
          </div>
          
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
