<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">

  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>Firma de convenio entre NETCON y UTS</h3>
          <small class="text-muted">28 de enero del 2019</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">

          <img class="img-fluid" src="assets/img/noticias/noticia30/img.jpg">

        </div>
      </div>
      <div class="text-justify mt-3">
        <p>El pasado lunes 28 de enero de 2019, la Universidad Tecnológica de Salamanca (UTS), firmó un Convenio de
          Colaboración con la Empresa Net Arquitectura Administrativa S.A. de C.V. en pro de la formación y continuo
          desarrollo de Egresados y futuros profesionistas del Programa Educativo de Tecnologías de Información que
          ofrece esta Universidad, formalizando, de esta forma, el objetivo de incrementar la calidad de programas
          educativos, aportando mejores egresados al Sector Tecnológico.</p>
        <p>Cabe resaltar que la Empresa Net Arquitectura es una empresa 100% mexicana, desarrolla sus propias
          tecnologías y está comprometida social y tecnológicamente con el objetivo de crear profesionistas con talento
          para la generación de nuevas tecnologías y empresas.</p>
        <p>El acto fue encabezado por el Ing. Alfredo Lopez Herrera, Rector de la Universidad Tecnológica de Salamanca y
          el M. en A. Francisco W. García, Director General de Net Arquitectura, así como colaboradores de ésta empresa
          y personal directivo de la Universidad.</p>
        <p>En su Intervención, El Ing. Alfredo Lopez Herrera sostuvo que La colaboración mutua es parte de los objetivos
          particulares del convenio, siendo la Universidad una instancia para capacitar y actualizar al personal de la
          empresa Net Arquitectura.</p>
        <p>Por su parte, la Empresa Net Arquitectura otorgará facilidades a los estudiantes de la carrera de Tecnologías
          de Información para realizar su estadía profesional, así como actividades gremiales de tipo social, cultural,
          académica y científica, entre otras, que se promuevan por parte del de la empresa.</p>
        <p>Dentro de la misma celebración, Net Arquitectura ofrece el licenciamiento de su ERP NETCON para fines
          educativos y de desarrollo en los diferentes programas educativos que puedan aprovecharse dentro de la
          Universidad.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>