<title>UTS | Coronavirus</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>CORONAVIRUS</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">CORONAVIRUS</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="covid">
  <div class="row">
    <div class="col-md-9">
      <div class="card-group mb-3">
        <div class="card">
          <img src="assets/img/covid/1era_entrega.PNG" class="card-img-top" alt="1era entrega covod19">
          <div class="card-body">
            <h5 class="card-title">Lo esencial sobre el coronavirus</h5>
            <br>
            <a href="assets/content/covid/1era_entrega_Lo_esencial_del_Coronavirus.pdf" target="_blank" class="card-link">Ver Más</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/covid/2da_entrega.PNG" class="card-img-top" alt="2da entrega covid19">
          <div class="card-body">
            <h5 class="card-title">Uso de guantes y cubrebocas</h5>
            <br>
            <a href="assets/content/covid/2da_entrega_Uso_de_guantes_y_cubrebocas.pdf" target="_blank" class="card-link">Ver Más</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/covid/3ra_entrega.PNG" class="card-img-top" alt="3ra entrega covod19">
          <div class="card-body">
            <h5 class="card-title">Alimentación en el paciente sano durante la cuarentena</h5>
            <a href="assets/content/covid/3ra_entrega_Alimentacion_correcta_en_la_cuarentena.pdf" target="_blank" class="card-link">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="card-group mb-3">
        <div class="card">
          <img src="assets/img/covid/4ta_entrega.PNG" class="card-img-top" alt="4ta entrega covod19">
          <div class="card-body">
            <h5 class="card-title">Mitos sobre el covid-19</h5>
            <br>
            <a href="assets/content/covid/4ta_entrega_Mitos_COVID.pdf" target="_blank" class="card-link">Ver Más</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/covid/5ta_entrega.PNG" class="card-img-top" alt="5ta entrega covid19">
          <div class="card-body">
            <h5 class="card-title">Ejercicio y covid-19</h5>
            <br>
            <a href="assets/content/covid/5ta_entrega_Ejercicio_y_COVID.pdf" target="_blank" class="card-link">Ver Más</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/covid/6ta_entrega.PNG" class="card-img-top" alt="6ta entrega covod19">
          <div class="card-body">
            <h5 class="card-title">Covid en grupos vulnerables</h5>
            <a href="assets/content/covid/6ta_entrega_Covid_y_grupos_vulnerables.pdf" target="_blank" class="card-link">Ver Más</a>
          </div>
        </div>
      </div>
      <div class="card-group mb-3">
        <div class="card">
          <img src="assets/img/covid/7ma_entrega.PNG" class="card-img-top" alt="7ma entrega covid19">
          <div class="card-body">
            <h5 class="card-title">Lavado de manos, limpieza y desinfección de superficies</h5>
            <a href="assets/content/covid/7ma_entrega_lavado_de_manos_limpieza_y_desinfeccion.pdf" target="_blank" class="card-link">Ver Más</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/covid/8va_entrega.PNG" class="card-img-top" alt="8va entrega covod19">
          <div class="card-body">
            <h5 class="card-title">Cuidado del enfermo de covid en casa</h5>
            <br>
            <a href="assets/content/covid/8va_entrega_cuidados_del_enfermo_COVID.pdf" target="_blank" class="card-link">Ver Más</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>