<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia17-final-de-beisbol-endcut-2018/img1-final-besibol-endcut-2018.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia17-final-de-beisbol-endcut-2018/img1-final-besibol-endcut-2018.jpg"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia17-final-de-beisbol-endcut-2018/img2-final-besibol-endcut-2018.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia17-final-de-beisbol-endcut-2018/img2-final-besibol-endcut-2018.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia17-final-de-beisbol-endcut-2018/img3-final-besibol-endcut-2018.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia17-final-de-beisbol-endcut-2018/img3-final-besibol-endcut-2018.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
        <!-- normal -->
        <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia17-final-de-beisbol-endcut-2018/img4-final-besibol-endcut-2018.jpg"
            data-lightbox="roadtrip">
            <div class="img"><img src="assets/img/noticias/noticia17-final-de-beisbol-endcut-2018/img4-final-besibol-endcut-2018.jpg"
                alt="img"></div>
          </a></div>
        <!-- end normal -->
      </div>

  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">FINAL DE BÉISBOL ENDCUT 2018.</h3>
        <p class="text-right font-weight-bold font-italic">10 de febrero del 2018</p>
        <p>En el marco de la participación, de este año, en los encuentros deportivos entre Universidades Tecnológicas, se llevó a cabo la final directa de Béisbol, teniendo como protagonistas a la Universidad Tecnológica de Salamanca vs la Universidad Tecnológica Laja Bajío (Celaya), en dicho encuentro la UTS obtuvo la victoria quedando 8 carreras a 0 en la 6 entrada, y gracias a este resultado se obtuvo el pase al Encuentro Nacional que se celebrará en Guadalajara, Jalisco, el próximo 22 de marzo del presente año.</p>      </article>
      <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>

</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>