<!--Ventana modal pagina principal -->
<div class="modal fade bd-example-modal-lg" id="mostrarmodal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="assets/img/pagina-principal/informacion_importante.png" alt="">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="row">
          <div class="col-md-12">
            <h5>Relación de Asignación de Aulas para el Cuatrimestre Mayo-Agosto 2022</h5>
            <a href="assets/content/horarios/may_ago_2022/Asignacion_de_Aulas_MayAgo_2022.pdf" target="_blank">
              <button type="button" class="btn btn-outline-info mb-2 mr-2">Ver Más</button>
            </a>
            <div class="progress mb-3" style="height: 1px;"></div>
            <h5>Requisitos de Re-Inscripción Mayo-Agosto de 2022</h5>
            <a href="assets/content/tramites-internos/REQUISITOS_RE-INSCRIPCION_MAYO_AGOSTO_2022.pdf" target="_blank">
              <button type="button" class="btn btn-outline-info mb-2 mr-2">Ver Requisitos</button>
            </a>
            <div class="progress mb-3" style="height: 1px;"></div>
            <h5>Requisitos para la Preinscripción Generación 14.0 de TSU</h5>
            <a href="assets/content/tramites-internos/REQUISITOS_DE_PREINSCRIPCION_GEN_14.0_2022.pdf"
              target="_blank">
              <button type="button" class="btn btn-outline-info mb-2 mr-2">Ver Más</button>
            </a>
            <div class="progress mb-3" style="height: 1px;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--FIN Ventana modal pagina principal -->