<!--Ventana modal pagina principal -->
<div class="modal fade bd-example-modal-lg" id="mostrarmodal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="assets/img/pagina-principal/informacion_importante.png" alt="" />

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="row">

          <!--Carousel de Esquelas-->
          <!-- <div class="col-md-6">
            <div id="carouselEsquelas" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active">
                  <a>
                    <img class="d-block w-100"
                      src="assets/img/informacion-importante/Graduacion-A.jpg"
                      alt="Graduación Gen 13" title="Graduación Gen 13">
                  </a>
                </div>
                <div class="carousel-item">
                  <a>
                    <img class="d-block w-100"
                      src="assets/img/informacion-importante/Graduacion-B.jpg"
                      alt="Graduación Gen 13.5" title="Graduación Gen 13.5">
                  </a>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselEsquelas" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselEsquelas" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div> -->
          <!--Fin de carousel-->

          <div class="col-md-12 mb-3">
            <div class="progress mb-3" style="height: 1px"></div>
            <h5>Requisitos de Titulación</h5>
            <h5>Generación: 15.5 de TSU</h5>
            <a href="assets/content/tramites-internos/Requisitos_Titulacion_Gen_15.5_TSU.pdf"
              class="btn btn-outline-info mb-2 mr-2" target="_blank">
              Ver Requisitos
            </a>
            <div class="progress mb-3" style="height: 1px"></div>
            <h5>Requisitos de Inscripción</h5>
            <h5>Generación: 15.5 de Ingeniería y Licenciatura</h5>
            <a href="assets/content/tramites-internos/REESC018-D_REQUISITOS_DE_INSCRIPCION_ING-LIC_GEN_15.5.pdf"
              class="btn btn-outline-info mb-2 mr-2" target="_blank">
              Ver Requisitos
            </a>
            <div class="progress mb-3" style="height: 1px"></div>
            <h5>Requisitos de Pre-Inscripción</h5>
            <h5>Generación 17.5 de Técnico Superior Universitario</h5>
            <a href="assets/content/tramites-internos/REESC020-B_REQUISITOS_DE_PREINSCRIPCION_17.5_TSU_EXAMEN_06_12_2025.pdf"
              class="btn btn-outline-info mb-2 mr-2" target="_blank">
              Ver Requisitos
            </a>
            <div class="progress mb-3" style="height: 1px"></div>
            <h5>Comunicado 24</h5>
            <h5>Canje de Tarjetones Vehiculares de alumnos</h5>
            <a href="assets/content/informacion-importante/Comunicado_24_tarjetones_de_alumnos.pdf"
              class="btn btn-outline-info mb-2 mr-2" target="_blank">
              Ver Comunicado
            </a>
            <div class="progress mb-3" style="height: 1px"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!--FIN Ventana modal pagina principal -->