<!--Ventana modal pagina principal -->
<div class="modal fade bd-example-modal-lg" id="mostrarmodal" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="assets/img/pagina-principal/informacion_importante.png" alt="">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="row">
           <div class="col-md-6">
            <div id="carouselEsquelas" class="carousel slide carousel-fade" data-ride="carousel">
              <div class="carousel-inner">
          
                <div class="carousel-item active">
                  <a>
                    <img class="d-block w-100" src="assets/img/informacion-importante/CACECA-ACREDITACION-ADMINISTRACION-CAPITAL-HUMANO.jpg"
                      alt="CACECA" title="CACECA">
                  </a>
                </div>
                <!--<div class="carousel-item">
                  <a>
                    <img class="d-block w-100" src="assets/img/informacion-importante/ESQUELA-MANUEL-SANDOVAL-GARCIA.png"
                      alt="Manuel Sandoval García" title="Manuel Sandoval García">
                  </a>
                </div>-->

              </div>
              <!--<a class="carousel-control-prev" href="#carouselEsquelas" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselEsquelas" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>-->
            </div>
            
          </div>
          <div class="col-md-6 mt-3">
            <h5>Requisitos para la Preinscripción Generación 15.0 de TSU.</h5>
            <a href="assets/content/tramites-internos/REQUISITOS_DE_PREINSCRIPCION_GEN_15.0.pdf"
              target="_blank">
              <button type="button" class="btn btn-outline-info mb-2 mr-2">Ver Requisitos</button>
            </a>
            <div class="progress mb-3" style="height: 1px;"></div>
            <h5>Convocatoria TALEN-TIC 2023.</h5>
            <a href="assets/content/convocatorias-externas/Convocatoria_TALEN_TIC_2023.pdf"
              target="_blank">
              <button type="button" class="btn btn-outline-info mb-2 mr-2">Ver Convocatoria</button>
            </a>
            <div class="progress mb-3" style="height: 1px;"></div>
            <h5>Convocatoria Innovación Juvenil 2023.</h5>
            <a href="assets/content/convocatorias-externas/CONVOCATORIA_INNOVACION_JUVENIL2023.pdf"
              target="_blank">
              <button type="button" class="btn btn-outline-info mb-2 mr-2">Ver Convocatoria</button>
            </a>
            <div class="progress mb-3" style="height: 1px;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--FIN Ventana modal pagina principal -->