<title>UTS | IMET</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Ingeniería en Mecatrónica</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">IMET</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <div class="ih-item square effect7 mb-4">
          <a href="#">
            <div class="img">
              <img src="assets/img/carreras/banner_ING_MET.png" alt="IMET">
            </div>
          </a>
        </div>
        <!-- fin efecto hover -->
        <div class="row mb">
          <div class="col-sm-3">
            <img class="rounded mx-auto d-block" src="assets/img/carreras/LOGO_IM.png" style="width: 138px; height: 138px;" alt="IMET">
          </div>
          <div class="col-sm-9">
            <p class="mt-3 text-justify">El Ingeniero en Mecatrónica cuenta con las competencias profesionales necesarias para su desempeño en el campo
              laboral, en el ámbito local, regional y nacional. </p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-competencias-tab" data-toggle="pill" href="#v-pills-competencias" role="tab" aria-controls="v-pills-competencias"
                aria-selected="true">COMPETENCIAS PROFESIONALES</a>
              <a class="nav-link" id="v-pills-escenarios-tab" data-toggle="pill" href="#v-pills-escenarios" role="tab" aria-controls="v-pills-escenarios"
                aria-selected="false">ESCENARIOS DE ACTUACIÓN</a>
              <a class="nav-link" id="v-pills-ocupaciones-tab" data-toggle="pill" href="#v-pills-ocupaciones" role="tab" aria-controls="v-pills-ocupaciones"
                aria-selected="false">OCUPACIONES PROFESIONALES</a>
              <a class="nav-link" id="v-pills-plan-tab" data-toggle="pill" href="#v-pills-plan" role="tab" aria-controls="v-pills-plan"
                aria-selected="false">PLAN DE ESTUDIOS</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content text-justify" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-competencias" role="tabpanel" aria-labelledby="v-pills-competencias-tab">
                <div class=" mt-3">
                  <p>Las competencias profesionales son las destrezas y actitudes que permiten al Ingeniero desarrollar actividades
                    en su área profesional, adaptarse a nuevas situaciones, así como transferir, si es necesario, sus conocimientos,
                    habilidades y actitudes a áreas profesionales próximas. </p>
                  <p class="font-weight-bold">Competencias Genéricas:</p>
                  <ul>
                    <li>Plantear y solucionar problemas con base en los principios y teorías de física, química y matemáticas,
                      a través del método científico para sustentar la toma de decisiones en los ámbitos científico y tecnológico.</li>
                    <li>Desarrollar y fortalecer las habilidades instrumentales, interpersonales, sistémicas y directivas para
                      comunicarse en un segundo idioma.</li>
                  </ul>
                  <p class="font-weight-bold">Competencias Específicas:</p>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="badge badge-success badge-pill mr-2">1</span>
                      Desarrollar proyectos de automatización y control, a través del diseño, administración y aplicación de nuevas tecnologías
                      para satisfacer las necesidades del sector productivo.
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-success badge-pill mr-2">1.1</span>
                        Diseñar sistemas eléctricos, mecánicos y electrónicos a través de proyectos integradores, para automatizar y controlar procesos
                        productivos. </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-success badge-pill mr-2">1.2</span>
                        Administrar recursos humanos, materiales y energéticos considerando el diseño y requerimientos de conservación de un sistema
                        de Automatización y control, a través de la metodología de administración por proyectos para la efectiva
                        implementación del proyecto. </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-success badge-pill mr-2">1.3</span>
                        Dirigir Proyectos integrados de sistemas eléctricos, mecánicos y electrónicos a través del plan de desarrollo y de conservación
                        para su eficaz implementación en la automatización y control de sistemas.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-escenarios" role="tabpanel" aria-labelledby="v-pills-escenarios-tab">
                <div class="mt-2">
                  <p>El Ingeniero en Mecatrónica, podrá desenvolverse en:</p>
                  <ul>
                    <li>Empresas públicas y privadas dedicadas a procesos productivos industriales.</li>
                    <li>Empresas concesionarias de equipos automáticos y máquinas autómatas y de venta de partes.</li>
                    <li>Empresa propia de diseño, desarrollo y mantenimiento en sistemas industriales mecatrónicos en automatización
                      y control.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-ocupaciones" role="tabpanel" aria-labelledby="v-pills-ocupaciones-tab">
                <div class="mt-2">
                  <p>El Ingeniero en Mecatrónica podrá desempeñarse como:</p>
                  <ul>
                    <li>Ingeniero de diseño de sistemas mecatrónicos en automatización y control.</li>
                    <li>Consultor de proyectos de integración de sistemas automáticos y de control.</li>
                    <li>Investigador y desarrollador de tecnológicas en automatización.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-plan" role="tabpanel" aria-labelledby="v-pills-plan-tab">
                <div class="mt-2">
                  <h5>Sistema escolarizado</h5>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">7º Cuatrimestre</div>
                      <div class="card-body small">
                        <li>MATEMÁTICAS PARA INGENIERÍA I</li>
                        <li>FÍSICA PARA INGENIERÍA</li>
                        <li>INSTRUMENTACIÓN VIRTUAL</li>
                        <li>ELECTRICIDAD INDUSTRIAL</li>
                        <li>INGLÉS VI</li>
                        <li>ADMINISTRACIÓN DEL TIEMPO</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">8º Cuatrimestre</div>
                      <div class="card-body small">
                        <li>MATEMÁTICAS PARA INGENIERÍA II</li>
                        <li>MECÁNICA PARA LA AUTOMATIZACIÓN</li>
                        <li>CONTROL DE MOTORES II</li>
                        <li>DISEÑO ASISTIDO POR COMPUTADORA</li>
                        <li>INGLÉS VII</li>
                        <li>PLANEACIÓN Y ORGANIZACIÓN DEL TRABAJO</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">9º Cuatrimestre</div>
                      <div class="card-body small">
                        <li>CONTROL AUTOMÁTICO</li>
                        <li>INGENIERÍA DE PROYECTOS</li>
                        <li>SISTEMAS MECÁNICOS II</li>
                        <li>OPTATIVA</li>
                        <li>INGLÉS VIII</li>
                        <li>DIRECCIÓN DE EQUIPOS DE ALTO RENDIMIENTO</li>
                      </div>
                    </div>
                  </div>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">10º Cuatrimestre</div>
                      <div class="card-body small">
                        <li>SISTEMAS DE MANUFACTURA FLEXIBLE</li>
                        <li>CONTROL LÓGICO AVANZADO</li>
                        <li>DISPOSITIVOS DIGITALES PROGRAMABLES</li>
                        <li>INTEGRADORA III</li>
                        <li>INGLÉS IX</li>
                        <li>NEGOCIACIÓN EMPRESARIAL</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">Estadía</div>
                      <div class="card-body">
                        <p class="text-center">
                          480 HRS.
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>