<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>Firma de convenio con el CETis No. 62</h3>
          <small class="text-muted">Salamanca, Gto. 14 de noviembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia39/img2.JPG" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>Salamanca, Gto. a 14 de noviembre de 2022. Como parte de las actividades de la Dirección de Vinculación y
          Extensión Universitaria, se llevó a cabo la firma del acuerdo específico de colaboración, entre el Centro de
          Estudios Tecnológicos Industrial y de Servicios (CETis) No. 62, representado por su Directora, la MTI Brisa
          Elena García Ramírez, y la Universidad Tecnológica de Salamanca, representado por el Lic. Fernando Trujillo
          Jiménez, Rector de nuestra casa de estudios.</p>
        <p>Dicho convenio tiene como objetivo establecer las bases y mecanismos mediante los cuales ambas Instituciones
          coordinarán sus actividades, tendientes a impulsar y permitir el ingreso de alumnos egresados del CETIS 62,
          además de confirmar el compromiso de ambas instituciones para realizar acciones conjuntas en beneficio de las
          y los jóvenes salmantinos.</p>
        <p>Además de llevarse a cabo la firma protocolaria, se realizó un recorrido por las instalaciones del CETIS No.
          62, en donde se tuvo la oportunidad de conversar con estudiantes del plantel.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>