<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia23-Instalacion-y-capacitacion-del-Filtro-Prensa/img1-instalacion-filtro-prensa.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia23-Instalacion-y-capacitacion-del-Filtro-Prensa/img1-instalacion-filtro-prensa.jpg"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia23-Instalacion-y-capacitacion-del-Filtro-Prensa/img2-instalacion-filtro-prensa.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia23-Instalacion-y-capacitacion-del-Filtro-Prensa/img2-instalacion-filtro-prensa.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia23-Instalacion-y-capacitacion-del-Filtro-Prensa/img3-instalacion-filtro-prensa.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia23-Instalacion-y-capacitacion-del-Filtro-Prensa/img3-instalacion-filtro-prensa.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia23-Instalacion-y-capacitacion-del-Filtro-Prensa/img4-instalacion-filtro-prensa.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia23-Instalacion-y-capacitacion-del-Filtro-Prensa/img4-instalacion-filtro-prensa.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>
  </div>
  <!--Fin Galeria de Imagenes-->


  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">Instalación y capacitación del Filtro Prensa (Mod/CM-250-10-PL&FR-PP-304SS).</h3>
        <p class="text-right font-weight-bold font-italic">25 de mayo del 2018</p>
        <p class="font-weight-bold">Objetivo:</p>
        <p>Conocer el funcionamiento y las partes del equipo Filtro Prensa por parte de los profesores, alumnos y personal
          de Coordinación del Laboratorio de Química, para la enseñanza académica y desarrollos de proyectos.</p>
        <p class="font-weight-bold">Descripción de las actividades:</p>
        <p>10h00 – 11h00. instalación del Equipo filtro Prensa en laboratorio de Equipos de la UTS por parte del Dr. Alejandro
          Zavarreta (Gerente de la empresa 4E Power and Fuels).</p>
        <p>11h00 – 12h00. Inicio de la capacitación de funcionamiento del, filtro Prensa en la cual se trataron los temas
          de los componentes que tiene el equipo como bomba y placas de filtración, mantenimiento y limpieza del equipo,
          así como el fundamento y aplicaciones que tiene este.</p>
        <p>12h30 – 13h30. Puesta en marcha del equipo, se realizó una prueba con agua y avena, donde los alumnos tuvieron
          la oportunidad de manipular el equipo y reafirmar los conocimientos adquiridos en clases y la capacitación, posteriormente
          se realizaron 2 pruebas más para aclarar algunas dudas que se tuviesen, concluyendo la capacitación satisfactoriamente
          por parte de todo los asistentes.</p>
        <p class="font-weight-bold">Notas:</p>
        <p>El equipo FILTRO PRENSA, es un filtro que opera a alta presión diferencial a través de medio filtrante para lograr
          económicamente una filtración rápida con líquidos viscosos o con sólidos firmes; este equipo se compone de un conjunto
          de placas diseñadas para proporcionar una serie de cámaras o compartimientos en los que se pueden recoger los sólidos.
          Este equipo se ocupa en la industria azucarera, clarificación de vinos, en la industria minera, la industria alimenticia
          para la elaboración de jugos, tratamiento de lodos producidos en el tratamiento de las aguas residuales entre otras
          aplicaciones.</p>
        <p>Es un equipo de interés la para la enseñanza académica como para el desarrollo de proyectos en la Universidad
          Tecnológica de Salamanca.</p>
      </article>
    </div>
    <!--Fin Descripción del evento-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>