<title>UTS | Actividades Culturales y Deportivas</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Actividades Culturales y Deportivas</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Actividades Culturales y Deportivas</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="actividades-culturales-deportivas">
  <div class="row">
    <div class="col-md-8 col-lg-9 text-justify">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4">
        <a>
          <div class="img">
            <img src="assets/img/actividades-culturales/Cultura-y-deporte.png" alt="Actividades Culturales y Deportivas">
          </div>
        </a>
      </div>
      <!-- fin efecto hover -->
      <p>Las actividades culturales y deportivas se ofertan a la comunidad universitaria con la finalidad de contribuir
        a la formación integral de sus alumnos, apoyando el desarrollo de sus habilidades y con ello fomentar la cultura
        y el deporte.</p>
      <p>Para ello, la Universidad Tecnológica de Salamanca oferta actividades dentro de sus instalaciones y al termino
        de su jornada académica para su comunidad universitaria, en apego al Reglamento Académico,<strong> Artículo 14
          en el cual se menciona la obligatoriedad y cumplimiento de 105 horas</strong> para alumnos de nivel Técnico
        Superior Universitario que abarca del 1er al 3er cuatrimestre.</p>
      <img class="img-fluid mb-4" src="assets/img/actividades-culturales/total-horas.png" alt="Total de horas">
      <p>Los alumnos eligen la actividad cultural o deportiva que sea de su agrado que se adapte a sus horarios y
        durante el cuatrimestre asisten de manera <strong>presencial</strong> al desarrollo de la actividad</p>
      <p>Te invitamos a que sigas nuestro perfil de Facebook <a
          href="https://www.facebook.com/UTSEstadiasyBolsadeempleo" target="_blank"><strong>UTS Cultura y Deporte.</strong></a></p>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/actividades-culturales/Ajedrez.jpg" alt="Ajedrez">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/actividades-culturales/Artes.jpg" alt="Artes Plásticas">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/actividades-culturales/Atletismo.jpg" alt="Atletismo">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/actividades-culturales/Basquetbol.jpg" alt="Basquetbol">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/actividades-culturales/Danza.jpg" alt="Danza Folklórica">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/actividades-culturales/fut.jpg" alt="Futbol">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/actividades-culturales/taekwondo.jpg" alt="Tae-Kwon-Do">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/actividades-culturales/Voleibol.jpg" alt="Voleybol">
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="card text-center mb-4">
        <div class="card-header">
          <p class="font-weight-bold">Para más información:</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Licda. Alejandra Cabrera Loredo</h5>
          <p class="card-text">Encargada de las Actividades Culturales y Deportivas</p>
          <p>Email: <small><a href="mailto:acabrera@utsalamanca.edu.mx">acabrera@utsalamanca.edu.mx</a></small></p>
          <p class="card-text">Horario: Lunes a Viernes de 8h00 a 16h00</p>
          <p class="card-text">Edificio de Centro de Información y Consulta / Biblioteca</p>
          <p class="card-text fa fa-phone-square"> 464 643 52 00 · Ext:5239</p>
        </div>
      </div>
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>