<title>UTS | Actividades Culturales y Deportivas</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Actividades Culturales y Deportivas</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Actividades Culturales y Deportivas</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="actividades-culturales-deportivas">
  <div class="row">
    <div class="col-md-9 text-justify">
      <p>El objetivo primordial de las actividades culturales y deportivas es reforzar la formación académica, complementar
        y coadyuvar al desarrollo, conservación de la salud física y mental del educando. Además, tienden a ser un puente
        de vinculación entre el individuo y su entorno social, formando células en las que se vive y se hace propia la identidad
        cultural y deportiva. </p>
      <p>Estas actividades le ofrecen al estudiante la oportunidad de participar en un mundo deportivo y cultural, el cual les
        permite vivir, viajar, conocer, compartir, así como experimentar imborrables vivencias de amistad e integración,
        que sólo la actitud positiva y el trabajo en equipo puede proporcionar. </p>
      <div class="row">
        <div class="col-sm">
          <div class="alert alert-primary" role="alert">
            <h4>Cultura</h4>
          </div>
          <p>Los planes de estudio de la Universidad Tecnológica de Salamanca evalúan constantemente los términos del saber
            (adquisición de conocimientos), saber hacer (fortalecimiento de habilidades) y ser (desarrollo de actitudes).
            Es en este último rubro donde se desarrolla parte de la preparación cultural que, al combinarla con los conocimientos,
            ayuda a la formación integral de los estudiantes. </p>
          <p>Para impulsar las actitudes y valores en los alumnos, se desarrollan programas artísticos que interesan a los jóvenes
            y los motivan en su continuidad. Se organizan actividades que promueven el intercambio cultural entre las Universidades.
            Las actividades se llevan a cabo por medio de encuentros, conferencias y el seguimiento de la información que
            se difunde de la vida cultural de las Universidades Tecnológicas, en las gacetas, periódicos y boletines.</p>
        </div>
        <div class="col-sm">
          <div class="alert alert-primary" role="alert">
            <h4>Deporte</h4>
          </div>
          <p>La Universidad Tecnológica de Salamanca apoya las actividades deportivas como parte importante de la formación
            integral de los alumnos. Existen disciplinas individuales y en equipo que impulsan la participación y competición
            de nuestros estudiantes en eventos deportivos internos, municipales, estatales y nacionales. La sana competencia
            y los logros deportivos son elementos que fortalecen las habilidades, el perfil académico y la unión entre la
            comunidad universitaria.</p>
          <p>Las actividades Culturales y Deportivas en la Universidad Tecnológica de Salamanca se ofertan para todos y cada
            uno de los alumnos que estudian TSU e Ingeniería, donde ellos tienen la libertad de elegir la actividad de su
            preferencia y de pertenecer al selectivo que más les convenga. </p>

        </div>
      </div>
      <div class="alert alert-success" role="alert">
        <h4>Actividades Culturales y Deportivas como:</h4>
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/ajedrez.png" alt="Ajedrez">
        </div>
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/artes-plasticas.png" alt="Artes Plásticas">
        </div>
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/Atletismo.png" alt="Atletismo">
        </div>
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/Baile-moderno.png" alt="Baile Moderno">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/basquetbol.png" alt="Basquetbol">
        </div>
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/danza_Folklorica.png" alt="Danza Folklórica">
        </div>
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/Futbol.png" alt="Futbol">
        </div>
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/musica.png" alt="Música">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/Pintura.png" alt="Pintura">
        </div>
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/tae-kwon-do.png" alt="Tae-Kwon-Do">
        </div>
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/Teatro.png" alt="Teatro">
        </div>
        <div class="col-sm">
          <img src="assets/img/actividades-culturales/Voleybol.png" alt="Voleybol">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>