<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">

  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>Intercambio académico estudiantil, dentro del área de inglés, entre la UTS y UTNG</h3>
          <small class="text-muted">25 de febrero del 2019</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">

          <img class="img-fluid" src="assets/img/noticias/noticia32/img.jpg">

        </div>
      </div>
      <div class="text-justify mt-3">
        <p><strong>DESCRIPCIÓN:</strong></p>
        <p>Se realizó un recorrido por las instalaciones de la UTS. Posteriormente,
          los estudiantes de la UTNG participaron en las actividades
          correspondientes al nivel de inglés que tenían. Tomaron clases en las
          aulas y con los docentes de la UTS, mientras el docente visitante, dio
          una plática a los estudiantes de otros grupos de la UTS sobre la
          importancia de hablar bien inglés. Se intercambiaron experiencias y
          pudieron vivir las clases en otro contexto, utilizando el idioma inglés
          como medio de conocimiento. <br></p>
        <p><strong>RESULTADOS:</strong></p>
        <ul>
          <li>Se logró reafirmar los aprendizajes correspondientes al nivel de inglés de nuestros estudiantes.</li>
          <li>Nuestros estudiantes practicaron su nivel de inglés con sus pares.</li>
          <li>Convivieron con estudiantes de otra Institución.</li>
          <li>Se sigue dando seguimiento al convenio d colaboración con la UTNG.<br></li>
        </ul>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>