<section class="bg-light p-3">
  <h6 class="mt-3 mt-sm-0">EVENTOS EXTERNOS</h6>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
         <a href="https://jornadascoepes.uveg.edu.mx/" target="_blank">
           <img class="d-block w-100" src="assets/img/eventos-externos/Conferencia_Mtro_Jorge_Enrique_Hernandez_Meza_Jornadas_EVAD_COEPES_2021.jpeg"
             alt="Conferencia Magistral El Futuro de la Educación Superior en México" title="Ver más información.">
         </a>
      </div>
      <div class="carousel-item">
         <a href="https://jornadascoepes.uveg.edu.mx/" target="_blank">
           <img class="d-block w-100" src="assets/img/eventos-externos/Conferencia_Jorge_Lerdo_de_Tejada_Jornadas_EVAD_COEPES_2021.jpeg"
             alt="Conferencia Magistral El Futuro de la Educación" title="Ver más información.">
         </a>
      </div>
      <div class="carousel-item">
         <a href="http://www.conies.mx" target="_blank">
           <img class="d-block w-100" src="assets/img/eventos-externos/CONIES_2021.jpg"
             alt="CONIES 2021" title="Ver más información.">
         </a>
      </div>
      <div class="carousel-item">
         <a href="https://unidos.guanajuato.gob.mx/" target="_blank">
           <img class="d-block w-100" src="assets/img/eventos-externos/CAMP-MANO-A-MANO.png"
             alt="MANO A MANO" title="Ver más información.">
         </a>
      </div>
      <div class="carousel-item">
         <a href="https://expoagua.guanajuato.gob.mx/espacio-acuoso/" target="_blank">
           <img class="d-block w-100" src="assets/img/eventos-externos/Facebook_publicacion_espacio_acuoso_2021.jpg"
             alt="Espacio Acuoso 2021" title="Ver más información.">
         </a>
      </div>
       <div class="carousel-item">
          <a href="https://contigoenladistancia.cultura.gob.mx/registro-newsletter" target="_blank">
            <img class="d-block w-100" src="assets/img/eventos-externos/banner-cartelera-cultural-a-distancia.jpg"
              alt="Cartelera Cultural a Distancia" title="Haz clic aquí y registrate">
          </a>
       </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
