<section class="bg-light p-3">
  <h6 class="mt-3 mt-sm-0">EVENTOS EXTERNOS</h6>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://ffiel.com/universidad" target="_blank">
          <img class="d-block w-100" src="assets/img/eventos-externos/Redes_5_Copa_Universitaria.jpg"
            alt="5a copa mundial de fotografía" title="5a copa mundial de fotografía">
        </a>
      </div>
      <div class="carousel-item">
        <a href="assets/content/eventos-externos/Convocatoria_Embajadoras_y_Embajadores_por_la_Democracia.pdf" target="_blank">
          <img class="d-block w-100" src="assets/img/eventos-externos/EMBAJADORES-2022-06-17-IEEG-NUEVAGENERACION.png"
            alt="CONVOCATORIA EMBAJADORAS Y EMBAJADORES POR LA DEMOCRACIA" title="CONVOCATORIA EMBAJADORAS Y EMBAJADORES POR LA DEMOCRACIA">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://citas.sre.gob.mx/" target="_blank">
          <img class="d-block w-100" src="assets/img/eventos-externos/InfografIa_3.png"
            alt="#MiConsulado" title="#MiConsulado">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://contigoenladistancia.cultura.gob.mx/registro-newsletter" target="_blank">
          <img class="d-block w-100" src="assets/img/eventos-externos/banner-cartelera-cultural-a-distancia.jpg"
            alt="Cartelera Cultural a Distancia" title="Haz clic aquí y registrate">
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>