<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img
    src="assets/img/noticias/banner_noticias.jpg"
    alt="Últimas Noticias"
    title="Últimas Noticias"
  />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>Actividades del “Día de muertos” en la UTS</h3>
          <small class="text-muted"
            >Salamanca, Gto. 08 de noviembre del 2022</small
          >
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia37/img3.JPG" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>
          Salamanca, Gto. a 08 de noviembre de 2022. Estudiantes de la Universidad Tecnológica de Salamanca participaron en diversas actividades convocadas por el área de Cultura y Deporte, con el propósito de preservar las tradiciones mexicanas.
        </p>
        <p>
          Se llevó a cabo el concurso “Pasarela de Catrín o Catrina”, cuya dinámica consistió en que los estudiantes participantes asistieron, el jueves 27 de octubre, a una sesión fotográfica a cargo del área de Prensa, Promoción y Difusión. Las fotos de la sesión fueron publicadas en la página oficial de Facebook, siendo ganador quien contabilizara el mayor número de “likes” en su fotografía. El conteo de “likes” se cerró el día 1 de noviembre con los siguientes resultados:
        </p>
        <ol>
          <li>Leticia Guadalupe Vargas Correa (LGCH 7° D) con 2,994 likes.</li>
          <li>Georgina Núñez Billagrán (LGCH 10°A) con 2,347 likes.</li>
          <li>Dalia Evelin García Damian (ADC 1°D) con 1,350 likes.</li>
        </ol>
        <p>
          Asimismo, el día 1 de noviembre se llevó a cabo un concurso de tapetes alusivos al Día de Muertos, contando con 7 equipos participantes. El alumnado realizó el montado de los tapetes en los diferentes edificios de la UTS. Los trabajos ganadores fueron los siguientes:
        </p>
        <ol>
          <li>El Mictlán (LGCH 10°C)</li>
          <li>El michi de la vida (ADC 1°D)</li>
          <li>La Calavera Azteca (ADC 4°C)</li>
        </ol>
        <p>
          Finalmente, se llevó a cabo un concurso de mural en gis, con la temática “la lotería mexicana”. Los participantes eligieron una carta de la lotería para realizar una adaptación de ésta, al tema de día de muertos. Los ganadores fueron:
        </p>
        <ol>
          <li>Diego Osvaldo García Muñoz (ADC 6° A) – Obra “La muerta”</li>
          <li>Carlos Isaac Barrón Espinoza (TIS 1° A) – Obra “La botella”</li>
          <li>Johan Ibrahim Zurita (MET 4° C) – Obra “El corazón”</li>
        </ol>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
