<div class="row">
  <div class="col-sm-8 text-right">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mapa" routerLink="/mapa-sitio">Mapa del sitio</a>
      <a class="navbar-brand mail" routerLink="/contacto">Contacto</a>
      <a class="navbar-brand accesibilidad" title="Accesibilidad" href="#">Accesibilidad</a>
      <!--<a class="navbar-brand chat link-mod" href="#">Chat en línea</a>-->
      <!--<a class="navbar-brand chat" data-toggle="modal" data-target="#encuestas">Seguimiento</a>-->

    </nav>
  </div>
  <div class="col-sm-4 redes-center">
    <!--redes-sociales-->
    <a class="youtube" href="https://www.youtube.com/channel/UC7WAk8k8n_Nd91EXH9B1LHA" target="_blank">&nbsp;</a>
    <a class="telegram" href="https://t.me/utsalamanca" target="_blank">&nbsp;</a>
    <a class="instagram" href="https://www.instagram.com/utsoficial/" target="_blank">&nbsp;</a>
    <a class="tiktok" href="https://www.tiktok.com/@utsoficial" target="_blank">&nbsp;</a>
    <a class="twitterX" href="https://twitter.com/UTSoficial" target="_blank">&nbsp;</a>
    <a class="linkedin" href="https://www.linkedin.com/company/18733031/" target="_blank">&nbsp;</a>
    <a class="facebook" href="https://www.facebook.com/Universidad-Tecnol%C3%B3gica-de-Salamanca-UTS-724562784240408/"
      target="_blank">&nbsp;</a>
    <!--fin-redes-sociales-->
  </div>
</div>

<div class="row contenido-section">
  <div class="col-7 col-md-3" style="text-align: center;">
    <a href="/"><img class="img-logo" src="assets/img/pagina-principal/logo-uts-2024.png" alt="Universidad Tecnológica de Salamanca"></a>
  </div>
  <div class="col-md-7 d-none d-md-block">
    <div class="text-center">
      <h1 class="card-title text-uts font-intro-bold">Universidad Tecnológica de Salamanca </h1>
      <h4 class="card-text text-anhelo font-intro-book" style="color:#2B9762">Trasciende a la Vanguardia Educativa</h4>
    </div>
  </div>
  <div class="col-5 col-md-2" style="text-align: center;">
    <a href="https://www.editorialox.com" target="_blank"><img class="img-logo" style="width: 80%;" src="assets/img/pagina-principal/premioaltares.png" 
      alt="Premio Internacional OX 2022" title="Premio Internacional OX 2022"></a>
  </div>
</div>
