<title>UTS | Trámites Internos</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Trámites Internos</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/"> <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Estudiantes UTS
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Trámites Internos
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="tramites-internos">
  <div class="row">
    <div class="col-md-9 text-justify mb-4">
      <div class="panel-group mt-5" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                class="collapsed"
                data-parent="#accordion"
                href="#collapseOne"
                >Aspirantes</a
              >
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="mt-4">
                <img src="assets/img/iconos/pdf-24_32.png" />
                <a
                  href="assets/content/tramites-internos/REESC018-D_REQUISITOS_DE_INSCRIPCION_ING-LIC_GEN_15.5.pdf"
                  target="_blank"
                  >Requisitos de Inscripción Generación: 15.5 de Ingeniería y Licenciatura</a
                >
              </div>
              <div class="mt-4">
                <img src="assets/img/iconos/pdf-24_32.png" />
                <a
                  href="assets/content/tramites-internos/REESC020-B_REQUISITOS_DE_PREINSCRIPCION_17.5_TSU_EXAMEN_06_12_2025.pdf"
                  target="_blank"
                  >Requisitos de Pre-Inscripción Generación 17.5 de Técnico Superior Universitario</a
                >
              </div>
            </div>
          </div>
        </div>
        <!--/ Panel 1 end-->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                class="collapsed"
                data-parent="#accordion"
                href="#collapseTwo"
                >Bajas</a
              >
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="font-weight-bold">Procedimiento:</p>
              <ol>
                <li>
                  Pasar con el profesor de Tiempo Completo para realizar una
                  entrevista y aplicar la baja.
                </li>
                <li>
                  Acudir al Departamento de Servicios Escolares donde se
                  entregará el formato de sellos y firmas de no adeudo para su
                  respectivo llenado; y
                </li>
                <li>
                  Al momento de entregar el formato firmado y sellado (formato
                  de baja) se entregará documentos originales en caso de baja
                  Definitiva y solo copias en caso de Baja temporal.
                </li>
              </ol>
              <p class="font-weight-bold">Tipos de Bajas:</p>
              <ul class="font-weight-bold">
                <li>
                  Baja Académica Temporal:
                  <span class="font-weight-normal">
                    El estudiante Regular que aprueba alguna de sus asignaturas,
                    agotando los procesos de la evaluación de recuperación, de
                    la evaluación extraordinaria y no le es posible
                    reinscribirse al cuatrimestre que reprobó, y cuando el
                    estudiante abandone su periodo de estadía profesional.</span
                  >
                </li>
                <li>
                  Baja Académica Definitiva:
                  <span class="font-weight-normal"
                    >El estudiante Condicionado que reprueba alguna de sus
                    asignaturas en cualquier periodo posterior al que adquirió
                    su estatus académico, agotando su proceso de recuperación y
                    cuando el estudiante abandone su periodo de estadía
                    profesional por segunda ocasión.</span
                  >
                </li>
                <li>
                  Baja Voluntaria Temporal:
                  <span class="font-weight-normal"
                    >El estudiante que voluntariamente interrumpe sus estudios;
                    a solicitud escrita ante Dirección y sin retirar sus
                    documentos de Escolares.
                  </span>
                </li>
                <li>
                  Baja Voluntaria Definitiva:
                  <span class="font-weight-normal"
                    >El estudiante que decide retirarse voluntariamente de la
                    UTS; notificando por escrito su deseo de no regresar a la
                    UTS y retirando sus documentos de Escolares.</span
                  >
                </li>
                <li>
                  Baja Administrativa Temporal:
                  <span class="font-weight-normal"
                    >El estudiante que no complete en tiempo y forma el proceso
                    de inscripción; quien no haya entregado su Certificado de
                    Bachillerato Original tal como se establece en el Artículo 6
                    del presente reglamento; y quien así sea sancionado por
                    Comisión de Honor y Justicia.</span
                  >
                </li>
                <li>
                  Baja Administrativa Definitiva:
                  <span class="font-weight-normal"
                    >El estudiante que así sea sancionado por la Comisión de
                    Honor y Justicia.</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--/ Panel 2 end-->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                class="collapsed"
                data-parent="#accordion"
                href="#collapseThree"
                >Equivalencias</a
              >
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Pendiente (se está trabajando con las áreas correspondientes
                para su actualización).
              </p>
            </div>
          </div>
        </div>
        <!--/ Panel 3 end-->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                class="collapsed"
                data-parent="#accordion"
                href="#collapseFour"
                >Reingresos o Altas Intermedias</a
              >
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Este proceso aplica cuando un alumno tramitó una baja temporal o
                de otra UT y decide reincorporarse para el periodo inmediato.
              </p>
              <p class="font-weight-bold">Procedimiento:</p>
              <ol>
                <li>Obtener aprobación por escrito del Director de Carrera.</li>
                <li>
                  Entregar aprobación a Servicios Escolares para proceder su
                  reinscripción.
                </li>
                <li>
                  Seguir el procedimiento de reinscripción según Calendario
                  Escolar y fechas de reinscripción.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <!--/ Panel 4 end-->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                class="collapsed"
                data-parent="#accordion"
                href="#collapseFive"
                >Reinscripción</a
              >
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="mt-4">
                <img src="assets/img/iconos/pdf-24_32.png" />
                <a
                  href="assets/content/tramites-internos/REQUISITOS-RE-INSCRIPCION-SEP-DIC-25.pdf"
                  target="_blank"
                >
                  REQUISITOS DE RE-INSCRIPCIÓN CUATRIMESTRE SEPTIEMBRE - DICIEMBRE DE 2025
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--/ Panel 5 end-->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                class="collapsed"
                data-parent="#accordion"
                href="#collapseSix"
                >Solicitud de Referencia</a
              >
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <div>
                <img src="assets/img/iconos/pdf-24_32.png" />
                <a
                  href="assets/content/tramites-internos/PlataformaPagos.pdf"
                  target="_blank"
                >
                  Procedimiento para realizar el pago de servicios.
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--/ Panel 5 end-->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                data-toggle="collapse"
                class="collapsed"
                data-parent="#accordion"
                href="#collapseSeven"
                >Titulación</a
              >
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="mt-4">
                <!-- <p>Pendiente de publicarse.</p> -->
                <img src="assets/img/iconos/pdf-24_32.png" />
                <a
                  href="assets/content/tramites-internos/Requisitos_Titulacion_Gen_15.5_TSU.pdf"
                  target="_blank"
                  >TRÁMITE DE TITULACIÓN DE TSU GENERACIÓN (GENERACIÓN 15.5)</a
                >
              </div>
            </div>
          </div>
        </div>
        <!--/ Panel 7 end-->
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
