<title>UTS | Normativa</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Normativa</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Transparencia</li>
            <li class="breadcrumb-item active" aria-current="page">Normativa</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="normativa">
  <div class="row">
    <div class="col-md-9">
      <h4 class="text-center">NORMATIVA</h4>
      <hr />
      <p><span class="font-weight-bold"></span> Ley de Ingresos del Estado de Guanajuato para el
        Ejercicio Fiscal de 2022 y Ley del Presupuesto General de Egresos del Estado de Guanajuato para el Ejercicio
        Fiscal de 2022</p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th scope="col">Nombre</th>
              <th scope="col">Documento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Iniciativa de Ingresos y Egresos 2022</td>
              <td><a href="assets/content/normativa/2022/05_Oficio_Paquete_Fiscal_Ingresos_2022_oficio_y_anexo.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Dictamen Ingresos 2022</td>
              <td><a href="assets/content/normativa/2022/19__DECRETO_LEY_DE_INGRESOS_ESTADO_2022.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Dictamen Egresos 2022</td>
              <td><a href="assets/content/normativa/2022/14_Dictamen_Ley_del_Presupuesto_General_de_Egresos_2022.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>

            <tr>
              <td>Decreto de la Ley de Ingresos del Estado de Guanajuato para el Ejercicio Fiscal de 2022</td>
              <td><a
                  href="assets/content/normativa/2022/Ley_de_Ingresos_de_Guanajuato_para_el_Ejercicio_Fiscal_del_A_o_2022.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Decreto de la Ley del Presupuesto General de Egresos del Estado de Guanajuato para el Ejercicio Fiscal
                de 2022</td>
              <td><a
                  href="assets/content/normativa/2022/Ley_del_Presupuesto_General_de_Egresos_del_Estado_de_Guanajuato_Ejercicio_Fiscal_2022.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>