<title>UTS | Normativa</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Normativa</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Transparencia</li>
            <li class="breadcrumb-item active" aria-current="page">Normativa</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="normativa">
  <div class="row">
    <div class="col-md-9">
      <h4 class="text-center">NORMATIVA</h4>
      <hr />
      <p><span class="font-weight-bold"> Artículo 63.- </span> La Iniciativa de Ley de Ingresos, el Proyecto de Presupuesto de Egresos y demás documentos de los entes públicos que dispongan los ordenamientos legales, deberán publicarse en las respectivas páginas de Internet.</p>
      <p class="font-weight-bold"> Ingresos:</p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th scope="col">Nombre</th>
              <th scope="col">Documento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>64355.- Iniciativa Ley de Ingresos 2020</td>
              <td><a href="assets/content/normativa/INGRESOS_2020/INICIATIVA_LEY_DE_INGRESOS_2020.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>540.- Dictamen Ley de Ingresos 2020</td>
              <td><a href="assets/content/normativa/INGRESOS_2020/DICTAMEN_LEY_DE_INGRESOS_2020.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>167.- Ley de Ingresos 2020</td>
              <td><a href="assets/content/normativa/INGRESOS_2020/LEY_DE_INGRESOS_2020.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
           
          </tbody>
        </table>
      </div>

      <p class="font-weight-bold"> Egresos:</p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th scope="col">Nombre</th>
              <th scope="col">Documento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>64356.- Exposición de motivos Ley Ppto de Egresos 2020</td>
              <td><a href="assets/content/normativa/EGRESOS_2020/EXPOSICION_DE_MOTIVOS_LEY_DE_PPTO_DE_EGRESOS_2020.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>541.- Dictamen Ley del Ppto de Egresos 2020</td>
              <td><a href="assets/content/normativa/EGRESOS_2020/DICTAMEN_LEY_DEL_PPTO_DE_EGRESOS_2020.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>168.- Ley de Presupuesto de Egresos 2020</td>
              <td><a href="assets/content/normativa/EGRESOS_2020/LEY_DE_PRESUPUESTO_DE_EGRESOS_2020.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
           
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>