<title>UTS | Ingeniería en Desarrollo y Gestión de Software</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>INGENIERÍA EN DESARROLLO Y GESTIÓN DE SOFTWARE</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">IDyGS</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <!--
        <div class="ih-item square effect7 mb-4">
          <a href="#">
            <div class="img">
              <img src="assets/img/carreras/FOTOADM.png" alt="IDIE">
            </div>
          </a>
        </div>
        -->
        <!-- fin efecto hover -->
        <div class="row mb-3">
          <!--
          <div class="col-sm-3">
            <img class="rounded mx-auto d-block" src="assets/img/carreras/LOGO_IDIE.png"
              style="width: 138px; height: 138px;" alt="IDIE">
          </div>
          -->
          <div class="col-sm-12">
            <p class="mt-3 text-justify">El Ingeniero en Desarrollo y Gestión de Software cuenta con las
              competencias profesionales necesarias para su desempeño en el campo laboral,
              en el ámbito local, regional y nacional.
            </p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-competencias-tab" data-toggle="pill" href="#v-pills-competencias"
                role="tab" aria-controls="v-pills-competencias" aria-selected="true">COMPETENCIAS PROFESIONALES</a>
              <a class="nav-link" id="v-pills-escenarios-tab" data-toggle="pill" href="#v-pills-escenarios" role="tab"
                aria-controls="v-pills-escenarios" aria-selected="false">ESCENARIOS DE ACTUACIÓN</a>
              <a class="nav-link" id="v-pills-ocupaciones-tab" data-toggle="pill" href="#v-pills-ocupaciones" role="tab"
                aria-controls="v-pills-ocupaciones" aria-selected="false">OCUPACIONES PROFESIONALES</a>
              <a class="nav-link" id="v-pills-plan-tab" data-toggle="pill" href="#v-pills-plan" role="tab"
                aria-controls="v-pills-plan" aria-selected="false">PLAN DE ESTUDIOS</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content text-justify" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-competencias" role="tabpanel"
                aria-labelledby="v-pills-competencias-tab">
                <div class=" mt-3">
                  <p>Las competencias profesionales son las destrezas y actitudes que permiten al
                    Ingeniero desarrollar actividades en su área profesional, adaptarse a nuevas
                    situaciones, así como transferir, si es necesario, sus conocimientos,
                    habilidades y actitudes a áreas profesionales próximas.</p>
                  <p class="font-weight-bold">Competencias Genéricas:</p>
                  <ul>
                    <li>Plantear y solucionar problemas con base en los principios y teorías de
                      matemáticas, a través del método científico para sustentar la toma de
                      decisiones en los ámbitos científico y tecnológico.</li>
                    <li>Desarrollar y fortalecer las habilidades instrumentales, interpersonales,
                      sistémicas y directivas para comunicarse en un segundo idioma.</li>
                  </ul>
                  <p class="font-weight-bold">Competencias Específicas:</p>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="badge badge-success badge-pill mr-2">1</span>
                      Construir soluciones de software y sistemas inteligentes mediante la gestión
                      de proyectos, integración de metodologías, modelos y herramientas de
                      desarrollo bajo la normatividad aplicable para la optimización de proyectos de
                       investigación, innovación, desarrollo tecnológico y de emprendimiento.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-escenarios" role="tabpanel"
                aria-labelledby="v-pills-escenarios-tab">
                <div class="mt-2">
                  <p>El Ingeniero en Desarrollo y Gestión de Software podrá desenvolverse en:</p>
                  <ul>
                    <li>En los sectores privado, público y social, en las diferentes ramas
                      productivas que demanden servicios de desarrollo, integración y gestión de
                      soluciones  de software.</li>
                    <li>En forma independiente mediante la integración de empresas orientadas al desarrollo y
                      consultoría de software.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-ocupaciones" role="tabpanel"
                aria-labelledby="v-pills-ocupaciones-tab">
                <div class="mt-2">
                  <p>El Ingeniero en Desarrollo y Gestión de Software, podrá desempeñarse como:</p>
                  <ul>
                    <li>Programador Full Stack.</li>
                    <li>Desarrollador de Apps.</li>
                    <li>Líder de proyectos de desarrollo de software.</li>
                    <li>Arquitecto de software.</li>
                    <li>Diseñador de sistemas de información.</li>
                    <li>Gestor para el diseño, ejecución y mantenimiento de sistemas de información.</li>
                    <li>Ejecutivo integrador de tecnologías de vanguardia para optimizar la operación de industrias y empresas.</li>
                    <li>Administrador de proyectos de desarrollo de software.</li>
                    <li>Director/Gerente de Tecnologías de Información.</li>
                    <li>Director/Gerente de Desarrollo de software.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-plan" role="tabpanel" aria-labelledby="v-pills-plan-tab">
                <div class="mt-2">
                  <h5>Sistema escolarizado</h5>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">7º Cuatrimestre</div>
                      <div class="card-body">
                        <li>
                          <small>MATEMÁTICAS PARA INGENIERÍA I</small>
                        </li>
                        <li>
                          <small>Metodologías para el desarrollo de proyectos</small>
                        </li>
                        <li>
                          <small>Arquitecturas de software</small>
                        </li>
                        <li>
                          <small>Experiencia de usuario</small>
                        </li>
                        <li>
                          <small>Seguridad informática</small>
                        </li>
                        <li>
                          <small>INGLÉS VI</small>
                        </li>
                        <li>
                          <small>ADMINISTRACIÓN DEL TIEMPO</small>
                        </li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">8º Cuatrimestre</div>
                      <div class="card-body">
                        <li>
                          <small>MATEMÁTICAS PARA INGENIERÍA II</small>
                        </li>
                        <li>
                          <small>Administración de bases de datos</small>
                        </li>
                        <li>
                          <small>Desarrollo Web profesional</small>
                        </li>
                        <li>
                          <small>Seguridad en el desarrollo de aplicaciones</small>
                        </li>
                        <li>
                          <small>OPTATIVA I</small>
                        </li>
                        <li>
                          <small>INGLÉS VII</small>
                        </li>
                        <li>
                          <small>PLANEACIÓN Y ORGANIZACIÓN DEL TRABAJO</small>
                        </li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">9º Cuatrimestre</div>
                      <div class="card-body">
                        <li>
                          <small>Administración de proyectos de TI</small>
                        </li>
                        <li>
                          <small>Extracción de conocimiento en bases de datos</small>
                        </li>
                        <li>
                          <small>Desarrollo WEB Integral</small>
                        </li>
                        <li>
                          <small>Desarrollo para dispositivos inteligentes</small>
                        </li>
                        <li>
                          <small>INGLÉS VIII</small>
                        </li>
                        <li>
                          <small>DIRECCIÓN DE EQUIPOS DE ALTO RENDIMIENTO</small>
                        </li>
                      </div>
                    </div>
                  </div>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">10º Cuatrimestre</div>
                      <div class="card-body">
                        <li>
                          <small>Gestión del proceso de desarrollo de Software</small>
                        </li>
                        <li>
                          <small>Aplicaciones WEB progresivas</small>
                        </li>
                        <li>
                          <small>INTEGRADORA</small>
                        </li>
                        <li>
                          <small>Desarrollo móvil integral</small>
                        </li>
                        <li>
                          <small>Optativa 1: Creación de Videojuegos</small>
                        </li>
                        <li>
                          <small>INGLÉS IX</small>
                        </li>
                        <li>
                          <small>NEGOCIACIÓN EMPRESARIAL</small>
                        </li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">Estadía</div>
                      <div class="card-body">
                        <p class="text-center">
                          480 HRS.
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
