<title>UTS | IER</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Ingeniería en Energías Renovables</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">IER</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <div class="ih-item square effect7 mb-4">
          <a href="#">
            <div class="img">
              <img src="assets/img/carreras/banner_ERC.png" alt="IER">
            </div>
          </a>
        </div>
        <!-- fin efecto hover -->
        <div class="row mb">
          <div class="col-sm-3">
            <img class="rounded mx-auto d-block" src="assets/img/carreras/LOGO_IER.png" style="width: 138px; height: 138px;" alt="IER">
          </div>
          <div class="col-sm-9">
            <p class="mt-3 text-justify">El Ingeniero en Energías Renovables cuenta con las competencias profesionales necesarias para su desempeño en
              el campo laboral, en el ámbito local, regional y nacional. </p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-competencias-tab" data-toggle="pill" href="#v-pills-competencias" role="tab" aria-controls="v-pills-competencias"
                aria-selected="true">COMPETENCIAS PROFESIONALES</a>
              <a class="nav-link" id="v-pills-escenarios-tab" data-toggle="pill" href="#v-pills-escenarios" role="tab" aria-controls="v-pills-escenarios"
                aria-selected="false">ESCENARIOS DE ACTUACIÓN</a>
              <a class="nav-link" id="v-pills-ocupaciones-tab" data-toggle="pill" href="#v-pills-ocupaciones" role="tab" aria-controls="v-pills-ocupaciones"
                aria-selected="false">OCUPACIONES PROFESIONALES</a>
              <a class="nav-link" id="v-pills-plan-tab" data-toggle="pill" href="#v-pills-plan" role="tab" aria-controls="v-pills-plan"
                aria-selected="false">PLAN DE ESTUDIOS</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content text-justify" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-competencias" role="tabpanel" aria-labelledby="v-pills-competencias-tab">
                <div class=" mt-3">
                  <p>Las competencias profesionales son las destrezas y actitudes que permiten al Ingeniero desarrollar actividades
                    en su área profesional, adaptarse a nuevas situaciones, así como transferir, si es necesario, sus conocimientos,
                    habilidades y actitudes a áreas profesionales próximas. </p>
                  <p class="font-weight-bold">Competencias Genéricas:</p>
                  <ul>
                    <li>Plantear y solucionar problemas con base en los principios y teorías de física, química y matemáticas,
                      a través del método científico para sustentar la toma de decisiones en los ámbitos científico y tecnológico.</li>
                    <li>Desarrollar y fortalecer las habilidades instrumentales, interpersonales, sistémicas y directivas para
                      comunicarse en un segundo idioma.</li>
                  </ul>
                  <p class="font-weight-bold">Competencias Específicas:</p>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="badge badge-success badge-pill mr-2">1</span>
                      Desarrollar sistemas de energías renovables mediante el diseño de soluciones innovadoras, administrando el capital humano,
                      recursos materiales y energéticos para mejorar la competitividad de la empresa y contribuir al desarrollo
                      sustentable de la región. </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="badge badge-success badge-pill mr-2">1.1</span>
                      Diseñar sistemas energéticos mediante la integración de tecnológicas innovadoras para responder a las necesidades del cliente.
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="badge badge-success badge-pill mr-2">1.2</span>
                      Dirigir proyectos energéticos a partir de un plan de implementación para asegurar su puesta en marcha y operación.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-escenarios" role="tabpanel" aria-labelledby="v-pills-escenarios-tab">
                <div class="mt-2">
                  <p>El Ingeniero en Energías Renovables, podrá desenvolverse en:</p>
                  <ul>
                    <li>Empresas e instituciones públicas y privadas que requieran, asistencia en el desarrollo de estrategias
                      relacionadas con el uso eficiente de la energía y al aprovechamiento de energías renovables.</li>
                    <li>Sector Industrial que requieran proyectos, estrategias y planes a favor del aprovechamiento eficiente
                      de la bioenergía, turboenergía, calidad de la energía y energía solar.</li>
                    <li>Industria que demande proyectos enfocados a la transformación de energía a partir de recursos naturales
                      no contaminantes.</li>
                    <li>Organizaciones gubernamentales y no gubernamentales que gestionen y apliquen recursos para proyectos
                      de impacto social y sustentable.</li>
                    <li>Empresas de consultoría enfocadas a realizar proyectos de industria limpia que coadyuven a la disminución
                      de costos energéticos.</li>
                    <li>Empresas de consultoría enfocadas a realizar proyectos de innovación tecnológica-científica.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-ocupaciones" role="tabpanel" aria-labelledby="v-pills-ocupaciones-tab">
                <div class="mt-2">
                  <p>El Ingeniero en Energías Renovables podrá desempeñarse como:</p>
                  <ul>
                    <li>Gerente del departamento de suministro de energía.</li>
                    <li>Director de proyectos en eficiencia energética.</li>
                    <li>Gerente de obra y procesos electromecánicos.</li>
                    <li>Asesor y consultor en diagnósticos energéticos.</li>
                    <li>Director de proyectos de ingeniería implementando energías renovables.</li>
                    <li>Gerente de sistemas, procesos y utilización de la energía eléctrica.</li>
                    <li>Supervisor de proyectos en obra eléctrica.</li>
                    <li>Gerente de sistemas, procesos que utilizan energía renovable.</li>
                    <li>Gerente de diseño y evaluación de nuevos procesos energéticos.</li>
                    <li>Desarrollador de negocios en eficiencia energética y energías renovables.</li>
                    <li>Desarrollador de innovación tecnológica-científica.</li>
                    <li>Entrenador ejecutivo en el área tecnológica-científica.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-plan" role="tabpanel" aria-labelledby="v-pills-plan-tab">
                <div class="mt-2">
                  <h5>Sistema escolarizado</h5>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">7º Cuatrimestre</div>
                      <div class="card-body">
                        <li>
                          <small>MATEMÁTICAS PARA INGENIERÍA I</small>
                        </li>
                        <li>
                          <small>FÍSICA PARA INGENIERÍA</small>
                        </li>
                        <li>
                          <small>INGENIERÍA DE PROYECTOS EN ENERGÍAS RENOVABLES</small>
                        </li>
                        <li>
                          <small>DIRECCIÓN DE PROYECTOS DE SISTEMAS EN ENERGÍAS RENOVABLES</small>
                        </li>
                        <li>
                          <small>ANÁLISIS Y ADQUISICIÓN DE DATOS</small>
                        </li>
                        <li>
                          <small>INGLÉS VI</small>
                        </li>
                        <li>
                          <small>ADMINISTRACIÓN DEL TIEMPO</small>
                        </li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">8º Cuatrimestre</div>
                      <div class="card-body">
                        <li>
                          <small>MATEMÁTICAS PARA INGENIERÍA II</small>
                        </li>
                        <li>
                          <small>DISEÑO DE SISTEMAS</small>
                        </li>
                        <li>
                          <small>DIRECCIÓN DE PROYECTOS DE SISTEMAS EN ENERGÍAS RENOVABLES II</small>
                        </li>
                        <li>
                          <small>OPTATIVA I</small>
                        </li>
                        <li>
                          <small>INGLÉS VII</small>
                        </li>
                        <li>
                          <small>PLANEACIÓN Y ORGANIZACIÓN DEL TRABAJO</small>
                        </li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">9º Cuatrimestre</div>
                      <div class="card-body">
                        <li>
                          <small>CARACTERIZACIÓN DE LOS RECURSOS ENERGÉTICOS</small>
                        </li>
                        <li>
                          <small>MODELADO DE SISTEMAS EN ENERGÍAS RENOVABLES</small>
                        </li>
                        <li>
                          <small>ECONOMÍA ENERGÉTICA</small>
                        </li>
                        <li>
                          <small>DISEÑO DE PROYECTOS DE SISTEMAS SOLARES</small>
                        </li>
                        <li>
                          <small>DISEÑO DE PROYECTOS DE SISTEMAS EN TURBOENERGÍA</small>
                        </li>
                        <li>
                          <small>INGLÉS VIII</small>
                        </li>
                        <li>
                          <small>DIRECCIÓN DE EQUIPOS DE ALTO RENDIMIENTO</small>
                        </li>
                      </div>
                    </div>
                  </div>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">10º Cuatrimestre</div>
                      <div class="card-body">
                        <li>
                          <small>DISEÑO DE PROYECTOS DE SISTEMAS EN BIOENERGÍA</small>
                        </li>
                        <li>
                          <small>ESTRATEGIAS DE EFICIENCIA ENERGÉTICA</small>
                        </li>
                        <li>
                          <small>LEGISLACIÓN Y FINANCIAMIENTO AMBIENTAL</small>
                        </li>
                        <li>
                          <small>INTEGRADORA</small>
                        </li>
                        <li>
                          <small>OPTATIVA II</small>
                        </li>
                        <li>
                          <small>INGLÉS IX</small>
                        </li>
                        <li>
                          <small>NEGOCIACIÓN EMPRESARIAL</small>
                        </li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">Estadía</div>
                      <div class="card-body">
                        <p class="text-center">
                          480 HRS.
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>