<title>UTS | Servicios Tecnológicos</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Servicios Tecnológicos</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Servicios Tecnológicos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="servicios-tecnologicos">
  <div class="row">
    <div class="col-md-9 text-justify">
    <p>El objetivo fundamental de esta área es contribuir con los sectores públicos y empresariales a elevar sus indicadores de productividad y competitividad a través de programas de capacitación de calidad profesional y educativa. </p>     
    <p class="font-weight-bold">Cursos ofertados:</p>
    <ul>
      <li>Curso-Taller de nóminas.</li>
      <li>Plantas de proceso.</li>
      <li>Operativos de segunda de mantenimiento al sector petrolero (PEMEX)</li>
      <li>Norma 029.</li>
      <li>Diplomado al pequeño comercio. (CEDEPEC)</li>
    </ul>
    <div class="card text-center mb-4 mt-3">
        <div class="card-header">
          <p class="font-weight-bold">Para mayor información:</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">ING. Maricruz Gutiérrez Ruelas</h5>
          <p class="card-text">Coordinadora de Educación Continua y Servicios Tecnológicos</p>
          <p>Email:
            <small>
              <a href="mailto:mgutierrez@utsalamanca.edu.mx">mgutierrez@utsalamanca.edu.mx</a>
            </small>
          </p>
          <p class="card-text">Horario: Lunes a viernes de 8h00 a 17h00</p>
          <p class="card-text">Edificio de Centro de Información y Consulta / Biblioteca</p>
        </div>
        <div class="card-footer text-muted">
          Tel: 647 38 61 · Ext:171
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
