<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>
            Rally de Conocimientos del Poder Legislativo del Estado de
            Guanajuato
          </h3>
          <small class="text-muted">Salamanca, Gto. 17 de noviembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia40/img2.jpeg" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>
          Salamanca, Gto. a 17 de noviembre de 2022. Estudiantes de la UTS
          participaron en el Rally de Conocimientos del Poder Legislativo del
          Estado, junto a la Universidad de La Salle, Universidad de Guanajuato,
          Instituto Tecnológico Superior del Sur de Guanajuato (ITSUR), Escuela
          Bancaria y Comercial (EBC) y el Sistema Avanzado de Bachillerato y
          Educación Superior (SABES); evento que se llevó a cabo el pasado 15 de
          noviembre de 2022 en las instalaciones del Congreso del Estado de
          Guanajuato.
        </p>
        <p>
          El mensaje inaugural del evento fue realizado por el Lic. Jorge
          Enrique Hernández Meza, Secretario de Educación del Estado de
          Guanajuato, realizándose posteriormente un panel con el tema "Reforma
          de ley dirigida a la Educación Superior" contando con la participación
          de la Dra. María Alicia Zavala Berbena, Directora de Investigación de
          la Salle Bajío, el Dr. Luis Felipe Guerrero Agripino, Rector General
          de la Universidad de Guanajuato, la Dra. Martha Aguilar Trejo, Rectora
          de la Universidad de Celaya y el Dr. José Christian Padilla Navarro,
          Rector de la Universidad Politécnica de Juventino Rosas.
        </p>
        <p>
          La Universidad Tecnológica de Salamanca obtuvo el 1er lugar en el
          rally de conocimientos, con la participación de estudiantes de la
          Licenciatura en Gestión de Capital Humano (LGCH) 10ª: Julio Adrián
          Juárez Sandoval, Ana Gabriela Montes de Oca González, Alan Ramírez
          Tovar, María Guadalupe Crespo Chávez y Diana Laura Martínez Vicencio.
        </p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>