<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>
            Acciones para poner fin a la violencia contra las mujeres.
          </h3>
          <small class="text-muted">Salamanca, Gto. 03 de diciembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia49/img3.png" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>Salamanca, Gto. a 3 de diciembre de 2022. La Universidad Tecnológica de Salamanca se sumó a la campaña “Únete
          de aquí al 2030 para poner fin a la violencia contra las mujeres” con un ciclo de conferencias llevadas a cabo
          en los meses de noviembre y diciembre.</p>
        <p>En el marco de la conmemoración del "día internacional de la eliminación de la violencia contra las mujeres”
          la UTS se sumó a la campaña “Únete de aquí al 2030 para poner fin a la violencia contra las mujeres”, la cual
          es una iniciativa plurianual lanzada desde 2008 por el Secretario General de la ONU, para realizar acciones de
          reflexión, sensibilización y otras actividades para prevenir la violencia de género.</p>
        <p>En ese contexto, la UTS a través del Departamento de Recursos Humanos, llevó a cabo durante el mes de
          noviembre las conferencias: "Masculinidades alternativas", "Y si vivo violencia ¿Qué hago?", "Tipos de
          violencia" y "Construyendo un mundo naranja", en las que participaron personal docente, administrativo y
          estudiantes.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>