<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img
    src="assets/img/noticias/banner_noticias.jpg"
    alt="Últimas Noticias"
    title="Últimas Noticias"
  />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>Estudiantes de la UTS son finalistas de CONIES 2022</h3>
          <small class="text-muted"
            >Salamanca, Gto. 05 de noviembre del 2022</small
          >
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia36/img3.JPG" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>
          Salamanca, Gto. a 05 de noviembre de 2022. Estudiantes de la UTS
          avanzaron a la gran final del 7o Concurso Nacional de Innovación y
          Emprendimiento CONIES 2022, a realizarse el próximo 17 y 18 de
          noviembre en el Estado de Veracruz.
        </p>
        <p>
          El proyecto “CYOMA”, consta de una aplicación dirigida a emprendedores
          y microempresas para facilitar el poder montar una tienda en línea. El
          equipo está conformado por Luis Enrique García Mendoza, Marina Daniela
          Arias Botello, Marco Isaí Espinoza García, María Angélica Flores Ojeda
          y Jorge Adrián Gallegos Mata de la Carrera de Ingeniería en Desarrollo
          y Gestión de Software, décimo cuatrimestre, quienes participarán en la
          categoría de Emprendimiento Tecnológico.
        </p>
        <p>
          El proyecto “LAYZER”, conformado por Brenda Ivette Ramírez Soto,
          Yesenia Razo Luna, Brenda Sofía Granados García, Jazmín Monserrat
          García Escoto de la Carrera Ingeniería en Procesos Químicos, décimo
          cuatrimestre, y Cynthia Estefanía Ramírez Soto de la Carrera
          Ingeniería en Tecnología Ambiental, séptimo cuatrimestre, quienes
          participarán en la categoría de Proyectos Sociales con una pastilla
          purificante de aguas grises.
        </p>
        <p>
          El proyecto “KAFEN” conformado por América de Jesús Ventura Peña,
          María Guadalupe Hernández de la Cruz, Diana Guadalupe Luna Rodríguez,
          Joanna Michael Muñoz Urquiza y Andrea Paola González Valencia, de la
          Carrera Ingeniería en Procesos Químicos, séptimo cuatrimestre, quienes
          participarán en la categoría de Energías Limpias y Sustentabilidad
          Ambiental con el desarrollo de una puntilla para escribir hecha a base
          de residuos de café.
        </p>
        <p>
          El Concurso Nacional de Innovación y Emprendimiento, convocado por el
          Subsistema de Universidades Tecnológicas y Politécnicas (SUTyP), está
          dirigido a estudiantes de las Universidades Tecnológicas y
          Politécnicas del Subsistema, que desean participar con un proyecto de
          emprendimiento, buscando fortalecer las competencias innovadoras,
          creativas, empresariales y sociales en el alumnado.
        </p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
