<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">

  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>Celebración “Día del amor y la amistad”</h3>
          <small class="text-muted">14 de febrero del 2019</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">

          <img class="img-fluid" src="assets/img/noticias/noticia31/img.jpg">

        </div>
      </div>
      <div class="text-justify mt-3">
        <p>Se realizó una proyección de cortometrajes, donde se mostraron temas relacionados al amor en distintas
          facetas, promoviendo la reflexión y la expresión.</p>
        <p>Los cortometrajes se proyectaron cada 30 minutos a toda la comunidad estudiantil en el edificio Centro de
          Información y Consulta. La respuesta al estímulo audiovisual presentado fue bien recibida por los alumnos y
          administrativos que disfrutaron de ésta serie de videos.</p>
        <p>De manera simultánea y como reforzamiento visual y cultural, se expusieron carteles con importantes obras de
          arte realizadas por destacados pintores y escultores, con el fin de agregar conocimiento de cultura en general
          para nuestros usuarios. Se colocaron también frases de amor y poemas de reconocidos autores para acompañar
          esta experiencia de lectura, así como la exposición de la historia de la fecha para enriquecer la información
          de esta celebración. </p>
        <p>En general la participación activa de nuestros usuarios, hizo de esta muestra, una buena estrategia hacia la
          mejora de nuestro servicio y la diversidad de actividades, dando paso a un camino hacia el conocimiento y la
          recepción de información de manera dinámica.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>