<title>UTS | Resultados de Exámenes de Admisión</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Resultados de Exámenes de Admisión</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Estudiantes UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Resultados de Exámenes de Admisión</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="resultados-examen-admision">
  <div class="row">
    <div class="col-md-9">
      <div class="text-center mb-4">
        <h4>LISTADO DE ACEPTADOS GENERACIÓN 15.0 TSU APLICACIÓN EXAMEN 08 DE JULIO DEL 2023</h4>
      </div>
      <div class="table-responsive-md mb-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Carrera</th>
              <th scope="col">Resultados</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ADMINISTRACIÓN ÁREA CAPITAL HUMANO</td>
              <td><a href="assets/content/resultados-examen-admision/ACEPTADOS_GEN15_8_JULIO_2023/ADMINISTRACION_AREA_CAPITAL_HUMANO.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>ENERGÍAS RENOVABLES ÁREA CALIDAD Y AHORRO DE ENERGÍA </td>
              <td><a href="assets/content/resultados-examen-admision/ACEPTADOS_GEN15_8_JULIO_2023/ENERGIAS_RENOVABLES_AREA_CALIDAD_Y_AHORRO_DE_ENERGIA.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>MECATRÓNICA ÁREA AUTOMATIZACIÓN</td>
              <td><a href="assets/content/resultados-examen-admision/ACEPTADOS_GEN15_8_JULIO_2023/MECATRONICA_AREA_AUTOMATIZACION.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>PROCESOS INDUSTRIALES ÁREA AUTOMOTRIZ</td>
              <td><a href="assets/content/resultados-examen-admision/ACEPTADOS_GEN15_8_JULIO_2023/PROCESOS_INDUSTRIALES_AREA_AUTOMOTRIZ.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>QUÍMICA ÁREA INDUSTRIAL</td>
              <td><a href="assets/content/resultados-examen-admision/ACEPTADOS_GEN15_8_JULIO_2023/QUIMICA_AREA_INDUSTRIAL.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>QUMÍCA ÁREA TECNOLOGÍA AMBIENTAL</td>
              <td><a href="assets/content/resultados-examen-admision/ACEPTADOS_GEN15_8_JULIO_2023/QUMICA_AREA_TECNOLOGIA_AMBIENTAL.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>TECNOLOGÍAS DE LA INFORMACIÓN ÁREA DESARROLLO DE SOTWARE MULTIPLATAFORMA</td>
              <td><a href="assets/content/resultados-examen-admision/ACEPTADOS_GEN15_8_JULIO_2023/TECNOLOGIAS_DE_LA_INFORMACION_AREA_DESARROLLO_DE_SOTWARE_MULTIPLATAFORMA.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>

            <tr>
              <td colspan="2"><a class="btn btn-primary btn-lg btn-block" title="Generación 15.0 TSU / SEPTIEMBRE 2023"
                  href="assets/content/resultados-examen-admision/ACEPTADOS_GEN15_8_JULIO_2023/REQUISITOS_INSCRIPCION_GENERACION_15.0_TSU.pdf"
                  target="_blank">REQUISITOS PARA LA INSCRIPCIÓN A LA GENERACIÓN 15.0</a></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>