<title>UTS | Resultados de Exámenes de Admisión</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Resultados de Exámenes de Admisión</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Alumnos UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Resultados de Exámenes de Admisión</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="resultados-examen-admision">
  <div class="row">
    <div class="col-md-9">
      <div class="text-center mb-4">
        <h4>LISTADO DE ACEPTADOS GENERACIÓN 14.5 TSU APLICACIÓN EXAMEN 10 DE DICIEMBRE DEL 2022</h4>
      </div>
      <div class="table-responsive-md mb-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Carrera</th>
              <th scope="col">Resultados</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ADMINISTRACIÓN ÁREA CAPITAL HUMANO</td>
              <td><a href="assets/content/resultados-examen-admision/RV_RESULTADOS_10_DICIEMBRE_2022/ADC.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>MECATRÓNICA ÁREA AUTOMATIZACIÓN</td>
              <td><a href="assets/content/resultados-examen-admision/RV_RESULTADOS_10_DICIEMBRE_2022/MET.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>

            <tr>
              <td colspan="2"><a class="btn btn-primary btn-lg btn-block" title="Generación 14.5 TSU / ENERO 2023"
                  href="assets/content/resultados-examen-admision/RV_RESULTADOS_10_DICIEMBRE_2022/REQUISITOS_INSCRIPCIÓN_GENERACIÓN_14.5_TSU.pdf"
                  target="_blank">REQUISITOS PARA LA INSCRIPCIÓN A LA GENERACIÓN 14.5</a></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>