<title>UTS | Resultados de Exámenes de Admisión</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Resultados de Exámenes de Admisión</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Alumnos UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Resultados de Exámenes de Admisión</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="resultados-examen-admision">
  <div class="row">
    <div class="col-md-9">
      <div class="text-center mb-4">
        <h4>LISTADO DE ACEPTADOS</h4>
      </div>
      <div class="table-responsive-md mb-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Carrera</th>
              <th scope="col">Resultados</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ADMINISTRACIÓN ÁREA CAPITAL HUMANO</td>
              <td>Pendiente de publicarse.</td>
              <!-- <td><a
                  href="assets/content/resultados-examen-admision/GENERACION_12.0_DE_TSU/ADC.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td> -->
            </tr>
            <tr>
              <td>MECATRÓNICA ÁREA AUTOMATIZACIÓN</td>
              <td>Pendiente de publicarse.</td>
              <!-- <td><a href="assets/content/resultados-examen-admision/GENERACION_12.0_DE_TSU/MET.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td> -->
            </tr>
            <tr>
              <td>PROCESOS INDUSTRIALES ÁREA AUTOMOTRIZ</td>
              <td>Pendiente de publicarse.</td>
              <!-- <td><a href="assets/content/resultados-examen-admision/GENERACION_12.0_DE_TSU/PIA.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td> -->
            </tr>
            <tr>
              <td>ENERGÍAS RENOVABLES ÁREA CALIDAD Y AHORRO DE ENERGÍA</td>
              <td>Pendiente de publicarse.</td>
              <!-- <td><a href="assets/content/resultados-examen-admision/GENERACION_12.0_DE_TSU/ERC.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td> -->
            </tr>
            <tr>
              <td>QUÍMICA ÁREA INDUSTRIAL</td>
              <td>Pendiente de publicarse.</td>
              <!-- <td><a href="assets/content/resultados-examen-admision/GENERACION_12.0_DE_TSU/QAI.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td> -->
            </tr>
            <tr>
              <td>QUÍMICA ÁREA TECNOLOGÍA AMBIENTAL</td>
              <td>Pendiente de publicarse.</td>
              <!-- <td><a href="assets/content/resultados-examen-admision/GENERACION_12.0_DE_TSU/QAM.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td> -->
            </tr>
            <tr>
              <td>TECNOLOGÍAS DE LA INFORMACIÓN ÁREA DESARROLLO DE SOFTWARE MULTIPLATAFORMA</td>
              <td>Pendiente de publicarse.</td>
              <!-- <td><a href="assets/content/resultados-examen-admision/GENERACION_12.0_DE_TSU/TIS.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td> -->
            </tr>
            <tr>
              
            <!-- <tr>
              <td colspan="2"><a class="btn btn-primary btn-lg btn-block" title="Generación 11 TSU / septiembre 2019"
                  href="assets/content/tramites-internos/REQUISITOS_INSCRIPCION_GEN_12.0_SEPTIEMBRE_2020.pdf"
                  target="_blank">REQUISITOS PARA INSCRIPCIÓN GENERACIÓN 12.0</a></td>
            </tr> -->
            
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>