<title>UTS | Políticas</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Políticas</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Transparencia</li>
            <li class="breadcrumb-item active" aria-current="page">Políticas</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="estadias">
  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <div class="col-sm-6 col-md-4">
          <!-- colored -->
          <div class="ih-item square colored effect3 bottom_to_top">
            <a href="assets/content/politicas/Politica_de_Igualdad_Laboral_y_No_Discriminacion.PDF" target="_blank">
              <div class="img">
                <img src="assets/img/politicas/politica-igualdad-laboral.png" alt="Política de Igualdad Laboral y No Discriminación">
              </div>
              <div class="info">
                <h3>Leer Más</h3>
                <p>Política de Igualdad Laboral y No Discriminación</p>
              </div>
            </a>
          </div>
          <!-- end colored -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- normal -->
          <div class="ih-item square colored effect3 bottom_to_top">
            <a href="assets/content/politicas/Publicacion_PO_280417_politica_de_igualdad.pdf" target="_blank">
              <div class="img">
                <img src="assets/img/politicas/publicacion_politica_igualdad_laboral.png" alt="Publicación Periódico Oficial">
              </div>
              <div class="info">
                <h3>Leer Más</h3>
                <p>Publicación Periódico Oficial 28-04-17 Política de Igualdad</p>
              </div>
            </a>
          </div>
          <!-- end normal -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- colored -->
          <div class="ih-item square colored effect3 bottom_to_top">
            <a href="assets/content/politicas/Políticas_de_Estadias_Visitas_y_Movilidad.pdf" target="_blank">
              <div class="img">
                <img src="assets/img/politicas/politica_estadias.png" alt="movilidaduts">
              </div>
              <div class="info">
                <h3>Leer Más</h3>
                <p>Políticas de Estadías, Visitas y Movilidad</p>
              </div>
            </a>
          </div>
          <!-- end colored -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- colored -->
          <div class="ih-item square colored effect3 bottom_to_top">
            <a href="assets/content/politicas/Politicas_Funcionamiento.pdf" target="_blank">
              <div class="img">
                <img src="assets/img/politicas/PFAA.png" alt="Políticas de Funcionamiento Académico-Administrativo">
              </div>
              <div class="info">
                <h3>Leer Más</h3>
                <p>Políticas de Funcionamiento Académico-Administrativo</p>
              </div>
            </a>
          </div>
          <!-- end colored -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- colored -->
          <div class="ih-item square colored effect3 bottom_to_top">
            <a href="assets/content/politicas/Polticas_Reclutamiento_Seleccin_Personal.pdf" target="_blank">
              <div class="img">
                <img src="assets/img/politicas/politicas-de-reclutamiento.jpg" alt="Políticas de Reclutamiento y Selección de Personal">
              </div>
              <div class="info">
                <h3>Leer Más</h3>
                <p>Políticas de Reclutamiento y Selección de Personal</p>
              </div>
            </a>
          </div>
          <!-- end colored -->
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>