<div class="bg-footer">
   <div class="row pd-footer">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-3">
         <p class="font-weight-bold"><i class="fa fa-stop-circle"></i> Síguenos en:</p>
         <div class="mb-2">
            <a href="https://twitter.com/UTSoficial" target="_blank"><i class="fa fa-twitter-square fa-2x"></i>
               Twitter</a>
         </div>
         <div class="mb-2">
            <a href="https://www.facebook.com/Universidad-Tecnol%C3%B3gica-de-Salamanca-UTS-724562784240408/" target="_blank"><i
                  class="fa fa-facebook-square fa-2x"></i> Facebook</a>
         </div>
         <div class="mb-2">
            <a href="https://www.instagram.com/utsoficial/" target="_blank"><i class="fa fa-instagram fa-2x"></i>
               Instagram</a>
         </div>
         <div>
            <a href="https://www.youtube.com/channel/UC7WAk8k8n_Nd91EXH9B1LHA" target="_blank"><i class="fa fa-youtube-square fa-2x"></i>
               Youtube</a>
         </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg- mb-3">
         <p class="font-weight-bold"><i class="fa fa-stop-circle"></i> Estamos para servirte:</p>
         <p class="font-weight-bold"><i class="fa fa-home fa-2x"></i> Dirección <span class="font-weight-normal">Av.
               Universidad Tecnológica #200 Salamanca, Gto. Tel: 01 (464) 647 38 61</span></p>
         <img class="img-holagto" src="assets/img/pagina-principal/holagto.png" alt="holagto">
         <br>
         <br>
         <a href="#"><i class="fa fa-phone-square fa-2x"></i> Emergencias 911</a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
         <p class="font-weight-bold"><i class="fa fa-stop-circle"></i> No olvides que:</p>
         <div class="mb-3">
            <i class="fa fa-envelope fa-2x"></i> Tus <a href="">comentarios</a> sobre el sitio son muy importantes.
         </div>
         <p><i class="fa fa-mobile fa-3x"></i> Sitio web compatible con dispositivos móviles.</p>
         
         <div style="height:40px">
            <div class="embed-responsive embed-responsive-21by9">
               <iframe class="embed-responsive-item" src="http://www.utsalamanca.edu.mx/assets/contador_visitas/uts/show.php"
                  allowfullscreen></iframe>
            </div>
         </div>
         
      </div>
   </div>
   <div class="rounded mx-auto d-block mb-3" style="width: 10rem;">
      <a href="/"><img style="width: 100%" src="assets/img/pagina-principal/logouts.png" alt=""></a>
   </div>
   <div class="alert alert-dark text-center" role="alert">
      <a href="assets/content/avisos-privacidad/Avisos-de-Privacidad-Simplificado_UTS_2017.pdf" target="_blank">Aviso
         de
         Privacidad Simplificado</a> | <a href="assets/content/avisos-privacidad/Avisos-de-Privacidad-Integral_UTS_2017.pdf"
         target="_blank">Aviso de Privacidad Integral</a>
   </div>
</div>