<title>UTS | Estadías</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Estadías</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/"> <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Vinculación
            </li>
            <li class="breadcrumb-item active" aria-current="page">Estadías</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="estadias">
  <div class="row">
    <div class="col-md-9">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4">
        <a routerLink="/estadias">
          <div class="img">
            <img src="assets/img/estadias/Estadias.png" alt="Estadía" />
          </div>
        </a>
      </div>
      <!-- fin efecto hover -->
      <a
        href="assets/content/estadias/Estadias-enero-abril-26.rar"
        class="btn btn-info btn-block mb-3">
        Haz clic aquí para descargar los formatos y completar tu proceso de
        estadía
      </a>

      <p class="font-weight-bold">¿Que es la Estadía?</p>
      <hr />
      <p>
        Periodo de tiempo en donde <strong>el estudiante realiza un proyecto</strong> dentro de cualquier empresa del sector productivo, <strong>para solucionar 
        un problema</strong> real de la organización, en el cual <strong>aplica sus conocimientos, habilidades y destrezas</strong> adquiridas 
        durante los cuatrimestres previos.
      </p>

      <p class="font-weight-bold">¿Cuánto tiempo realizo la Estadía?</p>
      <hr />
      <p>
        Se realiza en los últimos cuatrimestres con una duración de <strong>600 horas</strong> las cuales se deben cubrir en un periodo mínimo de 13 semanas.
      </p>

      <p class="font-weight-bold">
        ¿En qué organización puedo realizar la Estadía?
      </p>
      <hr />
      <p>
        Empresas, instituciones u organismos públicos o privados, así como organizaciones sociales o comunitarias, donde los 
        <strong>estudiantes realizan</strong> las actividades de <strong>estadía</strong>.
      </p>

      <p class="font-weight-bold">
        ¿Cuáles son los requisitos para iniciar Estadía?
      </p>
      <hr />
      <ul>
        <li>
          Concluir el trámite ante el Seguro Social para la obtención del <strong>Seguro Facultativo.</strong>
        </li>
        <li>
          Para nivel <strong>Técnico Superior Universitario,</strong> tener cubiertos los <strong>105 créditos</strong> en el área de Cultura y Deportes.
        </li>
        <li>Tener aprobadas todas las materias previo al periodo de estadía.</li>
      </ul>

      <p class="font-weight-bold">¿Qué documentos debo entregar?</p>
      <hr />
      <p>
        Al finalizar el <strong>cuatrimestre previo</strong> a la estadía el formato de <strong>inscripción a estadía,</strong> la fecha exacta 
        la hará saber el área de Vinculación académica en la plática de inducción a estadía la cual se imparte a los estudiantes en el 
        cuatrimestre previo a iniciar el proceso.
      </p>
      <p>
       Al <strong>iniciar la estadía,</strong> el estudiante entregará el <strong>convenio específico</strong> de estadía a su asesor académico, así como el cronograma 
       de actividades. Será responsabilidad del estudiante recabar la totalidad de firmas, así como del asesor académico la revisión y guía 
       en todo momento de los documentos necesarios para el proceso.
      </p>
      <p>
        <strong>Durante el proceso,</strong> el estudiante entregará de acuerdo con el cronograma inicial los <strong>avances</strong> correspondientes 
        al <strong>reporte de estadía,</strong> para ello definirá con su asesor académico la entrega de manera <strong>física</strong> o bien 
        <strong>digital,</strong> con dicha entrega ambos <strong>asesores (académico y organizacional) emiten una calificación</strong> con base al 
        desempeño del estudiante mostrado durante su estadía.
      </p>
      <p>
        Al <strong>finalizar</strong> el estudiante entregará el <strong>reporte de estadía,</strong> documento final en el que el estudiante 
        integra las actividades realizadas, de acuerdo con las políticas establecidas por el programa educativo 
        a su asesor académico en los tiempos establecidos por la universidad.
      </p>
      <p>
        Para liberar el proceso el estudiante entregará de manera digital su <strong>carta de liberación,</strong> así como 
        realizará la <strong>encuesta de egreso</strong> a través de su correo institucional.
      </p>
      <p>
        Para mayores informes acude al área de <strong>Vinculación Académica</strong> ubicada en la biblioteca (CIC) o bien escríbenos al perfil 
        de Facebook <a href="https://www.facebook.com/UTSEstadiasyBolsadeempleo" target="_blank"><strong>UTS Estadías y Bolsa de Empleo</strong></a>.
      </p>

      <div id="asesores_academicos" class="card mt-4">
        <h5 class="card-header">Documentos</h5>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descarga</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Políticas de Vinculación Académica.</td>
                  <td class="text-center">
                    <a
                      href="assets/content/politicas/Politicas-Vinculacion-Academica.pdf"
                      target="_blank"
                      ><img src="assets/img/iconos/pdf-24_32.png"
                    /></a>
                  </td>
                </tr>
                <tr>
                  <td>Manual de Procedimientos de Estadías.</td>
                  <td class="text-center">
                    <a
                      href="https://api.utsalamanca.edu.mx/media/sgc/documentos/VINCULACI%C3%93N/PROCEDIMIENTOS/PDVIN002-P-Estadia.pdf"
                      target="_blank"
                      ><img src="assets/img/iconos/pdf-24_32.png"
                    /></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
