<title>UTS | Estadías</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Estadías</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Estadías</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="estadias">
  <div class="row">
    <div class="col-md-9">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4">
        <a routerLink="/estadias">
          <div class="img">
            <img src="assets/img/pagina-principal/banner_estadia.png" alt="Estadía">
          </div>
        </a>
      </div>
      <!-- fin efecto hover -->
      <a href="assets/content/estadias/Estadias-Mayo-24.zip">
        <button type="button" class="btn btn-info btn-block mb-3">Haz clic aquí para descargar los formatos y completar
          tu
          proceso
          de estadía</button>
      </a>

      <p class="font-weight-bold">¿Que es la Estadía?</p>
      <hr>
      <p>Es el Proceso Académico y de Vinculación mediante el cual el alumno acorde con su Programa Educativo, con la
        dirección y supervisión de un Asesor Académico y un Asesor Organizacional, desarrolla un proyecto en una
        Organización, que se traduce en aportación para la misma.</p>

      <p class="font-weight-bold">¿Cuánto tiempo realizo la Estadía?</p>
      <hr>
      <p>Se realiza en el 6° y 11° cuatrimestre con una duración de 525 horas para Técnico Superior Universitario y 480
        horas para nivel Ingeniería.</p>

      <p class="font-weight-bold">¿En qué organización puedo realizar la Estadía?</p>
      <hr>
      <p>Se puede realizar en empresas públicas, privadas o sociales, sin importar el tamaño de la misma.</p>

      <p class="font-weight-bold">¿Cuáles son los requisitos para iniciar Estadía?</p>
      <hr>
      <ul>
        <li>Concluir el trámite ante el Seguro Social para la obtención del Seguro Facultativo.</li>
        <li>Para nivel Técnico Superior Universitario, tener cubiertos al finalizar el 5° cuatrimestre 105 créditos en
          el área de Cultura y Deportes.</li>
        <li>No tener adeudos en ninguna de las áreas de UTS.</li>
        <li>No tener adeudos de materias al iniciar el periodo de Estadía.</li>
      </ul>

      <p class="font-weight-bold">¿Qué documentos debo entregar?</p>
      <hr>
      <p>En el 5° y 10° cuatrimestre el formato de Inscripción a la Estadía en el área de Vinculación, en las fechas que
        te sean indicadas en tu plática de inducción a Estadía. </p>
      <p>Al iniciar el 6° y 11°cuatrimestre, el Convenio Especíﬁco en dos tantos, a color, con las ﬁrmas de los
        involucrados a tu Director de carrera, así como, el Cronograma de Actividades, en las fechas que te sean
        indicadas por tu Asesor Académico.</p>
      <p>Al finalizar el periodo de Estadía se entregará en el área de Vinculación los originales de la Carta de
        Liberación y la Evaluación Final, con las especificaciones que marcan los documentos. Con la falta de alguno de
        los documentos aquí mencionados no se podrá proceder a tu liberación del proceso.</p>

      <div id="asesores_academicos" class="card mt-4">
        <h5 class="card-header">Documentos</h5>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descarga</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Lineamientos para el Proceso de Estadías mayo-agosto de 2022
                  </td>
                  <td class="text-center"><!--<a
                      href="assets/content/estadias/Lineamientos_para_el_Proceso_de_Estadia_en_MayAgo_2022.pdf"
                      target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a>-->Pendiente de publicarse.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
