<title>UTS | Mensaje del Rector</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Mensaje del Rector</h2>
    </div>
    <div class="col-md-6">
      <nav aria-label="breadcrumb" class="bg-transparent">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Universidad</li>
          <li class="breadcrumb-item active" aria-current="page">Mensaje del Rector</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>
<main id="mensaje-rector">
  <div class="row">
    <div class="col-md-9">
      <!-- efecto hover -->
    <div class="ih-item square effect7 mb-4"><a href="#">
      <div class="img"><img src="assets/img/pagina-principal/banner-mensaje-rector.jpg" alt="Mensaje del Rector"></div>
      </a></div>
  <!-- fin efecto hover -->
      <div class="container">
        <p class="text-right font-weight-bold">17 de Mayo de 2017</p>
        <p>Una de las tecnologías que cambia y avanza más rápidamente son las de la Información y Comunicación, TIC, por tal motivo las páginas web deben actualizarse permanentemente. En este sentido, he dado instrucciones al personal del área de Sistemas, la cual depende de la Dirección de Planeación y Evaluación, para que, actualice la página web de nuestra Universidad Tecnológica. Con ello pretendemos hacer una página web más amigable y con mayor y mejor información para los usuarios de la misma.</p>
        <p>Invito a toda la Comunidad Universitaria a visitar el sitio, en donde encontraran información importante de todas las instancias que forman la Universidad Tecnológica de Salamanca.</p>
        <p>Nuestro objetivo es brindar el mejor servicio para beneficio de los usuarios.</p>
        <p>Reciban un atento y cordial saludo.</p>
        <p class="text-right font-weight-bold">ING. ALFREDO LÓPEZ HERRERA</p>
        <p class="text-right font-weight-bold">RECTOR</p>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>

