<title>UTS | Centro de Lenguas</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Centro de Lenguas</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Centro de Lenguas</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="cele">
  <div class="row">
    <div class="col-md-9 text-justify">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4">
        <a>
          <div class="img">
            <img src="assets/img/cele/banner-cele.png" alt="CELE">
          </div>
        </a>
      </div>
      <!-- fin efecto hover -->
      <p>Brindar el servicio de enseñanza de diversos idiomas tanto a la comunidad universitaria como a la sociedad en general, mediante maestros certificados internacionalmente y capacitados para lograr el aprendizaje de una segunda lengua, a través del desarrollo de seis habilidades: recepción oral y escrita; producción oral y escrita; e Interacción oral y escrita. Para lograr una competencia comunicativa satisfactoria y que con ello, el estudiante pueda interactuar en diversos escenarios personales, laborales, profesionales y académicos.</p>
      <p>Adicionalmente, el CELE brinda a la comunidad universitaria la opción de certificaciones internacionales en otras lenguas. </p>
      <p class="font-weight-bold"> Idiomas que se ofrecen: </p>
      <div class="table-responsive-md text-center mb-3">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">IDIOMAS</th>
              <th colspan="4" scope="col">NIVELES</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Inglés</th>
              <td>6 Básicos (Beginners) </td>
              <td>6 Intermedios (Intermediate)</td>
              <td>6 Avanzados (Advanced)</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Francés</th>
              <td>4 Módulos Nivel Básico</td>
              <td>4 Módulos Nivel Intermedio</td>
              <td>4 Módulos Nivel Avanzado</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Japonés</th>
              <td>4 Módulos Nivel Básico</td>
              <td>4 Módulos Nivel Intermedio</td>
              <td>4 Módulos Nivel Avanzado</td>
            </tr>
            <tr>
              <th scope="row">Alemán</th>
              <td>A1–A2 -> 2 semestres</td>
              <td>B1–B2 -> 2 semestres</td>
              <td>C1-C2 -> 2 Semestres</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card text-center mb-4">
          <div class="card-header">
             <p class="font-weight-bold">CONTACTO CELE:</p> 
          </div>
          <div class="card-body">
            <h5 class="card-title">Karla Zavala Pelayo</h5>
              <p class="card-text">Jefa de Departamento del CELE</p>
              <p>Email: <small><a href="mailto:celeuts@utsalamanca.edu.mx">celeuts@utsalamanca.edu.mx</a></small></p>
              <p class="card-text">Horario: Lunes a viernes de 8h00 a 17h00</p>
              <p class="card-text">Edificio de Centro de Información y Consulta / Biblioteca</p>
          </div>
          <div class="card-footer text-muted">
              Tel: 647 38 61 · Ext:173
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>