<title>UTS | Comité de Control Interno</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Comité de Control Interno</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Transparencia</li>
            <li class="breadcrumb-item active" aria-current="page">Comité de Control Interno</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="estadias">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">INFORME DE CONTROL INTERNO</h5>
              <p class="card-text">Diciembre de 2017</p>
              <a href="assets/content/comite-control-interno/Anexo-3.-Informe-de-Control-Interno-diciembre-2017.pdf" target="_blank" class="btn btn-primary">LEER MÁS</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">INFORME DE CONTROL INTERNO</h5>
              <p class="card-text">Febrero de 2017</p>
              <a href="assets/content/comite-control-interno/Informe-de-Contro-Interno_Febrero-2017.pdf" target="_blank" class="btn btn-primary">LEER MÁS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>