<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>Egresa un total de 854 alumnos de la UTS</h3>
          <small class="text-muted">Salamanca, Gto. 10 de noviembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia38/img1.JPG" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>Salamanca, Gto. a 10 de noviembre del 2022. La Universidad Tecnológica de Salamanca UTS celebró el egreso de
          estudiantes de las generaciones 11.0 y 11.5 de nivel Técnico Superior Universitario y 9.5 y 10.0 de nivel
          Licenciatura e Ingeniería, en ceremonias de graduación llevadas a cabo los días 9 y 10 de noviembre, en el
          Centro Cívico de Salamanca, Guanajuato, a las que asistieron 633 egresados de estos niveles educativos (370 de
          TSU y 263 de Licenciatura e Ingeniería).</p>
        <p>El mensaje de bienvenida estuvo a cargo del Lic. Fernando Trujillo Jiménez, Rector de la UTS, en el que llamó
          a celebrar la trayectoria de los estudiantes y honrar el esfuerzo de padres y madres de familia, los cuales
          “jugaron un papel fundamental para no permitir que las ilusiones de los jóvenes quedaran sin cumplirse”.
          Señaló además que, en el proceso de formación, la labor de los profesores con su dedicación y atención diaria
          acompañan la maduración de los hoy graduados.</p>
        <p>Por primera ocasión, se llevó a cabo la entrega de reconocimientos al “Universitario Integral” reconociendo
          la trayectoria de los ahora egresados en los rubros: Trayectoria social, trayectoria cultural o deportiva,
          participación en programas especiales, trayectoria escolar y opinión actitudinal. Se realizó el reconocimiento
          a las y los alumnos Clara Johana Alfaro Juárez (ADC), Gema Yajaira Salas Hurtado (ADC), Perla Rubí Sánchez
          Merino (PIA), Raúl Otoniel Arteaga Rivera (ADC), Juan Francisco Estrada González (MET) y Agustín Martin
          Hernández Jasso (QAI) en la ceremonia de Técnico Superior Universitario, así como a las y los alumnos Irlanda
          Itzel Vázquez Reveles (IMET), Vianey Guadalupe Tolentino Ramírez (IMET), Daniela Lizeth Martínez Vázquez
          (ISIP), Luis Eduardo Lara Flores (IMET), Ricardo Ledesma Moreno (IMET) y Sixtos Martin González Cuellar en la
          ceremonia de Licenciatura e Ingeniería.
        </p>
        <p>La toma de protesta de los egresados, así como el mensaje de despedida, fue realizado por el Licdo. Juan
          Carlos Guillén Hernández, Director General de Cobertura y Profesiones de la Educación Media Superior y
          Superior de la Secretaría de Educación de Guanajuato.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>