<title>UTS | Listados Oficiales Nuevo Ingreso</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Listados Oficiales Nuevo Ingreso</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Estudiantes UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Listados Oficiales</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="resultados-examen-admision">
  <div class="row">
    <div class="col-md-9">
      <div class="text-center mb-4">
        <h4>Listado Oficial de los Estudiantes de Nuevo Ingreso a TSU y a Licenciatura</h4>
        <h5 class="text-center">Cuatrimestre Septiembre - Diciembre 2024</h5>
      </div>
      <div class="table-responsive-md mb-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Carrera</th>
              <th scope="col">Documento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Técnico Superior Universitario en Química Industrial</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Técnico Superior Universitario en Química Industrial.xlsx" target="_blank"><img
                    src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Técnico Superior Universitario en Gestión del Capital Humano</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Técnico Superior Universitario en Gestión del Capital Humano.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Técnico Superior Universitario en Gestión Ambiental</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Técnico Superior Universitario en Gestión Ambiental.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Técnico Superior Universitario en Energía Turbo-Solar</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Técnico Superior Universitario en Energía Turbo-Solar.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Técnico Superior Universitario en Desarrollo de Software Multiplataforma</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Técnico Superior Universitario en Desarrollo de Software Multiplataforma.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Técnico Superior Universitario en Automotriz</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Técnico Superior Universitario en Automotriz.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Técnico Superior Universitario en Automatización</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Técnico Superior Universitario en Automatización.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Licenciatura en Gestión del Capital Humano</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Licenciatura en Gestión del Capital Humano.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Ingeniería en Tecnología Ambiental</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Ingeniería en Tecnología Ambiental.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Ingeniería en Sistemas Productivos</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Ingeniería en Sistemas Productivos.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Ingeniería en Procesos Químicos</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Ingeniería en Procesos Químicos.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Ingeniería en Mecatrónica</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Ingeniería en Mecatrónica.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Ingeniería en Energías Renovables</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Ingeniería en Energías Renovables.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>
            <tr>
              <td>Ingeniería en Desarrollo y Gestión de Software</td>
              <td align="center"><a href="assets/content/listados-oficiales/sep-dic-2024/Ingeniería en Desarrollo y Gestión de Software.xlsx"
                  target="_blank"><img src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
              
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>