<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia20-firma-convenio-de-colaboracion-UTNG-y-UTS/img1-firma-convenio-UTNG-y-UTS.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia20-firma-convenio-de-colaboracion-UTNG-y-UTS/img1-firma-convenio-UTNG-y-UTS.jpg"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia20-firma-convenio-de-colaboracion-UTNG-y-UTS/img2-firma-convenio-UTNG-y-UTS.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia20-firma-convenio-de-colaboracion-UTNG-y-UTS/img2-firma-convenio-UTNG-y-UTS.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia20-firma-convenio-de-colaboracion-UTNG-y-UTS/img3-firma-convenio-UTNG-y-UTS.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia20-firma-convenio-de-colaboracion-UTNG-y-UTS/img3-firma-convenio-UTNG-y-UTS.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia20-firma-convenio-de-colaboracion-UTNG-y-UTS/img4-firma-convenio-UTNG-y-UTS.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia20-firma-convenio-de-colaboracion-UTNG-y-UTS/img4-firma-convenio-UTNG-y-UTS.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>
  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">Firman Convenio de Colaboración Universidad Tecnológica del Norte de Guanajuato y la Universidad Tecnológica de Salamanca.</h3>
        <p class="text-right font-weight-bold font-italic">08 de marzo del 2018</p>
        <p>La Universidad Tecnológica de Salamanca (UTS) y la Universidad Tecnológica del Norte de Guanajuato (UTNG) llevaron a cabo la firma de un Convenio de Colaboración con el objetivo de promover la realización de programas y proyectos conjuntos de investigación y desarrollo, en aquellas áreas de interés, mediante la participación de personal y alumnado; así como ofrecer las facilidades necesarias para que el alumnado y personal de ambas instituciones realicen residencias o estadías en las mismas.</p>
        <p>De la misma manera se plasma en dicho convenio la línea estratégica de fomentar acciones de movilidad de alumnos o docentes para elevar la calidad de la educación y la investigación científica y tecnológica.</p>
        <p>En dicha reunión estuvo presente el Dr. Fernando Gutiérrez Godínez, Rector de la Universidad Tecnológica del Norte de Guanajuato, junto con el Lic. Joel Herrera Cabrera, Director de Vinculación y Servicios Tecnológicos, así como personal administrativo y directivo de la Universidad Tecnológica de Salamanca, encabezados por el Ing. Alfredo López Herrera, Rector de esta Universidad. </p>
      </article>
      <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>

</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>