<title>UTS | Becas</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Becas</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Alumnos UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Becas</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="Becas">
  <div class="row">
    <div class="col-md-9 text-justify">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4">
        <a>
          <div class="img">
            <img src="assets/img/becas/Banner-Becas-uts.jpg" alt="Becas">
          </div>
        </a>
      </div>
      <!-- fin efecto hover -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="internas-tab" data-toggle="tab" href="#internas" role="tab"
            aria-controls="internas" aria-selected="true">BECAS INTERNAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="educafin-tab" data-toggle="tab" href="#educafin" role="tab" aria-controls="educafin"
            aria-selected="false">EDUCAFIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manutencion-tab" data-toggle="tab" href="#manutencion" role="tab"
            aria-controls="manutencion" aria-selected="false">MANUTENCIÓN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="peraj-tab" data-toggle="tab" href="#peraj" role="tab" aria-controls="peraj"
            aria-selected="false">CNBES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor"
            aria-selected="false">CONACYT</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!--BECAS INTERNAS-->
        <div class="tab-pane fade show active mt-3" id="internas" role="tabpanel" aria-labelledby="internas-tab">
          <P>La Universidad Tecnológica de Salamanca ofrece los siguientes tipos de apoyo:</P>
          <p class="font-weight-bold">Excelencia Académica, promedio 9.6;</p>
          <p>Consiste en el otorgamiento de apoyo monetario al estudiante que obtenga calificaciones sobresalientes, con
            el objeto de reconocer su desempeño escolar.</p>
          <p class="font-weight-bold">Retribución de hermanos, promedio 8 (2 hermanos 50%, 3 hermanos 35%);</p>
          <p>Apoyo destinado a hermanos que estudien en nuestra institución, se otorgará de 50% a 35% de descuento en la
            colegiatura dependiendo del número de hermanos.</p>
          <p class="font-weight-bold">Beca Deportiva y Cultural, promedio 9;</p>
          <p>Consiste en el otorgamiento de apoyo en efectivo a estudiantes con desempeño sobresaliente y que
            pertenezcan a un selectivo de en cultura y deportes.</p>
          <p class="font-weight-bold">Continuidad de Estudios, promedio 8.5;</p>
          <p>Apoyo para los alumnos de situación cuyo ingreso es igual o menor a cuatro salarios mínimos per cápita
            mensuales vigentes al momento de solicitar la beca, el objetivo de esta beca es apoyar y mejorar el
            desempeño académico del estudiante con la retribución de la colegiatura y un alimento al día en cafetería
            escolar durante el cuatrimestre.</p>
        </div>

        <!--EDUCAFIN-->
        <div class="tab-pane fade mt-3" id="educafin" role="tabpanel" aria-labelledby="educafin-tab">
          <p class="font-weight-bold">Apoyo Único para Movilidad;</p>
          <p>Con el objetivo de impulsar y apoyar a las personas guanajuatenses a tener experiencias de movilidad
            académica, que les proporcionen herramientas para su desarrollo integral, con un porcentaje del costo del
            transporte terrestre y/o aéreo, el Gobierno del estado de Guanajuato, a través del Instituto de
            Financiamiento e Información para la Educación, EDUCAFIN-SUBE. </p>

          <p class="font-weight-bold">Innovación California;</p>
          <p>AInnovación, desarrollo tecnológico, emprendimiento y negocios</p>
          <p>Agenda durante 4 días en el Hub de innovación más importante de Norte America en Sillicon Valley y Los
            Ángeles.</p>

          <p class="font-weight-bold">Manos por el Mundo</p>
          <p>Programa de voluntariado internacional para realización de actividades con impacto social en diversos temas
            (ecología, cultura sociedad y desarrollo) con opciones de proyecto en 20 países de Asia y Europa.</p>

          <p class="font-weight-bold">Rumbo a Japón;</p>
          <p>Beca que promueve el emprendimiento y la participación activa de los jóvenes estudiantes, mediante un viaje
            al país oriental, cuyos costos de traslado y estadía son financiados por el Gobierno del Estado de
            Guanajuato en colaboración con Reiyukai de México A.C.</p>

          <p class="font-weight-bold">Líderes en Canadá versión docentes y alumnos;</p>
          <p>Proyecto impulsado de la relación con las instituciones y el gobierno canadiense para apoyar el desarrollo
            de los estudiantes de Guanajuato en el idioma inglés y francés a través de los organismos y consorcios con
            las principales universidades y colleges en Canadá.</p>
        </div>

        <!--MANUTENCIÓN-->
        <div class="tab-pane fade mt-3" id="manutencion" role="tabpanel" aria-labelledby="manutencion-tab">
          <p class="font-weight-bold">¿A quién va dirigida?</p>
          <p>Estudiantes de Instituciones de Educación Superior públicas, que cursen estudios de Técnico Superior
            Universitario
            (TSU) o de licenciatura y que provienen de hogares cuyo ingreso es igual menor a cuatro salarios mínimos per
            cápita mensuales vigentes al momento de solicitar la beca.</p>
        </div>

        <!--CORDINACIÓN NACIONAL DE BECAS DE EDUCACIÓN SUPERIOR -->
        <div class="tab-pane fade mt-3" id="peraj" role="tabpanel" aria-labelledby="peraj-tab">
          <P>La Coordinación Nacional de Becas de Educación Superior (CNBES), dependiente de la Subsecretaría de
            Educación Superior, es la entidad responsable del otorgamiento y operación de diversas modalidades del
            Programa Nacional de Becas para estudiantes que se encuentran inscritos en el nivel Licenciatura o Técnico
            Superior Universitario (TSU) en Instituciones Públicas de Educación Superior (IPES).</P>
          <p class="font-weight-bold">Beca Proyecta 100,000</p>
          <p>Apoyo totalmente gratuito, destinado a estudiantes para cursar estudios intensivos del idioma inglés como
            segunda lengua en centros certificados y pertenecientes a una Institución de Educación Superior de los
            Estados Unidos de América.</p>
          <p class="font-weight-bold">Beca Proyecta 10,000</p>
          <p>Apoyo totalmente gratuito, destinado a estudiantes para cursar estudios intensivos del idioma inglés como
            segunda lengua en centros certificados y pertenecientes a una Institución de Educación Superior de Canadá.
          </p>
        </div>

        <!--CONACYT-->
        <div class="tab-pane fade mt-3" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
          <p class="font-weight-bold">Apoyo a Madres Jefas de Familia;</p>
          <p>Destinado a madres mexicanas solteras, divorciadas, viudas o separadas que estén cursando estudios
            profesionales presenciales en sistema escolarizado y de tiempo completo (técnico superior universitario o
            licenciatura), con miras a fortalecer su formación profesional, facilitando su inserción en el mercado
            laboral o continuar estudios de posgrado, con objeto de participar en el proceso de selección para obtener
            una beca de conformidad.</p>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>