<title>UTS | IED</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Ingeniería en Energía y Desarrollo Sostenible con TSU
          en Energía Turbo-Solar</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">IED</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <div class="ih-item square effect7 mb-5">
          <a href="assets/content/programas-educativos/Ing_Energia_y_Desarrollo_Sostenible.pdf" target="_blank">
            <div class="img">
              <img src="assets/img/programas-educativos/Ing_Energia.png" alt="Ingeniería en Energía y Desarrollo Sostenible con TSU
              en Energía Turbo-Solar">
            </div>
          </a>
        </div>
        <!-- fin efecto hover -->
         <p class="text-justify">La/el Licenciado(a) en Ingeniería en Energía y Desarrollo Sostenible se distingue por
          poseer las competencias profesionales esenciales que respaldan su desempeño con
          éxito en el dinámico entorno laboral, abarcando tanto el ámbito local como el regional
          y nacional.</p>
          <p class="text-justify mb-5">Este perfil integral no solo se ajusta a las demandas actuales del sector, sino que
            también anticipa y se adapta a las transformaciones y desafíos emergentes.</p>

          <img class="mb-5" src="assets/img/programas-educativos/Infografia.png" alt="Tu trayectoria educativa en la UTS">

          <div class="text-center mb-5">
            <a href="assets/content/programas-educativos/Ing_Energia_y_Desarrollo_Sostenible.pdf" 
            target="_blank"
            class="btn custom-btn px-5 font-weight-bold">PLAN DE ESTUDIOS</a>
          </div>
          
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>