<title>UTS | Mapa del Sitio</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Mapa del Sitio</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Mapa del Sitio</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<article>
  <div class="container">
    <div class="row">
      <div class="col-md-9">

        <ul>
          <li><a href="/">Inicio</a></li>
          <li>Universidad</li>
          <ul>
            <li><a routerLink="/antecedentes">Antecedentes</a></li>
            <li><a routerLink="/directorio">Directorio</a></li>
            <li><a routerLink="/filosofia">Filosofía Institucional</a></li>
            <li><a routerLink="/mje-rector">Mensaje del Rector</a></li>
            <li><a routerLink="/reconocimientos">Reconocimientos</a></li>
          </ul>
          <li>Carreras</li>
          <ul>
            <li><a routerLink="/cuerpos-academicos">Cuerpos Académicos</a></li>
            <li>Ingeniería/Licenciatura</li>
            <ul>
              <li><a routerLink="/lgch">Licenciatura en Gestión de Capital Humano</a></li>
              <li><a routerLink="/ier">Ingeniería en Energías Renovables</a></li>
              <li><a routerLink="/imet">Ingeniería en Mecatrónica</a></li>
              <li><a routerLink="/ipq">Ingeniería en Procesos Químicos</a></li>
              <li><a routerLink="/isip">Ingeniería en Sistemas Productivos</a></li>
              <li><a routerLink="/itea">Ingeniería en Tecnología Ambiental</a></li>
            </ul>
            <li>Técnico Superior Universitario (TSU)</li>
            <ul>
                <li><a routerLink="/tsuadm">Administración, Área Capital Humano</a></li>
                <li><a routerLink="/tsuer">Energías Renovables, Área Calidad y Ahorro de Energía</a></li>
                <li><a routerLink="/tsumet">Mecatrónica, Área Automatización</a></li>
                <li><a routerLink="/tsupia">Procesos Industriales, Área Automotriz</a></li>
                <li><a routerLink="/tsuqai">Química, Área Industrial</a></li>
                <li><a routerLink="/tsuqam">Química, Área Tecnología Ambiental</a></li>
                <li><a routerLink="/tsutis">Tecnologías de la Información, Área Desarrollo de Software Multiplataforma</a></li>
              </ul>
          </ul>
          <li>Alumnos UTS</li>
          <ul>
            <li><a routerLink="/aseguramiento-escolar">Aseguramiento Escolar</a></li>
            <li><a routerLink="/becas">Becas</a></li>
            <li><a routerLink="/calendario-escolar">Calendario Escolar</a></li>
            <li><a routerLink="/costo-derechos-educativos">Costo de Derechos Educativos</a></li>
            <li><a href="assets/content/egresados/listado-de-cedulas-gen-7-(12-06-18).pdf" target="_blank">Egresados</a></li>
            <li><a routerLink="/horarios">Horarios</a></li>
            <li>Plataformas Virtuales</li>
            <ul>
              <li><a href="http://sito.utsalamanca.edu.mx/" target="_blank">SITO</a></li>
              <li><a href="http://virtual.utsalamanca.edu.mx/moodle/" target="_blank">Sitio Virtual MOODLE</a></li>
              <li><a href="http://idiomas.utsalamanca.edu.mx/moodle/" target="_blank">Sitio Virtual de Idiomas MOODLE</a></li>
              <li><a href="https://ebookcentral.proquest.com/lib/utsalamancasp/home.action" target="_blank">Biblioteca Virtual</a></li>
              <li><a href="https://login.microsoftonline.com/login.srf?wa=wsignin1.0&rpsnv=4&ct=1493127522&rver=6.7.6640.0&wp=MCMBI&wreply=https%3a%2f%2fportal.office.com%2flanding.aspx%3ftarget%3d%252fdefault.aspx&lc=2058&id=501392&msafed=0&client-request-id=3a1c0327-1890-4cde-9f92-0f049d3f4255" target="_blank">Correo Institucional</a></li>
            </ul>
            <li><a routerLink="/resultados-examen-admision">Resultados de Exámenes de Admisión</a></li>
            <li><a routerLink="/tramites-internos">Trámites Internos</a></li>
          </ul>
          <li>Vinculación
            <ul>
              <li><a routerLink="/actividades-culturales-deportivas">Actividades Culturales y Deportivas</a></li>
              <li><a href="">Bolsa de Trabajo</a></li>
              <li><a routerLink="/cele">Centro de Lenguas</a></li>
              <li><a routerLink="/conocer">CONOCER</a></li>
              <li>Convenios</li>
              <ul>
                <li><a routerLink="/convenios-cooperacion">Convenios de Cooperación</a></li>
                <li><a routerLink="/movilidad-estudiantil">Movilidad Estudiantil</a></li>
              </ul>
              <li><a routerLink="/educacion-continua">Educación Continua</a></li>
              <li><a routerLink="/emprendimiento">Emprendimiento</a></li>
              <li><a routerLink="/estadias">Estadía</a></li>
              <li><a href="">Seguimiento de Egresados</a></li>
              <li><a routerLink="/servicios-medicos">Servicios Médicos</a></li>
              <li><a routerLink="/servicios-tecnologicos">Servicios Tecnológicos</a></li>
            </ul>
          </li>
          <li>Gestión</li>
          <ul>
            <li><a routerLink="/bolsa-trabajo-uts">Bolsa de Trabajo de la UTS</a></li>
            <li>Consejo Directivo</li>
            <ul>
              <li><a href="http://www.utsalamanca.edu.mx/consejo-directivo-uts/" target="_blank">Acceso de Integrantes</a></li>
            </ul>
            <li><a href="http://sito.utsalamanca.edu.mx/" target="_blank">Encuestas Alumnos</a></li>
            <li><a href="assets/content/estructura-organica/Organigrama-B_Reestructuracion.pdf" target="_blank">Estructura Orgánica</a></li>
            <li><a routerLink="/gaceta">Gaceta</a></li>
            <li><a href="">Presupuesto</a></li>
            <li><a routerLink="/responsabilidad-social">Responsabilidad Social en la UTS</a></li>
            <li><a href="http://www.utsalamanca.edu.mx/sgc/" target="_blank">Sistema de Gestión de Calidad</a></li>
          </ul>
          <li>Transparencia</li>
          <ul>
            <li>Aviso de Privacidad</li>
            <ul>
              <li><a href="assets/content/avisos-privacidad/Avisos-de-Privacidad-Simplificado_UTS_2017.pdf" target="_blank">Simplificado</a></li>
              <li><a href="assets/content/avisos-privacidad/Avisos-de-Privacidad-Integral_UTS_2017.pdf" target="_blank">Integral</a></li>
            </ul>
            <li><a routerLink="/buzon">Buzón de Quejas y Sugerencias</a></li>
            <li><a routerLink="/comite-control-interno">Comité de Control Interno</a></li>
            <li><a routerLink="/contraloria-social">Contraloría Social</a></li>
            <li><a routerLink="/estados-financieros">Estados Financieros</a></li>
            <li><a href="">Fondos Federales No Regularizables</a></li>
            <li><a routerLink="/normateca">Normateca</a></li>
            <li><a routerLink="/politicas">Políticas</a></li>
            <li><a href="http://transparencia.guanajuato.gob.mx/" target="_blank">Portal de Transparencia</a></li>
            <li><a href="http://transparencia.guanajuato.gob.mx/transparencia/informacion_publica_tabulador.php" target="_blank">Tabulador de Sueldos</a></li>
          </ul>
          <li><a routerLink="/contacto">Contacto</a></li>
        </ul>

      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</article>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>