<title>UTS | Buzón de Quejas y Sugerencias</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Buzón de Quejas y Sugerencias</h2>
    </div>
    <div class="col-md-6">
      <nav aria-label="breadcrumb" class="bg-transparent">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Buzón de Quejas y Sugerencias</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>
<main id="contacto">
  <div class="row">
    <div class="col-md-9">
        <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="http://utsalamanca.edu.mx/seguimiento/buzon" allowfullscreen></iframe>
          </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>

