<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>
            Movilidad Regional “Ruta de la Independencia”
          </h3>
          <small class="text-muted">Salamanca, Gto. 21 de noviembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia44/img2.jpg" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>Salamanca, Gto. a 21 de noviembre de 2022. Estudiantes de la Universidad Tecnológica de Salamanca, mediante
          gestión realizada por la Oficina de Becas, fueron beneficiarios del Programa de Movilidad Regional “Ruta de la
          Independencia” visitando lugares emblemáticos de los municipios de Guanajuato, San Miguel de Allende y Dolores
          Hidalgo.</p>
        <p>Las y los estudiantes visitaron la Alhóndiga de granaditas y el Museo del Palacio de los Poderes en
          Guanajuato; El Museo del Bicentenario y Museo de la Independencia en Dolores Hidalgo y la Parroquia de San
          Miguel Arcángel, con el propósito de fortalecer y ampliar una visión de crecimiento personal y profesional a
          través del desarrollo de habilidades generales para contribuir a la mejora de su proyecto de vida.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>