<title>UTS | LAD</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Licenciatura en Administración con TSU en Gestión
          del Capital Humano</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">LAD</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <div class="ih-item square effect7 mb-5">
          <a href="assets/content/programas-educativos/Lic_Administracion.pdf" target="_blank">
            <div class="img">
              <img src="assets/img/programas-educativos/Lic_Administracion.png" alt="Licenciatura en Administración con TSU en Gestión
              del Capital Humano">
            </div>
          </a>
        </div>
        <!-- fin efecto hover -->
         <p class="text-justify mb-5">La/el Licenciado(a) en Administración se distingue por poseer las competencias
          profesionales esenciales que respaldan su desempeño con éxito en el dinámico
          entorno laboral, será el responsable de la administración del talento humano, recursos
          materiales y financieros, es por ello por lo que debe coordinar las diferentes
          actividades a fin de contribuir al logro de las metas y objetivos del proyecto.</p>

          <img class="mb-5" src="assets/img/programas-educativos/Infografia.png" alt="Tu trayectoria educativa en la UTS">

          <div class="text-center mb-5">
            <a href="assets/content/programas-educativos/Lic_Administracion.pdf" 
            target="_blank"
            class="btn custom-btn px-5 font-weight-bold">PLAN DE ESTUDIOS</a>
          </div>
          
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>