<h6>ENLACES FRECUENTES</h6>
<div class="container">
    <div class="row">

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect2 bottom_to_top"><a
                    href="https://pagosenlinea.guanajuato.gob.mx/public/servicios?tipoServicio=ODES" target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/pago-de-servicios_gto.png" alt="FINANZAS GTO"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">PAGO DE SERVICIOS GTO</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect2 bottom_to_top"><a
                    href="http://utsalamanca.edu.mx/pago-de-servicios/" target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/pagos-uts.png" alt="LOGO UTS"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">PAGO DE SERVICIOS UTS</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect2 bottom_to_top"><a
                    href="http://sito.utsalamanca.edu.mx/jsp/escolar/proceso_admision/proceso_interesado.jsp"
                    target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Aspirantes.png" alt="ASPIRANTES"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">ASPIRANTES TSU</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect2 bottom_to_top"><a
                    href="http://sito.utsalamanca.edu.mx/jsp/escolar/proceso_admision_lic/proceso_interesado.jsp"
                    target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Aspirantes.png" alt="ASPIRANTES"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">ASPIRANTES ING</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect2 left_to_right"><a
                    href="assets/content/egresados/listado-de-cedulas-gen-7-(12-06-18).pdf" target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Egresados.png" alt="EGRESADOS"></div>
                    <div class="info">
                        <h3>LEER MÁS</h3>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">EGRESADOS</p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm text-center bg-ef">
            <!-- normal -->
            <div class="ih-item circle effect5"><a href="http://www.utsalamanca.edu.mx/sgc/" target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/sgc.png" alt="SGC"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end normal -->
            <div class="card-body">
                <p class="text-white bg-primary">SGC</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect10 top_to_bottom"><a routerLink="/directorio">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Directorio.png" alt="DIRECTORIO UTS"></div>
                    <div class="info">
                        <h3>LEER MÁS</h3>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">DIRECTORIO UTS</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect19"><a href="http://sito.utsalamanca.edu.mx/" target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/SITO.png" alt="SITO"></div>
                    <div class="info">
                        <h3>INGRESAR</h3>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">SISTEMA ESCOLAR</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect2 bottom_to_top"><a routerLink="/politicas">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Politicas.png" alt="POLÍTICAS"></div>
                    <div class="info">
                        <h3>LEER MÁS</h3>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">POLÍTICAS</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect2 top_to_bottom"><a routerLink="/becas">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Becas.png" alt="BECAS"></div>
                    <div class="info">
                        <h3>LEER MÁS</h3>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">BECAS UTS</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm text-center bg-ef">
            <!-- normal -->
            <div class="ih-item circle effect13 top_to_bottom"><a routerLink="/gaceta">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Gaceta.png" alt="GACETA UNIVERSITARIA">
                    </div>
                    <div class="info">
                        <div class="info-back">
                            <h3>LEER MÁS</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end normal -->
            <div class="card-body">
                <p class="text-white bg-primary">GACETA UNIVERSITARIA</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect13 top_to_bottom"><a
                    href="https://ebookcentral.proquest.com/lib/utsalamancasp" target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Biblioteca.png" alt="BIBLIOTECA VIRTUAL">
                    </div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">BIBLIOTECA VIRTUAL</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect13 top_to_bottom"><a href="http://www.conricyt.mx/"
                    target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/conricyt.png" alt="BIBLIOTECA CONRICyT">
                    </div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">BIBLIOTECA CONRICyT</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- normal -->
            <div class="ih-item circle effect13 bottom_to_top"><a routerLink="/calendario-escolar">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Calendario.png"
                            alt="CALENDARIO Y AGENDA ESCOLAR"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>LEER MÁS</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end normal -->
            <div class="card-body">
                <p class="text-white bg-primary">CALENDARIO Y AGENDA ESCOLAR</p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect13 from_left_and_right"><a type="button" style="cursor: pointer"
                    data-toggle="modal" data-target="#moodleModal">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/icono-moodle.png" alt="MOODLE"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">MOODLE</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect2 right_to_left"><a routerLink="conocer">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Conocer.png" alt="CONOCER"></div>
                    <div class="info">
                        <h3>LEER MÁS</h3>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">CONOCER</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect13 bottom_to_top"><a
                    href="https://login.microsoftonline.com/login.srf?wa=wsignin1.0&rpsnv=4&ct=1493127522&rver=6.7.6640.0&wp=MCMBI&wreply=https%3a%2f%2fportal.office.com%2flanding.aspx%3ftarget%3d%252fdefault.aspx&lc=2058&id=501392&msafed=0&client-request-id=3a1c0327-1890-4cde-9f92-0f049d3f4255"
                    target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/Mail.png" alt="CORREO INSTITUCIONAL"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">CORREO INSTITUCIONAL</p>
            </div>
        </div>

        <div class="col-sm text-center bg-ef">
            <!-- colored -->
            <div class="ih-item circle colored effect13 bottom_to_top"><a href="http://tickets.utsalamanca.edu.mx/"
                    target="_blank">
                    <div class="img"><img src="assets/img/enlaces-frecuentes/dptoti.png" alt="SOPORTE TÉCNICO"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>INGRESAR</h3>
                        </div>
                    </div>
                </a></div>
            <!-- end colored -->
            <div class="card-body">
                <p class="text-white bg-primary">SOPORTE TÉCNICO</p>
            </div>
        </div>

    </div>
</div>

<!-- Modal Plataformas moodle-->
<div class="modal fade" id="moodleModal" tabindex="-1" role="dialog" aria-labelledby="moodleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title" id="moodleModalLabel">PLATAFORMAS MOODLE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger text-center" role="alert">
                    <h5>Sitio Virtual</h5>
                    <a href="http://virtual.utsalamanca.edu.mx/moodle/" target="_blank"><button type="button"
                            class="btn btn-outline-danger btn-block">Ingresar</button></a>
                </div>
                <div class="progress mb-2" style="height: 1px;"></div>
                <div class="alert alert-danger text-center" role="alert">
                    <h5>Sitio Virtual de Idiomas</h5>
                    <a href="http://idiomas.utsalamanca.edu.mx/moodle/" target="_blank"><button type="button"
                            class="btn btn-outline-danger btn-block">Ingresar</button></a>
                </div>
                <div class="progress mb-2" style="height: 1px;"></div>
            </div>
        </div>
    </div>
</div>