<title>UTS | Convenios con IEMS</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Convenios con IEMS</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Convenios</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="cele">
  <div class="row">
    <div class="col-md-9 text-justify">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4">
        <a>
          <div class="img">
            <img src="assets/img/convenios/Convenios.png" alt="Convenios con IEMS">
          </div>
        </a>
      </div>
      <!-- fin efecto hover -->
      <p>La Universidad Tecnológica de Salamanca (UTS) tiene establecidos convenios de colaboración con diversas
        Instituciones de Educación Media Superior, con el objetivo de brindar beneficios académicos y económicos a sus
        estudiantes.</p>

      <p><strong>Instituciones con Convenio</strong></p>
      <ul>
        <li>CECyTE Guanajuato (Todos los planteles del estado).</li>
        <li>SABES (Sistema Avanzado de Bachillerato y Educación Superior, todos sus planteles del estado).</li>
        <li>CONALEP Guanajuato (Todos los planteles del estado).</li>
        <li>CETIS 62.</li>
        <li>CETIS 149.</li>
        <li>CETESA (Centro de Estudios de Salamanca AC).</li>
        <li>CBTIS 238.</li>
      </ul>

      <p><strong>Beneficios para Alumnos de Instituciones con Convenio</strong></p>
      <p>Los estudiantes provenientes de las instituciones afiliadas podrán obtener <strong>condonación del pago de ficha de
        admisión</strong> a la UTS, siempre y cuando:</p>
      <ul>
        <li>Cuenten con un promedio general mínimo de 8.0.</li>
        <li>Presenten una constancia oficial emitida por su institución de origen que avale dicho promedio.</li>
      </ul>

      <p>Adicionalmente, tanto estudiantes como personal de las instituciones con convenio tendrán acceso a costos
        preferenciales en los cursos del Centro de Lenguas Extranjeras (CELE) de la UTS, donde se imparten los
        siguientes idiomas:</p>
      <ul>
        <li>Inglés</li>
        <li>Francés</li>
        <li>Japonés</li>
        <li>Italiano</li>
        <li>Alemán</li>
      </ul>

      <p>Este apoyo refleja el compromiso de la UTS con la educación accesible y de calidad, incentivando el desarrollo
        profesional de los estudiantes destacados.</p>


    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>