<title>UTS | Aseguramiento Escolar</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Aseguramiento Escolar</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Alumnos UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Aseguramiento Escolar</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="aseguramiento-escolar">
  <div class="row">
    <div class="col-md-9 text-justify">
      <h4 class="text-center">SEGURIDAD SOCIAL</h4>
      <p>La Universidad Tecnológica de Salamanca ofrece a la comunidad estudiantil cobertura médica y de asistencia social durante
        toda su estancia como alumno dentro de la Institución.</p>
      <p class="font-weight-bold">IMSS</p>
      <p>Es un Seguro de Salud que el IMSS otorga a los estudiantes que no están amparados por ningún sistema de seguridad social.</p>
      <p class="font-weight-bold">Requisitos:
        <span class="font-weight-normal">Estar inscrito en algún programa educativo de nivel superior de la Universidad.</span>
      </p>
      <p class="font-weight-bold">Beneficios:</p>
      <ul>
        <li>Atención de urgencia o accidentes.</li>
        <li>Consulta médica general y de especialidades.</li>
        <li>Hospitalización.</li>
        <li>Intervenciones quirúrgicas.</li>
        <li>Análisis de laboratorio y rayos X.</li>
        <li>Medicamentos.</li>
        <li>Asistencia médica en casos de Maternidad y en periodos de lactancia.</li>
      </ul>
      <p class="font-weight-bold">Vigencia:
        <span class="font-weight-normal">El Seguro inicia a partir del día siguiente inmediato en que el estudiante se inscribe al ciclo escolar y termina
          cuando y solo sí, el plantel escolar lo da de baja ante el IMSS cuando:</span>
      </p>
      <ul>
        <li>El estudiante no se reinscriba al siguiente ciclo escolar.</li>
        <li>Cause baja de la Institución en el curso escolar.</li>
      </ul>
      <p>El alumno deberá verificar que cuente con Seguridad Social, es decir, el alumno durante el primer cuatrimestre deberá
        presentarse ante el IMSS a realizar el alta ya que para su reinscripción al segundo cuatrimestre deberá entregar
        copia de la cartilla en el Área de Servicios Médicos, de lo contrario no podrá efectuar su inscripción.</p>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>