<title>UTS | IPQ</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Ingeniería en Procesos Químicos</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">IPQ</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <div class="ih-item square effect7 mb-4">
          <a href="#">
            <div class="img">
              <img src="assets/img/carreras/banner-ing-proc-quim.png" alt="IPQ">
            </div>
          </a>
        </div>
        <!-- fin efecto hover -->
        <div class="row mb">
          <div class="col-sm-3">
            <img class="rounded mx-auto d-block" src="assets/img/carreras/Logo-IPQ.png" style="width: 138px; height: 138px;" alt="IPQ">
          </div>
          <div class="col-sm-9">
            <p class="mt-3 text-justify">El Ingeniero en Procesos Químicos cuenta con las competencias profesionales necesarias para su desempeño en el
              campo laboral, en el ámbito local, regional y nacional.</p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-competencias-tab" data-toggle="pill" href="#v-pills-competencias" role="tab" aria-controls="v-pills-competencias"
                aria-selected="true">COMPETENCIAS PROFESIONALES</a>
              <a class="nav-link" id="v-pills-escenarios-tab" data-toggle="pill" href="#v-pills-escenarios" role="tab" aria-controls="v-pills-escenarios"
                aria-selected="false">ESCENARIOS DE ACTUACIÓN</a>
              <a class="nav-link" id="v-pills-ocupaciones-tab" data-toggle="pill" href="#v-pills-ocupaciones" role="tab" aria-controls="v-pills-ocupaciones"
                aria-selected="false">OCUPACIONES PROFESIONALES</a>
              <a class="nav-link" id="v-pills-plan-tab" data-toggle="pill" href="#v-pills-plan" role="tab" aria-controls="v-pills-plan"
                aria-selected="false">PLAN DE ESTUDIOS</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content text-justify" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-competencias" role="tabpanel" aria-labelledby="v-pills-competencias-tab">
                <div class=" mt-3">
                  <p>Las competencias profesionales son las destrezas y actitudes que permiten al Ingeniero desarrollar actividades
                    en su área profesional, adaptarse a nuevas situaciones, así como transferir, si es necesario, sus conocimientos,
                    habilidades y actitudes a áreas profesionales próximas.</p>
                  <p class="font-weight-bold">Competencias Genéricas:</p>
                  <ul>
                    <li>Plantear y solucionar problemas con base en los principios y teorías de física, química y matemáticas,
                      a través del método científico para sustentar la toma de decisiones en los ámbitos científico y tecnológico.</li>
                    <li>Desarrollar y fortalecer las habilidades instrumentales, interpersonales, sistémicas y directivas para
                      comunicarse en un segundo idioma.</li>
                  </ul>
                  <p class="font-weight-bold">Competencias Específicas:</p>
                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="badge badge-success badge-pill mr-2">1</span>
                      Administrar los recursos aplicables a los procesos a través de la planeación, organización, ejecución, evaluación y retroalimentación
                      para asegurar la competitividad de la empresa.
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-success badge-pill mr-2">1.1</span>
                        Gestionar los recursos requeridos de acuerdo al plan de producción para disponer de ellos oportunamente.</li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-success badge-pill mr-2">1.2</span>
                        Dirigir la aplicación de los recursos de una manera eficaz y transparente para producir con calidad y competitividad.</li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-secondary badge-pill mr-2">2</span>
                        Diseñar y supervisar procesos químicos empleando los principios de las operaciones unitarias y de las reacciones químicas
                        de una manera competitiva y sustentable para obtener productos de calidad.</li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-secondary badge-pill mr-2">2.1</span>
                        Definir las características del producto mediante investigación bibliográfica y experimentación para satisfacer los requerimientos del cliente.</li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-secondary badge-pill mr-2">2.2</span>
                        Planear el proceso estableciendo las etapas e insumos necesarios para lograr un producto de calidad.</li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-secondary badge-pill mr-2">2.3</span>
                        Optimizar procesos químicos aplicando las herramientas pertinentes para lograr una mayor rentabilidad de la organización.</li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-secondary badge-pill mr-2">2.4</span>
                        Controlar los procesos químicos a través de herramientas estadísticas, técnicas analíticas e instrumentales para mantenerlos en control.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-escenarios" role="tabpanel" aria-labelledby="v-pills-escenarios-tab">
                <div class="mt-2">
                  <p>El Ingeniero en Procesos Químicos, podrá desenvolverse en:</p>
                  <p class="font-weight-bold">En el Sector Industrial:</p>
                  <ul>
                    <li>Obtención de productos químicos.</li>
                    <li>Refinación de hidrocarburos.</li>
                    <li>Petroquímica básica</li>
                    <li>Petroquímica secundaria.</li>
                    <li>Industria textil.</li>
                    <li>Industria de alimentos y bebidas.</li>
                    <li>Industria farmacéutica.</li>
                    <li>Fabricantes de equipos y plantas.</li>
                  </ul>
                  <p class="font-weight-bold">En el Sector Educativo:</p>
                  <ul>
                    <li>Instituciones de educación media, media superior y superior.</li>
                    <li>Instituciones de investigación.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-ocupaciones" role="tabpanel" aria-labelledby="v-pills-ocupaciones-tab">
                <div class="mt-2">
                  <p>El Ingeniero en Procesos Químicos podrá desempeñarse como:</p>
                  <ul>
                    <li>Ingeniero de producción en plantas de procesos.</li>
                    <li>Ingeniero de control de calidad.</li>
                    <li>Ingeniero de seguridad industrial.</li>
                    <li>Gerente de operaciones en plantas de procesos.</li>
                    <li>Gerente de planta de procesos.</li>
                    <li>Administrador de proyectos de diseño de equipos y procesos químicos.</li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-plan" role="tabpanel" aria-labelledby="v-pills-plan-tab">
                <div class="mt-2">
                  <h5>Sistema escolarizado</h5>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">7º Cuatrimestre</div>
                      <div class="card-body small">
                          <li>MATEMÁTICAS PARA INGENIERÍA I</li>
                          <li>FÍSICA PARA INGENIERÍA</li>
                          <li>TERMODINÁMICA QUÍMICA AVANZADA</li>
                          <li>METROLOGÍA DE LOS PROCESOS</li>
                          <li>QUÍMICA APLICADA</li>
                          <li>INGLÉS VI</li>
                          <li>ADMINISTRACIÓN DEL TIEMPO</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">8º Cuatrimestre</div>
                      <div class="card-body small">
                          <li>MATEMÁTICAS PARA INGENIERÍA II</li>
                          <li>BALANCES DE MATERIA Y ENERGÍA AVANZADA</li>
                          <li>ANÁLISIS INSTRUMENTAL I</li>
                          <li>GESTIÓN Y CONTROL DE LA CALIDAD</li>
                          <li>INGLÉS VII</li>
                          <li>PLANEACIÓN Y ORGANIZACIÓN DEL TRABAJO</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">9º Cuatrimestre</div>
                      <div class="card-body small">
                          <li>OPERACIONES UNITARIAS AVANZADAS</li>
                          <li>ANÁLISIS INSTRUMENTAL II</li>
                          <li>DISEÑO DE REACTORES</li>
                          <li>INTEGRADORA I</li>
                          <li>OPTATIVA I</li>
                          <li>INGLÉS VIII</li>
                      </div>
                    </div>
                  </div>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">10º Cuatrimestre</div>
                      <div class="card-body small">
                          <li>OPTIMIZACIÓN Y SIMULACIÓN DE PROCESOS</li>
                          <li>INSTRUMENTACIÓN Y CONTROL</li>
                          <li>SEGURIDAD, HIGIENE Y PROTECCIÓN AMBIENTAL</li>
                          <li>INTEGRADORA II</li>
                          <li>OPTATIVA II</li>
                          <li>INGLÉS IX</li>
                          <li>DIRECCIÓN DE EQUIPOS DE ALTO RENDIMIENTO</li>
                          <li>NEGOCIACIÓN EMPRESARIAL</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">Estadía</div>
                      <div class="card-body">
                        <p class="text-center">
                          480 HRS.
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>