<title>UTS | Antecedentes</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Antecedentes</h2>
    </div>
    <div class="col-md-4">
      <nav aria-label="breadcrumb" class="bg-transparent">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Universidad</li>
          <li class="breadcrumb-item active" aria-current="page">Antecedentes</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>
<main id="antecedentes">
  <div class="row">
    <div class="col-md-9 text-justify">
      <img class="mb-3" src="assets/img/pagina-principal/antecedentes.png" alt="">
      <p>En 1990, la Secretaría de Educación Pública emprendió un estudio sobre nuevas opciones de Educación Superior a nivel mundial, en el cual se analizaron las experiencias de algunos países como Alemania, Estados Unidos, Francia, Gran Bretaña y Japón.</p>
      <p>Las Universidades Tecnológicas surgieron en México en 1991 (Aguascalientes, Nezahualcóyotl y Tula-Tepeji), como organismos públicos descentralizados de los gobiernos estatales y sus funciones, según la Secretaría de Educación Pública, son:</p>
      <ul>
        <li>Operario especializado en instrumentación y control de procesos químicos industriales.</li>
        <li>Analista químico.</li>
        <li>Supervisor de procesos: Producción, Sistemas de calidad, Servicios Auxiliares, Seguridad y protección ambiental.</li>
        <li>Asesor técnico de ventas: Material de laboratorio, Reactivos químicos, Equipo de laboratorio y de procesos industriales.</li>
        <li>Emprendedor de negocios.</li>
      </ul>
      <p>SEP 1991, Universidad Tecnológica. Una opción educativa para la formación profesional de nivel superior, México: SEP.</p>
      <p>En el Estado de Guanajuato, a partir de una serie de estudios de factibilidad, nace la Unidad Académica de Salamanca en septiembre de 2009, perteneciente a la Universidad Tecnológica del Suroeste de Guanajuato (UTSOE) y el 30 de abril del año 2010, los gobiernos federal y estatal firman el Convenio de Coordinación para la creación, operación y apoyo financiero de la Universidad Tecnológica de Salamanca (UTS), en el cual se pacta la creación de esta Universidad como un Organismo Público Descentralizado de la Administración Pública Estatal con personalidad jurídica y patrimonio propios, sectorizado a la Secretaría de Educación de Guanajuato, considerando como zona de influencia a los municipios de Celaya, Cortazar, Irapuato, Juventino Rosas, Salamanca y Villagrán.</p>
      <p>La UTS inició labores docentes y administrativas en instalaciones provisionales, atendiendo a una matrícula de 109 estudiantes, en los Programas Educativos: Tecnología Ambiental (actualmente Química, área Ambiental); Procesos Industriales, área Automotriz; y Mecatrónica, área Automatización.</p>
      <p>El objeto la UTS es impartir educación superior hasta el nivel licenciatura, así como cursos de actualización en sus diversas modalidades, para preparar profesionales con una sólida formación científica, tecnológica y en valores, conscientes del contexto nacional e internacional, en lo económico y político, además de realizar labores de investigación y difusión del desarrollo tecnológico, pertinentes para el desarrollo económico y social de la región, del Estado y de la Nación.</p>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>