<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>
            Recibe UTS Premio de Sustentabilidad Energética Guanajuato 2022
          </h3>
          <small class="text-muted">Salamanca, Gto. 29 de noviembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia47/img1.jpg" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>Salamanca, Gto. a 29 de noviembre de 2022. Otorga IDEA GTO el tercer lugar del Premio de Sustentabilidad
          Energética Guanajuato 2022 a la Universidad Tecnológica de Salamanca por el proyecto “Arranque Sistema
          Fotovoltaico de 11.5 KW interconectado a la RED, Programa de Cultura de Ahorro Energético”.</p>
        <p>IDEA GTO en colaboración con la Secretaría de Medio Ambiente y Ordenamiento Territorial, la Secretaría de
          Desarrollo Económico Sustentable, la Comisión Federal de Electricidad, CINERGIA UG y SESSA (Soluciones
          Estratégicas Sostenibles) entregaron el Premio de Sustentabilidad Energética 2022, reconociendo el esfuerzo de
          las 7 empresas y organismos institucionales de educación media y superior que sumaron esfuerzos para lograr un
          consumo responsable de energía en 2022 contribuyendo así, a hacer de Guanajuato un estado más sostenible.</p>
        <p>La Universidad Tecnológica de Salamanca obtuvo el Tercer lugar del Premio de Sustentabilidad Energética
          Guanajuato 2022 en la categoría H: Desarrollo de proyectos de generación eléctrica mediante fuentes renovables
          de energía para autoconsumo, en empresas, organismos, instituciones de educación, investigación y desarrollo
          tecnológico.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>