<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia19-firma-de-convenio-de-colaboracion-UTT-y-UTS/img1-firma-de-convenio-UTT-y-UTS.JPG"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia19-firma-de-convenio-de-colaboracion-UTT-y-UTS/img1-firma-de-convenio-UTT-y-UTS.JPG"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia19-firma-de-convenio-de-colaboracion-UTT-y-UTS/img2-firma-de-convenio-UTT-y-UTS.JPG"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia19-firma-de-convenio-de-colaboracion-UTT-y-UTS/img2-firma-de-convenio-UTT-y-UTS.JPG"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia19-firma-de-convenio-de-colaboracion-UTT-y-UTS/img3-firma-de-convenio-UTT-y-UTS.JPG"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia19-firma-de-convenio-de-colaboracion-UTT-y-UTS/img3-firma-de-convenio-UTT-y-UTS.JPG"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia19-firma-de-convenio-de-colaboracion-UTT-y-UTS/img4-firma-de-convenio-UTT-y-UTS.JPG"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia19-firma-de-convenio-de-colaboracion-UTT-y-UTS/img4-firma-de-convenio-UTT-y-UTS.JPG"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>
  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">Firma de Convenio de Colaboración entre la Universidad de Tula Tepeji y la Universidad Tecnológica de Salamanca.</h3>
        <p class="text-right font-weight-bold font-italic">21 de febrero del 2018</p>
        <p>La Universidad Tecnológica de Tula Tepeji y la Universidad Tecnológica de Salamanca firmaron un Convenio de Colaboración, con el objetivo de establecer las bases generales y unir esfuerzos para llevar a cabo actividades conjuntas de: investigación; docencia; colaboración académica; desarrollo profesional; difusión de actividades culturales, artísticas, deportivas y sociales; estancias; y Estadías. En los términos de las atribuciones que les confieren las leyes que los rigen y mediante programas y/o convenios específicos.</p>
        <p>Para el cumplimiento del objeto del presente Convenio, y de acuerdo a sus necesidades, “LAS PARTES” llevarán a cabo actividades conjuntas de colaboración, como las que de manera enunciativa se indican, más no limitativa.</p>
        <p>En el evento de la firma del convenio, el Ing. Alfredo López Herrera destacó: “Deseando que se pueda realizar en beneficio de los estudiantes y en beneficio del personal docente actividades que redunden a la obtención de resultados de alto impacto para ambas instituciones”.</p>
        <p>Después de esto, se realizó la firma del documento, el cual fue firmado por el Ing. Alfredo López Herrera, Rector de la Universidad Tecnológica de Salamanca, el Dr. Luis Téllez Reyes, Rector de la Universidad Tecnológica de Tula Tepeji, la Mtra. Amalia Santillán Arias, Secretaria de Vinculación de la Universidad Tecnológica de Tula Tepeji y el Mtro. Dante Castor Rendon Ulloa, Director de Vinculación y Extensión Universitaria de la Universidad Tecnológica de Salamanca.</p>
      </article>
      <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>

</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>