<title>UTS | Cuerpos Académicos</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Cuerpos Académicos</h2>
      </div>
      <div class="col-md-5">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">Cuerpos Académicos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="cuerpos-academicos">
  <div class="row">
    <div class="col-md-9">
      <h4 class="text-center font-weight-light mb-3">Cuerpos Académicos en Formación </h4>
      <div class="table-responsive-md">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center" colspan="4">Identificación del cuerpo académico </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Clave del cuerpo académico</th>
            <td>UTSAL-CA-5</td>
            <td>UTSAL-CA-3</td>
            <td>UTSAL-CA-6</td>
          </tr>
          <tr>
            <th scope="row">Nombre del cuerpo académico </th>
            <td>Automatización y control</td>
            <td>Mecatrónica</td>
            <td>Química Industrial, Ambiental y Energías Renovables</td>
          </tr>
          <tr>
            <th scope="row">Grado de consolidación</th>
            <td>Cuerpo académico en formación</td>
            <td>Cuerpo académico en formación</td>
            <td>Cuerpo académico en formación</td>
          </tr>
          <tr>
            <th scope="row">Área(s) y disciplina(s) del cuerpo académico</th>
            <td>1 Ingeniería y Tecnología-INGENIERÍA</td>
            <td>1 Ingeniería y Tecnología-INGENIERÍA ELECTRÓNICA</td>
            <td>Ingeniería y Tecnología-INGENIERÍA (OTROS)</td>
          </tr>
          <tr>
            <th scope="row">Miembros</th>
            <td><ul>
              <li>HERNÁNDEZ MOSQUEDA CARLOS</li>
              <li>LUNA PUENTE RAFAEL</li>
              <li>PEREZ CHIMAL ROSA JANETTE</li>
              <li>PRIETO FIGUEROA ARACELI</li>
            </ul></td>
            <td><ul>
              <li>MANJARREZ MENDOZA JAVIER</li>
              <li>DELGADO ARREDONDO PAULO ANTONIO</li>
              <li>GALLEGOS ARELLANO ELOISA</li>
              <li>JURADO PÁRAMO ALEJANDRO </li>
              <li>RAMÍREZ GASCA HUMBERTO</li>
              <li>SALAZAR VILLANUEVA FERNANDO</li>
            </ul></td>
            <td><ul>
              <li>CÁRDENAS GALINDO LUIS EDILBERTO</li>
              <li>DELGADO PONCE LUIS</li>
              <li>TORIZ GUTIERREZ DIANA ALEJANDRA</li>
              <li>VARGAS HERNANDEZ OSCAR JOEL</li>
            </ul></td>
          </tr>
          <tr>
            <th scope="row">LGAC</th>
            <td>1 Automatización de sistemas mecatrónicos y eficiencia energética</td>
            <td>1 Sistemas de automatización de procesos, optomecatrónica y gestión de energía</td>
            <td>1 Química Industrial, Ambiental y Energías Renovables</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>