<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia22-Dia-Mundial-del-Agua-2018/img1-Dia-Mundial-del-Agua-2018.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia22-Dia-Mundial-del-Agua-2018/img1-Dia-Mundial-del-Agua-2018.jpg"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia22-Dia-Mundial-del-Agua-2018/img2-Dia-Mundial-del-Agua-2018.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia22-Dia-Mundial-del-Agua-2018/img2-Dia-Mundial-del-Agua-2018.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia22-Dia-Mundial-del-Agua-2018/img3-Dia-Mundial-del-Agua-2018.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia22-Dia-Mundial-del-Agua-2018/img3-Dia-Mundial-del-Agua-2018.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia22-Dia-Mundial-del-Agua-2018/img5-Dia-Mundial-del-Agua-2018.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia22-Dia-Mundial-del-Agua-2018/img5-Dia-Mundial-del-Agua-2018.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>
  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">Día Mundial del Agua 2018.</h3>
        <p class="text-right font-weight-bold font-italic">15 de marzo del 2018</p>
        <p>El evento dio inicio con el registro de asistencia del Lic. Antonio Soto Pérez, Gerente del Consejo Estatal Hidráulico
          (CEH) del Estado de Guanajuato, la Lic. Mariana Juárez Trejo, Representanta de la Comisión Nacional del Agua (CONAGUA),
          así como de estudiantes de los grupos de QAM 5A, QAI 2B y ERC 2A.</p>
        <p>9:40 a 10:00 h. Inauguración del evento, por parte del Ing. Alfredo López Herrera, Rector de la Universidad Tecnológica
          de Salamanca (UTS), contando con la presencia del Lic. Antonio Soto Pérez, Gerente del Consejo Estatal Hidráulico
          (CEH) del Estado de Guanajuato, la Lic. Mariana Juárez Trejo, Representanta de la Comisión Nacional del Agua (CONAGUA)
          y el M.C. Oscar Joel Vargas Hernández, Profesor de Tiempo Completo de la UTS.</p>
        <p>10:00 a 11:00 h. Se llevó a cabo la conferencia magistral titulada “Cultivo de microorganismos fotosintéticos,
          en aguas residuales para la obtención de biomasa”, por parte de la Dra. Jaqueline González Castañeda, Académica
          de la Universidad de Guanajuato. El evento se realizó en el auditorio del Edificio D.</p>
        <p>11:00 a 11:30 h. Los alumnos de la Carrera de Energías Renovables expusieron los proyectos: “Nube hogar” y “Risol”,
          a estudiantes del CONALEP Salamanca y estudiantes de las Carreras de Química Área Industrial y Energías Renovables
          de la UTS. Los proyectos se han trabajado como proyectos integradores durante el cuatrimestre enero - abril de
          2018.
        </p>
        <p>11:30 a 12:00. Se realizaron ponencias: “Jardín simbiótico como alternativa en la producción de biofertilizante”
          y “La reutilización de aguas grises”, por parte de los estudiantes de QAI 2C, así como “Tratamiento de agua residual
          empleando azolla anabaena”, a cargo de los alumnos de QAI 5B.</p>
        <p>12:00 a 13:00 h. Los alumnos de QAI 5A realizaron la ponencia del proyecto titulado “Normatividad para caracterización
          de aguas residuales urbanas”, el cual se ha desarrollado desde el primer cuatrimestre.</p>
        <p>10h00 - 11h00. En el pasillo del Edificio B se llevó a cabo la presentación del “Prototipo para bombeo solar”,
          en el cual se dio la explicación de las ventajas de usar bombas de agua con energías limpias.</p>
        <p>11h00 – 12h00. Se realizó el taller “Técnicas empleadas en el tratamiento de agua residual”, en cual se contó
          con la participación de alumnos de CONALEP, dándose inicio con una plática de “Introducción AL Programa Educativo
          de TSU en Química, Área ’Tecnología Ambiental’” y se mostró un video. Posteriormente se les mostró técnicas como:
          DQO, Grasas y aceites, Coagulación-floculación, Alcalinidad, Sólidos totales, volátiles, sedimentables y Materia
          flotante; durante la exposición de estas técnicas, los alumnos de CONALEP eran participes de realizarlas. El evento
          se realizó en el Laboratorio de Química.</p>
        <p>11h00 – 12h00. Dinámica “Luchando por el agua”, por parte de CEH, CONAGUA y COTAS, una dinámica interactiva que
          contó con la participación de alumnos de toda la comunidad estudiantil y alumnos de CONALEP. El evento consistió
          en preguntas y respuestas del tema de cultura general y concientización del agua.</p>
        <p>13h30 – 14h00. Clausura del evento del “Día mundial del agua 2018”.</p>
      </article>
      <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>

</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>