<title>UTS | Horarios Curso de Nivelación</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Horarios Curso de Nivelación</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Alumnos UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Horarios Curso de Nivelación</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="calendario-escolar">
  <div class="row">
    <div class="col-md-9 text-justify">

      <div class="alert alert-dark text-center" role="alert">
        <h4>Horarios Curso de Nivelación Cuatrimestre Septiembre - Diciembre 2022</h4>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th scope="col">Carrera</th>
              <th scope="col">Horarios</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Administración, Área Capital Humano</td>
              <td class="text-center"><a
                  href="assets/content/horarios-curso-nivelacion/sep_dic_2022/Horario_del_Curso_de_Nivelacion_TSU_en_Administracion_Area_Capital_humano.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Mecatrónica, Área Automatización y Procesos Industriales, Área Automotriz</td>
              <td class="text-center"><a href="assets/content/horarios-curso-nivelacion/sep_dic_2022/MET_PIAA.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Química, Área Tecnología Ambiental</td>
              <td class="text-center"><a
                  href="assets/content/horarios-curso-nivelacion/sep_dic_2022/Horarios_Quimica_Area_Tecnologia_Ambiental.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Química, Área Industrial</td>
              <td class="text-center"><a
                  href="assets/content/horarios-curso-nivelacion/sep_dic_2022/Horarios_Quimica_Area_Industrial1.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a>
                <a href="assets/content/horarios-curso-nivelacion/sep_dic_2022/Horarios_Qumica_Area_Industrial2.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a>
                <a href="assets/content/horarios-curso-nivelacion/sep_dic_2022/Horarios_Quimica_Area_Industrial3.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a>
                <a href="assets/content/horarios-curso-nivelacion/sep_dic_2022/Horarios_Quimica_Area_Industrial4.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a>
              </td>
            </tr>
            <tr>
              <td>Energías Renovables, Área Calidad y Ahorro de Energía</td>
              <td class="text-center"><a
                  href="assets/content/horarios-curso-nivelacion/sep_dic_2022/Horario_Energias_Renovables_Area_Calidad_y_Ahorro_de_Energia.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Tecnologías de la Información, Área Desarrollo de Software Multiplataforma</td>
              <td class="text-center"><a
                  href="assets/content/horarios-curso-nivelacion/sep_dic_2022/Horario_del_Curso_de_Nivelacion_TSU_en_Tecnologias_de_la_Informacion_Area_DSM.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>

            <!-- <tr>
              <td>Administración, Área Capital Humano - Despresurizado</td>
              <td class="text-center"><a href="assets/content/horarios-curso-nivelacion/sep_dic_2022/Horario_MayAgo_2022_Grupo_ADC_7B_Despresurizado.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>  -->

            <!--
            <tr>
              <td>Inglés Grupos de TSU</td>
              <td class="text-center"><a href="assets/content/horarios-curso-nivelacion/may_ago_2021/Listas_de_Grupos_de_TSU_para_la_asignatura_de_Ingles_(MayAgo-2021).xlsx" target="_blank"><img
                    src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Inglés Grupos de Ingeniería</td>
              <td class="text-center"><a href="assets/content/horarios-curso-nivelacion/may_ago_2021/Listas_de_Grupos_de_INGENIERIA_para_la_asignatura_de_Ingles_(MayAgo-2021).xlsx" target="_blank"><img
                    src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
            </tr>
            -->
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>