<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">

  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>Ing. Alfredo López visita Embajada de Finlandia en México</h3>
          <small class="text-muted">13 de septiembre del 2019</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">

          <img class="img-fluid" src="assets/img/noticias/noticia34/img.jpg">

        </div>
      </div>
      <div class="text-justify mt-3">
        <p>En concordancia con las acciones que desarrolla la Universidad Tecnológica de Salamanca UTS, para ampliar el
          horizonte de oportunidades de desarrollo de la propia Institución, y de los estudiantes a quienes se debe, se
          atendió la invitación realizada a nuestro Rector, Ing. Alfredo López Herrera, por parte de la Embajadora de
          Finlandia, Sra. Päivi M. Pohjanheimo y de su esposo el Sr. Pasi Pohjanheimo para visitar la Embajada de
          Finlandia en la CDMX.</p>
        <p>La recepción se dio en el marco de la visita a México del Presidente de la Agencia Nacional de Educación de
          Finlandia, Sr. Olli-Pekka Heinonen, contando con la presencia de las Delegaciones Oficial y Empresarial.</p>
        <p>La UTS, busca establecer una vinculación efectiva con centros educativos de Finlandia, con el fin último de
          fortalecer la Calidad Educativa, mediante la capacitación de nuestra planta docente en técnicas de vanguardia,
          aplicables al proceso formativo de nuestros estudiantes, que privilegien su desarrollo humano integral y
          permitan abatir el abandono escolar.</p>
        <p>Finlandia tiene una economía altamente industrializada, en gran parte de libre mercado, con un PIB per cápita
          casi tan alto como el de Austria y los Países Bajos y ligeramente superior al de Alemania y Bélgica. El
          comercio es importante, con exportaciones que representan más de un tercio del PIB en los últimos años.</p>
        <p>En el aspecto educativo, según el informe 2015 del Programa Internacional para la Evaluación de Estudiantes o
          Informe PISA (por sus siglas en inglés: Programme for International Student Assessment), que es un estudio
          llevado a cabo por la Organización para la Cooperación y el Desarrollo Económico (OCDE) a nivel mundial, y que
          mide el rendimiento académico de los alumnos en matemáticas, ciencia y lectura, coloca a Finlandia entre los
          primeros lugares.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>