<div class="text-center">
 <a href="http://www.utsalamanca.edu.mx/"><img src="assets/img/pagina-principal/logouts.png" style="width: 18rem;" class="rounded mb-3" alt="UTS"></a>
    <h1 class="card-text">ERROR 404 - Artículo no encontrado </h1>
    <p class="card-text">Lo sentimos no pudimos encontrar la página que buscas</p>
    <h4 class="card-text">Contáctanos</h4>
    <h5>Departamento de Tecnologías de la Información</h5>
    <p class="card-text">01 (464) 647 38 61 - ext. 179</p>
    <p>Ir a la página de inicio:
        <a href="/">Página de inicio</a>.</p>
</div>