#occ-widget > div > div {
    position: sticky;
    bottom: 80px;
    right: 0px;
    height: 800px;
    min-height: 300px;
    max-height: calc(100% - 104px);
    max-width: 100%;
    z-index: 1000;
    width: 100%;
    margin: 0;
}

    