<title>UTS | Bolsa de Empleo</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Bolsa de Empleo</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Bolsa de Empleo</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="bolsa-trabajo">
  <div class="row">
    <div class="col-md-7 text-justify">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4"><a href="https://www.facebook.com/UTSBolsaDeTrabajo/" target="_blank">
          <div class="img"><img src="assets/img/pagina-principal/banner_bolsa_trabajo.jpg" alt="Bolsa de Empleo"></div>
        </a></div>
      <!-- fin efecto hover -->
      <p>La Universidad Tecnológica de Salamanca, a fin de apoyar a la comunidad estudiantil, a través del área de
        Vinculación realiza la gestión con los diversos sectores para la publicación de ofertas laborales y estadías,
        dichos servicios se pueden consultar en el perfil de Facebook <a
          href="https://www.facebook.com/UTSBolsaDeTrabajo/" target="_blank">UTS Bolsa de Trabajo Egresados.</a> </p>

      <div class="alert alert-primary my-5" role="alert">
        Además, te invitamos a que realices tu registro en la bolsa de empleo con OCC Mundial <a
          href="https://utsalamanca.occ.com.mx/Bolsa_Trabajo" target="_blank" class="alert-link">haz clic en este link</a>.
      </div>
    </div>
    <div class="col-md-5">
      <div id="occ-widget"></div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
