<title>UTS | Bolsa de Empleo</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Bolsa de Empleo</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Bolsa de Empleo</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="bolsa-trabajo">
  <div class="row">
    <div class="col-md-7 text-justify">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4"><a href="https://www.facebook.com/UTSEstadiasyBolsadeempleo"
          target="_blank">
          <div class="img"><img src="assets/img/pagina-principal/banner-bolsa-empleo.jpg" alt="Bolsa de Empleo"></div>
        </a></div>
      <!-- fin efecto hover -->
      <p>La Universidad Tecnológica de Salamanca, a fin de apoyar a la comunidad estudiantil, a través del área de
        Vinculación realiza la gestión con los diversos sectores para la publicación de ofertas laborales y estadías,
        dichos servicios se pueden consultar en el perfil de Facebook <a
          href="https://www.facebook.com/UTSEstadiasyBolsadeempleo" target="_blank">UTS Bolsa de Trabajo Egresados.</a>
      </p>
      <div class="card text-center my-4">
        <div class="card-header">
           <p class="font-weight-bold">CONTACTO BOLSA DE EMPLEO:</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Ixchel Divivani Vázquez Méndez</h5>
            <p class="card-text">Jefa de Oficina de Enseñanza Práctica y Seguimiento a Egresados</p>
            <p>Email: <small><a href="mailto:visitayestadia@utsalamanca.edu.mx">visitayestadia@utsalamanca.edu.mx</a></small></p>
            <p class="card-text">Horario: Lunes a Viernes de 8h00 a 16h00</p>
            <p class="card-text">Edificio de Centro de Información y Consulta / Biblioteca</p>
            <p class="card-text fa fa-phone-square"> 464 643 52 00 · Ext:5207</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div id="occ-widget"></div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>