<title>UTS | IQ</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Ingeniería Química con TSU en Química Industrial</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">IQ</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <div class="ih-item square effect7 mb-5">
          <a href="assets/content/programas-educativos/Ing_Quimica.pdf" target="_blank">
            <div class="img">
              <img src="assets/img/programas-educativos/Ing_Quimica_Industrial.png" alt="Ingeniería Química con TSU en Química Industrial">
            </div>
          </a>
        </div>
        <!-- fin efecto hover -->
         <p class="text-justify mb-5">La/el Licenciado(a) en Ingeniería Química tendrá los conocimientos y habilidades para
          diseñar y supervisar procesos químicos, emplear los principios de las operaciones
          unitarias y de las reacciones químicas, obtener productos de calidad de una manera
          competitiva y sustentable, controlar los procesos químicos a través de sistemas
          computacionales, así como, administrar los recursos para hacer la empresa más
          competitiva.</p>

          <img class="mb-5" src="assets/img/programas-educativos/Infografia.png" alt="Tu trayectoria educativa en la UTS">

          <div class="text-center mb-5">
            <a href="assets/content/programas-educativos/Ing_Quimica.pdf" 
            target="_blank"
            class="btn custom-btn px-5 font-weight-bold">PLAN DE ESTUDIOS</a>
          </div>
          
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
