<title>UTS | Responsabilidad Social en la UTS</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Responsabilidad Social en la UTS</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Gestión</li>
            <li class="breadcrumb-item active" aria-current="page">Responsabilidad Social en la UTS</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="responsabilidad-social">
    <div class="row">
      <div class="col-md-9 text-justify">
       <p>La Universidad Tecnológica de Salamanca tiene el compromiso de ser una Institución de Educación Superior socialmente responsable, que contempla los impactos que genera en su entorno y su papel en el desarrollo humano sustentable, bajo parámetros de calidad académica y promoción de valores.</p>
        <p class="font-weight-bold">¿Cómo la vive su comunidad universitaria?</p>
        <ol>
          <li>Se impulsa la formación integral de los estudiantes, así como el involucramiento de toda la comunidad universitaria (estudiantes, personal docente y administrativo), en el desarrollo de la práctica de los valores institucionales.</li>
          <li>Se promueve el respeto a los derechos humanos y la formación social del cuerpo académico y estudiantes para que contribuyan al desarrollo social.</li>
          <li>Se establecen alianzas estratégicas con instituciones y organismos que en forma conjunta incrementen los beneficios en apoyo a la sociedad en general y de manera particular en las zonas vulnerables, contribuyendo así a mejorar la calidad de vida.</li>
          <li>Se brinda al personal de la UTS las condiciones que desarrollen sus capacidades y habilidades que impulsen su potencial en los ámbitos personal y profesional, en búsqueda de la sustentabilidad económica, familiar e institucional.</li>
          <li>Se fomenta la educación ambiental a través de Programas Educativos y la participación activa de la comunidad universitaria al interior y exterior de la Universidad.</li>
          <li>Se transparenta la aplicación de los recursos, a través de la rendición de cuentas a la sociedad, informando también acerca del quehacer institucional.</li>
        </ol>
        <p class="font-weight-bold">¿Qué acciones de responsabilidad social universitaria se realizan en la UTS?</p>
        <ol>
          <li>El 100% de los estudiantes de la UTS tienen la posibilidad de participar en actividades culturales y deportivas, como parte de su formación integral. Asimismo se tiene un Programa Integral de Tutorías, en el que participan todos los alumnos.</li>
          <li>La UTS tiene un Comité Interno de Ética y Valores, el cual realiza permanentemente actividades para el fomento y práctica de los valores institucionales (Conferencias, pláticas, distribución de folletos, carteles, juegos didácticos, etc.)</li>
          <li>Realización de convenios, como el proyecto PERAJ.</li>
          <li>Capacitación continua del personal docente y administrativo.</li>
          <li>La UTS tiene Programas Educativos que incluyen en su currículo la Educación Ambiental.</li>
        </ol>
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>