<title>UTS | Convenios de Cooperación</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Convenios de Cooperación</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/"> <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Vinculación
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Convenios de Cooperación
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="convenios-cooperacion">
  <div class="row">
    <div class="col-md-9 text-justify">
      <p class="font-weight-bold">
        Convenios y Acuerdos de Cooperación Académica
      </p>
      <p>
        La Universidad Tecnológica de Salamanca forma parte del modelo educativo
        de las Universidades del Subsistema Tecnológico, el cual busca impulsar
        el desarrollo humano integral del estudiante con pensamiento crítico y
        su participación en el fortalecimiento del tejido social. Además, se
        promueve la responsabilidad ciudadana a través del fomento de valores,
        inclusión, interculturalidad, igualdad entre los géneros, respeto de los
        derechos humanos y del medio ambiente.
      </p>
      <p>
        De igual forma, se favorece la generación de capacidades productivas e
        innovadoras mediante el desarrollo de habilidades digitales y el uso
        responsable de las tecnologías de la información.
      </p>
      <p>
        La vinculación de la universidad obedece a la necesidad de acercar a las
        y los estudiantes al campo profesional durante su formación y al mercado
        laboral al egresar. También contribuye a la oferta de actualización,
        capacitación y solución de problemas para el sector social y productivo
        de bienes y servicios.
      </p>
      <p>
        La vinculación académica, cuyo objetivo es concertar con el sector
        productivo y social, prácticas y estadías para apoyar la consolidación
        de las competencias adquiridas por las y los estudiantes en su proceso
        formativo y la promoción de egresados, para ello en el área se realiza
        la gestión con los diferentes sectores con la finalidad de crear
        espacios para la comunidad estudiantil en los que puedan desarrollar sus
        habilidades y competencias el cual dependiendo del objetivo del convenio
        impactará para la comunidad entrante o saliente.
      </p>
      <p class="font-weight-bold">Convenios Nacionales</p>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>SRG Global México S de RL de CV</li>
            <li>Quiroga Trucks S. A. de C.V.</li>
            <li>Harinera los Pirineos S.A. de C.V.</li>
            <li>AVANTEC Méxicana S. A. de C.V.</li>
            <li>MAP Industriales S.A de C.V</li>
            <li>LUJUJUVI S.A. de C.V</li>
            <li>AAM MAQUILADORA MÉXICO S. DE R.L. DE C.V</li>
            <li>General Motors de México S. de R.L. de C.V</li>
            <li>OCC Mundial</li>
            <li>Consejo Estatal Hidráulico del Estado de Guanajuato</li>
            <li>Servicios a la Infraestructura Aeroportuaria del Pacífico SA</li>
            <li>Y-TEC KEYLEX MÉXICO</li>
            <li>Royal Transport</li>
            <li>Induction Techologies de México SA de CV</li>
            <li>Corporación Inmobiliaria KTRC, SA de CV</li>
            <li>Proyectos Industriales Y Ecológicos Internacionales, S.A. DE C.V.</li>
            <li>Altex Xtra</li>
            <li>NISSIN Brake de México SA de CV</li>
            <li>FUJIKOKI</li>
            <li>Comité Municipal de Agua Potable y Alcantarillado de Salamanca Gto.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Pintura, Estampados y Montajes SAPI de CV</li>
            <li>Centro Galvanizador 2000</li>
            <li>127 VOLTZ S.A de C.V</li>
            <li>YKK Mexicana SA de CV</li>
            <li>Fundación PRO-Universitaria, A.C.</li>
            <li>Optimen SA de CV</li>
            <li>Banco Santander México, Sociedad Anónima, Institución de Banca Múltiple, Grupo Financiero Santander México</li>
            <li>Instituto de Acceso a la Información Pública para el Estado de Guanajuato IACIP</li>
            <li>Y Tec Keylex Operaciones Mexico SA de CV.</li>
            <li>TAMX LOGISTICS SA DE CV</li>
            <li>KERRY Ingredientes México SA de CV</li>
            <li>ODOO</li>
            <li>TECHNOLOGIES S.A DE C.V</li>
            <li>Mazda Motor Manufacturing de México SA de CV</li>
            <li>Acción Comunitaria del Bajío AC</li>
            <li>LEMAC</li>
            <li>ARITHMO Soluciones</li>
            <li>XCARET</li>
            <li>Ingeniería GPS</li>
          </ul>
        </div>
      </div>
      <p class="font-weight-bold">Instituciones Educativas</p>
      <ul>
        <li>Universidad Tecnológica de los Valles Centrales de Oaxaca</li>
        <li>Universidad Tecnológica del Norte de Guanajuato</li>
        <li>Universidad Tecnológica Cancún</li>
        <li>Universidad Virtual del Estado de Guanajuato</li>
      </ul>
      <p class="font-weight-bold">Instituciones Educativas Internacionales</p>
      <ul>
        <li>Angelo State University</li>
        <li>Universidad de Salamanca</li>
        <li>Universidad Continental de Perú</li>
      </ul>
      <p class="font-weight-bold">Acuerdos en Materia Educativa</p>
      <ul>
        <li>Sistema Avanzado De Bachillerato Y Educación Superior En El Estado De Guanajuato (SABES)</li>
        <li>Universidad Tecnológica del Norte de Aguascalientes (UTNA)</li>
        <li>Sistema Avanzado de Bachillerato y Educación Superior en el Estado de Guanajuato "SABES"</li>
        <li>Colegio de educación Profesional Técnica del estado de Guanajuato (CONALEP)</li>
        <li>Colegio de Estudios Científicos y Tecnológicos del Estado de Guanajuato (CECyTE)</li>
        <li>Centro Bachillerato Tecnológico Industrial y de Servicios No. 238</li>
        <li>Centro de Estudios Tecnológicos Industrial y de Servicios "CETIS 149"</li>
        <li>Centro De Estudios Tecnológicos Industrial Y de Servicios 62</li>
        <li>Centro de Estudios Salamanca SA</li>
      </ul>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
