<title>UTS | Convenios de Cooperación</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Convenios de Cooperación</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Convenios de Cooperación</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="convenios-cooperacion">
  <div class="row">
    <div class="col-md-9 text-justify">
      <p>La Universidad Tecnológica de Salamanca, forma parte del Subsistema de Universidades Tecnológicas y
        Politécnicas, el cual cuenta con alrededor de 117 instituciones en toda la República Mexicana; por lo que la
        vinculación es una actividad sustantiva orientada, fundamentalmente, a establecer relaciones con los sectores
        público, privado y social, tanto a nivel nacional como internacional, con el fin de propiciar la formación
        integral de los estudiantes y docentes.</p>
      <p>La vinculación, es un proceso integral que articula las funciones sustantivas de docencia, investigación, extensión de la cultura y los servicios de las Instituciones de Educación Superior para su interacción eficaz y eficiente con la sociedad y el sector productivo.</p>
      <p>La vinculación se da, mediante el desarrollo de acciones y proyectos de beneficio mutuo, que por un lado contribuyen al posicionamiento y reconocimiento social de la Universidad, y por otro, contribuyan a mejorar la efectividad de las organizaciones colaboradoras de los diferentes sectores, viéndose esto reflejado en el incremento de la productividad y la calidad y, por ende, de la competitividad, lo cual a su vez impacta positivamente en el crecimiento económico de las regiones.</p>
      <p>Para lograr esto, se desarrollan convenios de colaboración con diferentes empresas, entre otras:</p>
      <p class="font-weight-bold">Organizaciones Nacionales:</p>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>SRG Global México S. de R.L. de C.V.</li>
            <li>Quiroga Trucks S.A. de C.V.</li>
            <li>Universia y Trabajando</li>
            <li>Proyectos Ecológicos Ambientales S.A. de C.V.</li>
            <li>Harinera los Pirineos S.A. de C.V.</li>
            <li>AVANTEC Mexicana S.A. de C.V.</li>
            <li>Presidencia Municipal de Salamanca</li>
            <li>LUJUJUVI S.A. de C.V.</li>
            <li>General Motors de México S. de R.L. de C.V.</li>
            <li>Fitesanonwovens Services S.A. de C.V.</li>
            <li>Secretaria de Educación del Estado de Guanajuato</li>
            <li>Instituto de Alfabetización y Educación Básica para Adultos del Estado de Guanajuato</li>
            <li>Centro Mexicano de Energías Renovables S.C.</li>
            <li>OCC Mundial</li>
            <li>Cámara Nacional del Autotransporte de Carga en México</li>
            <li>Consejo Estatal Hidráulico del Estado de Guanajuato.</li>
            <li>Comisión Federal de Electricidad.</li>
            <li> Consejo Nacional de Normalización y Certificación de Competencias Laborales (CONOCER).</li>
            <li> Servicios a la Infraestructura Aeroportuaria del Pacífico S.A.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Y-Tec Keylex México.</li>
            <li>Comisión Nacional del Agua (CONAGUA Guanajuato).</li>
            <li>Acciona.</li>
            <li>Instituto Estatal de Capacitación (IECA Guanajuato).</li>
            <li>HCM Servicios, S.A. de C.V.</li>
            <li>Sociedad Nacional Promotora de Becarios S.C.</li>
            <li>DECADIN Consultoría y Servicios</li>
            <li>Inductión Tecnologies de México, S.A. de C.V</li>
            <li>Corporación Inmobiliaria KTRC, S.A. de C.V.</li>
            <li>Manpower Industrial S de R.L. de C.V.</li>
            <li>Hilton Garden Inn Salamanca.</li>
            <li>Colegio de Profesionistas de Tecnologías de la Información del Estado de Guanajuato.</li>
            <li>NET Arquitectura Administrativa S.A. de C.V</li>
            <li>Altex Xtra.</li>
            <li>Nissin Brake de México.</li>
            <li>Fujikoki.</li>
            <li>Acciona de México.</li>
            <li>Teikna Proyectos S. de R.L. de C.V.</li>
            <li>Quality House.</li>
          </ul>
        </div>
      </div>
      <p class="font-weight-bold">Instituciones Educativas</p>
      <ul>
        <li>Universidad Tecnológica de los Valles Centrales de Oaxaca</li>
        <li>Universidad Tecnológica de León</li>
        <li>Colegio de Estudios Científicos y Tecnológicos del Estado de Guanajuato (CECYTE).</li>
        <li>Universidad Politécnica de Guanajuato</li>
        <li>Universidad Tecnológica de Tula Tepeji.</li>
        <li>Universidad de Guanajuato</li>
        <li>Universidad de La Salle Bajío A.C.</li>
        <li>Instituto Tecnológico Superior de Salvatierra</li>
        <li>Universidad Tecnológica de Cancún</li>
      </ul>
      <p class="font-weight-bold">Instituciones Educativas Internacionales:</p>
      <ul>
        <li>Angelo State University.</li>
        <li>Universidad de Salamanca.</li>
        <li>Universidad Continental de Perú.</li>
      </ul>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>