<title>UTS | IAS</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Ingeniería Ambiental y Sustentabilidad con TSU en
          Gestión Ambiental</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">IAS</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <div class="ih-item square effect7 mb-5">
          <a href="assets/content/programas-educativos/Ing_Ambiental_y_Sustentabilidad.pdf" target="_blank">
            <div class="img">
              <img src="assets/img/programas-educativos/Ing_Ambiental.png" alt="Ingeniería Ambiental y Sustentabilidad con TSU en
              Gestión Ambiental">
            </div>
          </a>
        </div>
        <!-- fin efecto hover -->
         <p class="text-justify mb-5">La/el Licenciado(a) en Ingeniería Ambiental y Sustentabilidad es un profesional con
          conocimientos y habilidades para prevenir, evitar o disminuir el impacto de los
          procesos productivos al medio ambiente, mediante la aplicación de tecnologías
          limpias que optimicen el ahorro de recursos, manipulación y tratamiento de residuos
          y emisiones, en apego a la legislación vigente para la protección y conservación del
          medio ambiente.</p>

          <img class="mb-5" src="assets/img/programas-educativos/Infografia.png" alt="Tu trayectoria educativa en la UTS">

          <div class="text-center mb-5">
            <a href="assets/content/programas-educativos/Ing_Ambiental_y_Sustentabilidad.pdf" 
            target="_blank"
            class="btn custom-btn px-5 font-weight-bold">PLAN DE ESTUDIOS</a>
          </div>
          
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
