<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item animate__animated animate__fadeInBottomLeft active">
            <a href="assets/content/comite-control-interno/Codigo_de_Conducta_de_la_UTS.pdf" target="_blank">
                <img src="assets/img/pagina-principal/Comite-de-Igualdad-Laboral-y-No-Discriminacion-SITIO-WEB-2024.png"
                    alt="Banner Sitio Web Comité" title="Banner Sitio Web Comité">
            </a>
        </div>
        <div class="carousel-item animate__animated animate__zoomIn">
            <a routerLink="/igualdad-laboral">
                <img src="assets/img/pagina-principal/banner_igualdad_laboral.png"
                    alt="Igualdad Laboral y NO Discriminación" title="Igualdad Laboral y NO Discriminación">
            </a>
        </div>

        <div class="carousel-item animate__animated animate__jackInTheBox">
            <a href="https://strc.guanajuato.gob.mx/consulta-publica-de-regulaciones-tramites-y-servicios/ " target="_blank">
                <img src="assets/img/pagina-principal/Banner_Consulta_Publica_2024_EDITABLE.jpg"
                    alt="Banner Consulta Pública 2024" title="Banner Consulta Pública">
            </a>
        </div>

        <div class="carousel-item animate__animated animate__fadeInTopLeft">
            <a>
                <img src="assets/img/pagina-principal/banner-compras-verdes-cisaps.png" alt="CISAPS Compras Verdes"
                    title="CISAPS Compras Verdes">
            </a>
        </div>
        <div class="carousel-item animate__animated animate__fadeInTopRight">
            <a>
                <img src="assets/img/pagina-principal/CISAPS/3.png"
                    alt="Comité de Implementación del Sistema de Administración Pública Sustentable"
                    title="Comité de Implementación del Sistema de Administración Pública Sustentable">
            </a>
        </div>
        <div class="carousel-item animate__animated animate__flipInX">
            <a>
                <img src="assets/img/pagina-principal/CISAPS/1.png"
                    alt="Comité de Implementación del Sistema de Administración Pública Sustentable"
                    title="Comité de Implementación del Sistema de Administración Pública Sustentable">
            </a>
        </div>
        <div class="carousel-item animate__animated animate__rotateInDownLeft">
            <a routerLink="/covid-19">
                <img src="assets/img/pagina-principal/banner-comunicados-covid19.jpg"
                    alt="INFORMACIÓN ESCENCIAL DEL COVID91" title="Haz clic para ver más información">
            </a>
        </div>
        <div class="carousel-item animate__animated animate__jackInTheBox">
            <a href="assets/content/informacion-importante/Acceso_a_Biblioteca_Digital.pdf" target="_blank">
                <img src="assets/img/pagina-principal/Biblioteca-Banner-Web.png" alt="Biblioteca Digital"
                    title="Haz clic para ver más información">
            </a>
        </div>
        <div class="carousel-item animate__animated animate__rollIn">
            <a routerLink="/buzon">
                <img src="assets/img/pagina-principal/banner-buzon-quejas-sugerencias.png" alt="BUZÓN"
                    title="Buzón Electrónico de Quejas y Sugerencias">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>