img {
    width: 100%
}

.carousel-control-prev-icon {
    background-image: url("../../../assets/img/iconos/sign-left-icon.png");
    width: 40px;
    height: 40px;    
}
.carousel-control-next-icon {
    background-image: url("../../../assets/img/iconos/sign-right-icon.png");
    width: 40px;
    height: 40px; 
}