<nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span><span style="font-size:12px"> MENÚ PRINCIPAL</span>
  </button>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLateral"
    aria-controls="navbarLateral" aria-expanded="false" aria-label="Toggle navigation">
    <span style="font-size:12px">MENÚ LATERAL </span><span class="navbar-toggler-icon"></span>
  </button>

  <!-- MENU PRINCIPAL-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fa fa-home fa-lg"></i> Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-building fa-lg"></i>
          Universidad
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/antecedentes">Antecedentes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/directorio">Directorio</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/directorio-enlaces-cjmu">Directorio Enlaces CJMU</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/filosofia">Filosofía Institucional</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/mje-rector">Mensaje del Rector</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/reconocimientos">Reconocimientos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-briefcase fa-lg"></i>
          Carreras
        </a>
        <div class="text-center dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/cuerpos-academicos">Cuerpos Académicos</a>
          <div class="dropdown-divider"></div>
      <li class="nav-item dropdown dropright">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Ingeniería/Licenciatura
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/lgch">Licenciatura en Gestión de Capital Humano</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/ier">Ingeniería en Energías Renovables</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/imet">Ingeniería en Mecatrónica</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/ipq">Ingeniería en Procesos Químicos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/isip">Ingeniería en Sistemas Productivos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/itea">Ingeniería en Tecnología Ambiental</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/idgs">Ingeniería en Desarrollo y Gestión de Software</a>
        </div>
      </li>
      <div class="dropdown-divider"></div>
      <li class="nav-item dropdown dropright">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Técnico Superior Universitario (TSU)
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/tsuadm">Administración, Área Capital Humano</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/tsuer">Energías Renovables, Área Calidad y Ahorro de Energía</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/tsumet">Mecatrónica, Área Automatización</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/tsupia">Procesos Industriales, Área Automotriz</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/tsuqai">Química, Área Industrial</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/tsuqam">Química, Área Tecnología Ambiental</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/tsutis">Tecnologías de la Información, Área Desarrollo de Software
            Multiplataforma</a>
        </div>
      </li>
  </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-users fa-lg"></i>
      Alumnos UTS
    </a>
    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="/aseguramiento-escolar">Aseguramiento Escolar</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/becas">Becas</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/calendario-escolar">Calendario Escolar</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/costo-derechos-educativos">Costo de Derechos Educativos</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Egresados</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/horarios">Horarios</a>
      <div class="dropdown-divider"></div>
  <li class="nav-item dropdown dropright">
    <a style="padding: .25rem 1.5rem;" class="nav-link dropdown-toggle active" href="#" id="navbarDropdown"
      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Plataformas Virtuales
    </a>
    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="http://sito.utsalamanca.edu.mx/" target="_blank">SITO</a>
      <div class="dropdown-divider"></div>
      <!--
      <a class="dropdown-item" href="http://virtual.utsalamanca.edu.mx/moodle/" target="_blank">Sitio Virtual MOODLE</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="http://idiomas.utsalamanca.edu.mx/moodle/" target="_blank">Sitio Virtual de Idiomas
        MOODLE</a>
      <div class="dropdown-divider"></div>
      -->
      <a class="dropdown-item" href="https://elibro.net/es/lc/utsalamanca/login_usuario/?next=/es/lc/utsalamanca/inicio"
        target="_blank">Biblioteca Virtual</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="https://www.conricyt.mx/" target="_blank">Biblioteca CONRICyT</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item"
        href="https://login.microsoftonline.com/login.srf?wa=wsignin1.0&rpsnv=4&ct=1493127522&rver=6.7.6640.0&wp=MCMBI&wreply=https%3a%2f%2fportal.office.com%2flanding.aspx%3ftarget%3d%252fdefault.aspx&lc=2058&id=501392&msafed=0&client-request-id=3a1c0327-1890-4cde-9f92-0f049d3f4255"
        target="_blank">Correo Institucional</a>
    </div>
  </li>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/resultados-examen-admision">Resultados de Exámenes de Admisión</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/tramites-internos">Trámites Internos</a>
  </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-link fa-lg"></i>
      Vinculación
    </a>
    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="/actividades-culturales-deportivas">Actividades Culturales y Deportivas</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/bolsa-trabajo">Bolsa de Empleo</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/cele">Centro de Lenguas</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/conocer">CONOCER</a>
      <div class="dropdown-divider"></div>
  <li class="nav-item dropdown dropright">
    <a style="padding: .25rem 1.5rem;" class="nav-link dropdown-toggle active" href="#" id="navbarDropdown"
      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Convenios
    </a>
    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="assets/content/informacion-importante/COVIN047_CECYTE_GTO.pdf"
        target="_blank">Convenio CECYTE GTO</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="assets/content/informacion-importante/COVIN095_CONALEP.pdf"
        target="_blank">Convenio CONALEP</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/convenios-cooperacion">Convenios de Cooperación</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/movilidad-estudiantil">Movilidad Estudiantil y Docente</a>
    </div>
  </li>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/educacion-continua">Educación Continua</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/emprendimiento">Emprendimiento</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/estadias">Estadía</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Seguimiento de Egresados</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/servicios-medicos">Servicios Médicos</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/servicios-tecnologicos">Servicios Tecnológicos</a>
  </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bar-chart fa-lg"></i>
      Gestión
    </a>
    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="/bolsa-trabajo-uts">Bolsa de Trabajo de la UTS</a>
      <div class="dropdown-divider"></div>
  <li class="nav-item dropdown dropright">
    <a style="padding: .25rem 1.5rem;" class="nav-link dropdown-toggle active" href="#" id="navbarDropdown"
      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Consejo Directivo
    </a>
    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/consejo-directivo-uts/" target="_blank">Acceso de
        Integrantes</a>
    </div>
  </li>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="http://sito.utsalamanca.edu.mx/" target="_blank">Encuestas Alumnos</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="assets/content/estructura-organica/Estructura_Organica_B_acualizada_06.02.2019.pdf"
    target="_blank">Estructura Orgánica</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/gaceta">Gaceta</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Presupuesto</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/responsabilidad-social">Responsabilidad Social en la UTS</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/sgc/" target="_blank">Sistema de Gestión de Calidad</a>
  </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-hourglass-start fa-lg"></i>
      Transparencia
    </a>
    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="/archivistica">Archivística</a>
      <div class="dropdown-divider"></div>
  <li class="nav-item dropdown dropright">
    <a style="padding: .25rem 1.5rem;" class="nav-link dropdown-toggle active" href="#" id="navbarDropdown"
      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Aviso de Privacidad
    </a>
    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="assets/content/avisos-privacidad/Avisos-de-Privacidad-Simplificado_UTS_2017.pdf"
        target="_blank">Simplificado</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="assets/content/avisos-privacidad/Avisos-de-Privacidad-Integral_UTS_2017.pdf"
        target="_blank">Integral</a>
    </div>
  </li>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/buzon">Buzón de Quejas y Sugerencias</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/comite-control-interno">Comité de Control Interno</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/contraloria-social">Contraloría Social</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/estados-financieros">Estados Financieros</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Fondos Federales No Regularizables</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/normateca">Normateca</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/normativa">Normativa</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" routerLink="/politicas">Políticas</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="http://transparencia.guanajuato.gob.mx/" target="_blank">Portal de Transparencia</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="http://transparencia.guanajuato.gob.mx/transparencia/informacion_publica_tabulador.php"
    target="_blank">Tabulador de Sueldos</a>
  </div>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/contacto">
      <i class="fa fa-comments fa-lg"></i>
      Contacto</a>
  </li>
  </ul>
  </div>

  <!--MENU LATERAL-->
  <div class="collapse navbar-collapse" id="navbarLateral">
    <ul class="navbar-nav mr-auto navleft-invisible text-right">
      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Controles
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/login" target="_blank">Administrar
            Buzón</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/login" target="_blank">Control de
            registros</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/control-inscripciones/" target="_blank">Control
            de
            Inscripciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/sidetce_uts/" target="_blank">SIDETCE</a>
        </div>
      </li>
      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Registros
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUQlhTU0JGVjBTRFhLTjUzQlQxSTg5Mko0Ri4u"
            target="_blank">REDIC007-A ERC-IER</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUQUhJWFNHMTUxM0tVQ0IxWVk5VDhMVDBKSS4u"
            target="_blank">REDIC007-A QAI-IPQ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUNzBDUFFQSzlHNFM5S0xERURGRTdGQzhCQi4u"
            target="_blank">REDIC007-A QAM-ITEA</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://forms.office.com/r/Ki0TmAtPsg" target="_blank">REDIC007-A ADC-LGCH</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://forms.office.com/r/fWkYREz2Fv" target="_blank">REDIC007-A ADC
            DESPRESURIZADO</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUM0hCWjc0MzkxTE9HSTE5Ulk4S1JUNklTMS4u"
            target="_blank"> REDIC007-A MET</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUOE4xMkZUMkZCNEpJUTJHRlhUMDRUTFFaTy4u"
            target="_blank">REDIC007-A PIA</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUQTdCVVVGNlc3RkRQQkROUUFCMjRYWFhPUS4u"
            target="_blank">REDIC007-A TIS</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUM0JHRDNWMFRXSTA0NEdPNTYwMTJYWktJTy4u"
            target="_blank">REDIC007-A IDGS</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/redic081a"
            target="_blank">REDIC081-A</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/redic089"
            target="_blank">REDIC089-D</a>
        </div>
      </li>
      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Encuestas
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/transporte"
            target="_blank">
            Necesidad de Transporte Público
          </a>
          <div class="dropdown-divider"></div>
          <h5 class="text-center">Trayectorias Educativas</h5>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/trayectorias-primero"
            target="_blank">
            1er. Cuatrimestre
          </a>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/trayectorias-cuarto"
            target="_blank">
            4° Cuatrimestre
          </a>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/trayectorias-septimo"
            target="_blank">
            7o. Cuatrimestre
          </a>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/trayectorias-decimo"
            target="_blank">
            10° Cuatrimestre
          </a>
        </div>

      </li>
      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Convocatorias internas
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
            href="assets/content/becas/beca-interna/CONVOCATORIA_CON_FECHA_ENERO_ABRIL_2022_BECA_INTERNA.pdf"
            target="_blank">Beca Interna Enero - Abril 2022</a>
        </div>
      </li>

      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Convocatorias externas
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://disruptivo.tv/mujeresdecambio/" target="_blank">Mujeres de Cambio
            2022</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="https://disruptivo.tv/desafio-sostenible-aes/?utm_medium=wa&utm_source=social&utm_campaign=ds"
            target="_blank">Desafío Sostenible AES</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="assets/content/convocatorias-externas/CURSO_TALLER_POLITICAS_PUBLICAS_CON_ENFOQUE_EN_DDHH.pdf"
            target="_blank">Curso-Taller: "Diseño, Implementación <br> y Evaluación de Políticas Públicas <br> con
            Enfoque de
            Derechos Humanos"</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.becas-santander.com/es/index.html" target="_blank">Becas
            Santander Universidades</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="assets/content/convocatorias-externas/Convocatoria_Escuelas_por_la_Tierra_2021-2022.pdf"
            target="_blank">Convocatoria Escuelas por la <br> Tierra, 2021-2022</a>

        </div>
      </li>

      <!-- PAGO DE SERVICIOS-->
      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pago de Servicios
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/pago-de-servicios/" target="_blank">Referencia
            Bancaria UTS</a>
        </div>
      </li>

      <!-- ASPIRANTES -->
      <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Aspirantes
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a href="http://sito.utsalamanca.edu.mx/jsp/escolar/proceso_admision/proceso_interesado.jsp" target="_blank"
            class="dropdown-item">TSU</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="http://sito.utsalamanca.edu.mx/jsp/escolar/proceso_admision_lic/proceso_interesado.jsp"
            target="_blank">ING</a>
        </div>
      </li>

      <!-- BIBLIOTECA VIRTUAL-->
      <li class="nav-item dropdown">
        <a class="nav-link active"
          href="https://elibro.net/es/lc/utsalamanca/login_usuario/?next=/es/lc/utsalamanca/inicio" target="_blank">
          Biblioteca Virtual
        </a>
      </li>

      <!-- BIBLIOTECA CONRICyT-->
      <li class="nav-item dropdown">
        <a class="nav-link active" href="https://www.conricyt.mx/" target="_blank">
          Biblioteca CONRICyT
        </a>
      </li>

      <!-- MOODLE
      <li class="nav-item dropdown">
        <a class="nav-link active" data-toggle="modal" data-target="#moodleModal">
          Moodle
        </a>
      </li>
      -->

      <!-- CORREO INSTITUCIONAL -->
      <li class="nav-item dropdown">
        <a class="nav-link active"
          href="https://login.microsoftonline.com/login.srf?wa=wsignin1.0&rpsnv=4&ct=1493127522&rver=6.7.6640.0&wp=MCMBI&wreply=https%3a%2f%2fportal.office.com%2flanding.aspx%3ftarget%3d%252fdefault.aspx&lc=2058&id=501392&msafed=0&client-request-id=3a1c0327-1890-4cde-9f92-0f049d3f4255"
          target="_blank">
          Correo Institucional
        </a>
      </li>

      <!-- SOPORTE TECNICO -->
      <li class="nav-item dropdown">
        <a class="nav-link active" href="http://tickets.utsalamanca.edu.mx/" target="_blank">
          Soporte Técnico
        </a>
      </li>
    </ul>
  </div>
  <!--FIN MENU LATERAL-->
</nav>

<!-- Modal Plataformas moodle-->
<div class="modal fade" id="moodleModal" tabindex="-1" role="dialog" aria-labelledby="moodleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="moodleModalLabel">PLATAFORMAS MOODLE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger text-center" role="alert">
          <h5>Sitio Virtual</h5>
          <a href="http://virtual.utsalamanca.edu.mx/moodle/" target="_blank"><button type="button"
              class="btn btn-outline-danger btn-block">Ingresar</button></a>
        </div>
        <div class="progress mb-2" style="height: 1px;"></div>
        <div class="alert alert-danger text-center" role="alert">
          <h5>Sitio Virtual de Idiomas</h5>
          <a href="http://idiomas.utsalamanca.edu.mx/moodle/" target="_blank"><button type="button"
              class="btn btn-outline-danger btn-block">Ingresar</button></a>
        </div>
        <div class="progress mb-2" style="height: 1px;"></div>
      </div>
    </div>
  </div>
</div>