<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia27-Fin-curso-CELE-jun-ago-2018/img1-noticia27.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia27-Fin-curso-CELE-jun-ago-2018/img1-noticia27.jpg" alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia27-Fin-curso-CELE-jun-ago-2018/img2-noticia27.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia27-Fin-curso-CELE-jun-ago-2018/img2-noticia27.jpg" alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia27-Fin-curso-CELE-jun-ago-2018/img3-noticia27.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia27-Fin-curso-CELE-jun-ago-2018/img3-noticia27.jpg" alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia27-Fin-curso-CELE-jun-ago-2018/img4-noticia27.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia27-Fin-curso-CELE-jun-ago-2018/img4-noticia27.jpg" alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>
  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">FIN DE CURSOS SABATINO DEL CENTRO DE LENGUAS EXTRANJERAS DE LA UTS</h3>
        <p class="text-right font-weight-bold font-italic">25 de agosto del 2018</p>
        <p class="font-weight-normal">Concluyeron los cursos de inglés y japonés del Centro de Lenguas Extranjeras (CELE)
          de la Universidad Tecnológica de Salamanca, correspondientes al periodo del 9 de junio al 25 de agosto del 2018.</p>

        <p class="font-weight-normal">Al término de éstos, los alumnos de los diferentes niveles e idiomas, hicieron la presentación
          de proyectos, así como la aplicación de su examen final.</p>

        <p class="font-weight-normal">Los proyectos consistieron en exposiciones con diferentes temas, con la supervisión
          de los docentes que integran la plantilla del CELE.</p>
      </article>
      <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>