<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">

  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>Presentación del Nuevo Titular de Rectoría</h3>
          <small class="text-muted">Salamanca, Gto., 19 de septiembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">

          <img class="img-fluid" src="assets/img/noticias/noticia35/img2.jpg">

        </div>
      </div>
      <div class="text-justify mt-3">
        <p>El pasado 19 de septiembre de 2022 se llevó a cabo la presentación del Lic. Fernando Trujillo Jiménez como
          Rector de la Universidad Tecnológica de Salamanca, por parte del Ing. Jorge Enrique Hernández Meza, Secretario
          de Educación de Guanajuato, contando además con la presencia del Mtro. Aldelmo Emmanuel Israel Reyes Pablo,
          Subsecretario de Educación Media Superior y Superior.</p>
        <p>El evento tuvo lugar en el auditorio del edificio D, en donde asistió el personal directivo, administrativo y
          docente de la institución.El Ing. Alfredo López Herrera dirigió un mensaje a todo el personal de la UTS,
          agradeciendo por el trabajo realizado y el compromiso mostrado con la institución; asimismo, recibió el
          reconocimiento por parte del Ing. Jorge Enrique Hernández Meza por los logros alcanzados durante su gestión
          administrativa, misma que diera inicio el día 6 de septiembre del 2013</p>
        <p>El evento cerró con el mensaje del Lic. Fernando Trujillo Jiménez, quiénen su calidad de nuevo titular de
          la Rectoría de la Universidad Tecnológica de Salamanca, manifestó supropósito de aprender y de propiciar
          una economía del conocimiento en la Universidad y en su entorno.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>