<title>UTS | TSU MET</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Mecatrónica, Área Automatización</h2>
      </div>
      <div class="col-md-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Carreras</li>
            <li class="breadcrumb-item active" aria-current="page">TSU MET</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- efecto hover -->
        <div class="ih-item square effect7 mb-4">
          <a>
            <div class="img">
              <img src="assets/img/carreras/banner_tsu_mecatronica.jpg" alt="TSUMET">
            </div>
          </a>
        </div>
        <!-- fin efecto hover -->
        <div class="row mb">
          <div class="col-sm-3">
            <img class="rounded mx-auto d-block" src="assets/img/carreras/MET.png" style="width: 138px; height: 138px;" alt="TSUMET">
          </div>
          <div class="col-sm-9">
            <p class="mt-3 text-justify">El Técnico Superior Universitario en Mecatrónica Área Automatización cuenta con las competencias profesionales
              necesarias para su desempeño en el cambo laboral, ámbito local, regional y nacional, para desarrollar y conservar
              sistemas automatizados y de control, así como, Implementar Sistemas de Medición y Control para el correcto
              funcionamiento y optimización de los procesos industriales. </p>
          </div>
        </div>
        <div class="alert alert-dark font-weight-bold text-center" role="alert">
          OBJETIVOS
        </div>

        <ul>
          <li>Fortalecer la atención integral de los estudiantes para incrementar la eficiencia terminal en el PE.</li>
          <li>Incrementar la competitividad académica, por medio del fortalecimiento de los perfiles de los profesores.</li>
        </ul>

        <div class="row mt-2">
          <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-perfil-tab" data-toggle="pill" href="#v-pills-perfil" role="tab" aria-controls="v-pills-perfil"
                aria-selected="true">PERFIL DE INGRESO Y EGRESO</a>
              <a class="nav-link" id="v-pills-escenarios-tab" data-toggle="pill" href="#v-pills-escenarios" role="tab" aria-controls="v-pills-escenarios"
                aria-selected="false">CAMPO DE DESARROLLO PROFESIONAL</a>
              <a class="nav-link" id="v-pills-mision-tab" data-toggle="pill" href="#v-pills-mision" role="tab" aria-controls="v-pills-mision"
                aria-selected="false">MISIÓN Y VISIÓN</a>
              <a class="nav-link" id="v-pills-plan-tab" data-toggle="pill" href="#v-pills-plan" role="tab" aria-controls="v-pills-plan"
                aria-selected="false">PLAN DE ESTUDIOS</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content text-justify" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-perfil" role="tabpanel" aria-labelledby="v-pills-perfil-tab">
                <div class=" mt-3">
                  <p class="font-weight-bold">PERFIL DE INGRESO</p>
                  <p>El aspirante a ingresar en el programa educativo de Técnico Superior Universitario en Mecatrónica, Área
                    Automatización debe contar con estudios de Educación Media Superior, preferentemente una formación sólida
                    en el área Físico-Matemático, poseer habilidades de trabajo manual y tener interés en sistemas autónomos,
                    la investigación, la tecnología aplicada, el manejo de herramientas, la electrónica y electricidad. Con
                    un promedio mínimo de 7.0 en su certificado de nivel medio superior.</p>

                  <p class="font-weight-bold">PERFIL DE EGRESO</p>
                  <p>El Técnico Superior Universitario en Mecatrónica, Área Automatización es un profesionista con características
                    de liderazgo, trabajo en equipo, ética y valores, tiene el conocimiento para integrar,poner en marcha
                    y supervisar sistemas automatizados en el sector productivo, tiene una formación integral que le permite
                    ser líder e incorporarse eficazmente a los grupos de trabajo en las empresas de la región.</p>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-escenarios" role="tabpanel" aria-labelledby="v-pills-escenarios-tab">
                <div class="mt-2">
                  <p>El Técnico Superior Universitario en Mecatrónica área Automatización podrá desenvolverse en Empresas dedicadas
                    a la fabricación de sistemas y componentes eléctricos y / o electrónicos, Empresas dedicadas a integrar
                    proyectos de Automatización de procesos, Área de mantenimiento de sistemas automatizados en: Industrias
                    químicas, farmacéuticas, transformación de la madera, metal mecánica, automotriz, textil y de la confección,
                    proceso de alimentos, sector eléctrico y Empresas dedicadas a proporcionar servicios generales especializados.
                  </p>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-mision" role="tabpanel" aria-labelledby="v-pills-mision-tab">
                <div class="mt-2">
                  <p class="font-weight-bold">Misión PE</p>
                  <p>Formar Técnicos Superiores Universitarios en Mecatrónica Área Automatización por medio de un programa educativo
                    reconocido por su calidad con profesores altamente calificados y pertinentes con el sector productivo
                    que le permita a los egresados colocarse en el sector laboral para ayudar a mejorar los procesos productivos.</p>

                  <p class="font-weight-bold">Visión PE</p>
                  <p>Será un Programa Educativo acreditado, sustentable y reconocido por generar profesionistas de alto nivel,
                    con una formación integral, incluyendo la comunicación en un segundo idioma, que ofrezca servicios tecnológicos,
                    cubra las expectativas del sector productivo de la región y del país, basados en innovación educativa
                    y servicios integrales al educando.</p>
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-plan" role="tabpanel" aria-labelledby="v-pills-plan-tab">
                <div class="mt-2">
                  <h5>Sistema escolarizado</h5>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">1º Cuatrimestre</div>
                      <div class="card-body small">
                        <li>Álgebra Lineal</li>
                        <li>Física</li>
                        <li>Electricidad y Magnetismo</li>
                        <li>Herramientas Informáticas I4.0</li>
                        <li>Procesos Productivos</li>
                        <li>Elementos Dimensionales</li>
                        <li>Inglés I</li>
                        <li>Expresión Oral y Escrita I</li>
                        <li>Formación Sociocultural I</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">2º Cuatrimestre</div>
                      <div class="card-body small">
                        <li>Funciones Matemáticas</li>
                        <li>Química Básica</li>
                        <li>Circuitos Eléctricos</li>
                        <li>Sistemas Hidráulicos y Neumáticos</li>
                        <li>Electrónica Analógica</li>
                        <li>Control de motores I</li>
                        <li>Inglés II</li>
                        <li>Formación Sociocultural II</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">3º Cuatrimestre</div>
                      <div class="card-body small">
                        <li>Cálculo Diferencial</li>
                        <li>Probabilidad y estadística</li>
                        <li>Termodinámica</li>
                        <li>Controladores Lógicos Programables</li>
                        <li>Electrónica Digital</li>
                        <li>Sistemas Mecánicos I</li>
                        <li>Integradora I</li>
                        <li>Inglés III</li>
                        <li>Formación Sociocultural III</li>
                      </div>
                    </div>
                  </div>
                  <div class="card-group text-left">
                    <div class="card bg-light mb-3">
                      <div class="card-header">4º Cuatrimestre</div>
                      <div class="card-body small">
                        <li>Cálculo Integral</li>
                        <li>Estructura y propiedades de Materiales</li>
                        <li>Instrumentación Industrial</li>
                        <li>Análisis de Circuitos Eléctricos</li>
                        <li>Dispositivos Digitales</li>
                        <li>Lenguaje de Programación</li>
                        <li>Dispositivos Analógicos</li>
                        <li>Inglés IV</li>
                        <li>Formación Sociocultural IV</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">5º Cuatrimestre</div>
                      <div class="card-body small">
                        <li>Integradora II</li>
                        <li>Programación Visual</li>
                        <li>Integración de Sistemas Automáticos</li>
                        <li>Microcontroladores</li>
                        <li>Fundamentos de Instrumentación Virtual</li>
                        <li>Sistemas de Control</li>
                        <li>Inglés V</li>
                        <li>Expresión Oral y Escrita II</li>
                      </div>
                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">Estadía</div>
                      <div class="card-body">
                        <p class="text-center">
                          525 HRS.
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>