<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia18-firma-convenio-de-colaboracion-la-UG-y-la-UTS/img1-firma-convenio-UG-UTS.PNG"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia18-firma-convenio-de-colaboracion-la-UG-y-la-UTS/img1-firma-convenio-UG-UTS.PNG"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia18-firma-convenio-de-colaboracion-la-UG-y-la-UTS/img2-firma-convenio-UG-UTS.png"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia18-firma-convenio-de-colaboracion-la-UG-y-la-UTS/img2-firma-convenio-UG-UTS.png"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia18-firma-convenio-de-colaboracion-la-UG-y-la-UTS/img3-firma-convenio-UG-UTS.png"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia18-firma-convenio-de-colaboracion-la-UG-y-la-UTS/img3-firma-convenio-UG-UTS.png"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">Firman Convenio de Colaboración la UG y la UTS.</h3>
        <p class="text-right font-weight-bold font-italic">14 de febrero del 2018</p>
        <P>La Universidad Tecnológica de Salamanca y la Universidad de Guanajuato llevaron a cabo la firma de un Convenio de Colaboración con el objetivo de trabajar en conjunto, para el desarrollo de los alumnos de cada una de las instituciones y que puedan acceder a Programas de Educación Continua, Cursos presenciales de Idiomas y Servicios de Certificación de Competencias Laborales, a través de sus respectivas Entidades de Evaluación y Certificación, así como para fomentar la participación en eventos culturales y/o deportivos.</P>
        <P>Las áreas involucradas en el desarrollo de proyectos, derivados de este Convenio, son el Departamento de Educación a Distancia de la Dirección de Asuntos Académicos, la Dirección de Vinculación, el Departamento de Lenguas y la Entidad de Evaluación de la Universidad de Guanajuato (ECE-UG); así como las áreas homólogas por parte de la Universidad Tecnológica de Salamanca.</P>
        <P>Una de las metas que se tiene, es que a un mediano plazo se pueda trabajar de manera conjunta en proyectos de investigación, compartiendo conocimientos por parte de cada Institución.</P>
        <P>Con este Convenio se pretende que las dos Instituciones sean beneficiadas, ya que la UTS se encuentra ubicada en una zona industrial importante del área automotriz, donde están instaladas las plantas de Mazda y Honda, y próximamente Toyota.</P>
        <P>Las dos Universidades están comprometidas y buscan trabajar en conjunto para contribuir a elevar la tasa de cobertura de la Educación Superior en el Estado, así como en el aseguramiento de la calidad educativa.</P>
      </article>
      <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>

</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>