<title>UTS | Bolsa de Trabajo de la UTS</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Bolsa de Trabajo de la UTS</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Gestión</li>
            <li class="breadcrumb-item active" aria-current="page">Bolsa de Trabajo de la UTS</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="bolsa-trabajo-uts">
  <div class="row">
    <div class="col-md-9">
      <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">CONVOCATORIAS PROFESORES DE TIEMPO PARCIAL Y COMPLETO</h4>
        <p>La Universidad Tecnológica de Salamanca, con fundamento en los artículos 32, 34,35, 36 y 37 del Decreto
          Gubernativo
          No. 194 del Estado de Guanajuato, convoca a los profesionistas interesados en participar en el proceso de
          ingreso,
          para formar parte del cuerpo docente de nuestra Institución, cubriendo los puestos vacantes de:</p>
        <hr>
        <div class="mb-3">
          <!--<p>No hay convocatorias.</p>-->
           <div class="media">
            <img src="assets/img/iconos/pdf-24_32.png" class="mr-3" alt="Icono pdf.">
            <div class="media-body">
              <h5 class="mt-0">PROFESOR (A) DE TIEMPO COMPLETO</h5>
              <p class="card-text"><small class="text-muted">Vigencia de la Convocatoria:
                  <span class="font-weight-bold">del 27 al 31 de marzo de 2023.</span></small></p>
              <a href="assets/content/bolsa-trabajo-uts/marzo-2023/CONVOCATORIA-PTC.pdf"
                target="_blank" class="badge badge-primary">Ver Convocatoria</a>
              <br>
              <a href="assets/content/bolsa-trabajo-uts/marzo-2023/Formato-referencias.xlsx" target="_blank"
                class="badge badge-primary">Formato para recabar datos para referencia laboral</a>
            </div>
          </div>

          <div class="progress my-4" style="height: 1px;">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">
            </div>
          </div> 
        </div>
      </div>


      <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">CONVOCATORIAS INTERNAS Y EXTERNAS</h4>
        <p>La Universidad Tecnológica de Salamanca, con fundamento en la fracción XIV del artículo 20, y el artículo
          33
          del
          Decreto Gubernativo No. 194 del Estado de Guanajuato, convoca a los interesados en participar en el proceso
          de
          selección, para cubrir las vacantes en los puestos de:</p>
        <hr>
        <div class="mb-3">
          <p>No hay convocatorias.</p>

         <!-- <div class="media">
            <img src="assets/img/iconos/pdf-24_32.png" class="mr-3" alt="Icono pdf.">
            <div class="media-body">
              <h5 class="mt-0">PREFECTO (A)</h5>
              <p class="card-text"><small class="text-muted">Vigencia de la Convocatoria:
                  <span class="font-weight-bold">del 16 al 25 de Enero de 2023.</span></small></p>
              <a href="assets/content/bolsa-trabajo-uts/enero-2023/CONVOCATORIA-PREFECTOA.pdf" target="_blank"
                class="badge badge-primary">Ver Convocatoria</a>
              <br>
              <a href="assets/content/bolsa-trabajo-uts/enero-2023/Formato-referencias.xlsx" target="_blank"
                class="badge badge-primary">Formato de Referencias</a>
            </div>
          </div>
          <div class="progress my-4" style="height: 1px;">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100">
            </div>
          </div>-->

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>