<title>UTS | Bolsa de Trabajo de la UTS</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Bolsa de Trabajo de la UTS</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/"> <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Gestión</li>
            <li class="breadcrumb-item active" aria-current="page">
              Bolsa de Trabajo de la UTS
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="bolsa-trabajo-uts">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">
          CONVOCATORIAS PROFESORES DE TIEMPO PARCIAL Y COMPLETO
        </h4>
        <p>
          La Universidad Tecnológica de Salamanca, con fundamento en los
          artículos 32, 34,35, 36 y 37 del Decreto Gubernativo No. 194 del
          Estado de Guanajuato, convoca a los profesionistas interesados en
          participar en el proceso de ingreso, para formar parte del cuerpo
          docente de nuestra Institución, cubriendo los puestos vacantes de:
        </p>
        <hr />
        <div *ngIf="(vacantes | vacantesFiltro: 'Vacantes Profesores').length === 0">
          <p>No hay convocatorias vigentes</p>
        </div>
        <div class="mb-3" style="background-color: white">
          <div *ngIf="(vacantes | vacantesFiltro: 'Vacantes Profesores').length !== 0" class="table-responsive">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Descripción</th>
                  <th>Categoría</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- Mostrar solo vacantes que su vacante.categoria.nombre === 'Vacantes Profesores' -->
                <tr *ngFor="let vacante of vacantes | vacantesFiltro: 'Vacantes Profesores'">
                  <td>{{ vacante.nombre }}</td>
                  <td>{{ vacante.descripcion.nombre }}</td>
                  <td>{{ vacante.categoria.nombre }}</td>
                  <td>
                    <div *ngIf="vacante.descripcion.nombre === 'Vacante'">
                      <a [href]="vacante.convocatoria" class="btn btn-outline-primary cssbuttons-io-button btn-sm m-1"
                        target="_blank" data-toggle="tooltip" title="Convocatoria">
                        <img src="assets/img/iconos/pdf-24_32.png" /> Descargar
                      </a>
                      <a *ngIf="vacante.formato_referencia" [href]="vacante.formato_referencia.archivo" target="_blank"
                        class="btn btn-outline-success cssbuttons-io-button btn-sm m-1" data-toggle="tooltip"
                        title="FORMATO DE REFERENCIAS">
                        <img src="assets/img/iconos/xlsx_win-24_32.png" />
                        Descargar
                      </a>
                    </div>
                    <div *ngIf="vacante.descripcion.nombre === 'Resultados' && vacante.resultados">
                      <a [href]="vacante.resultados" class="btn btn-outline-primary cssbuttons-io-button btn-sm m-1"
                        target="_blank" data-toggle="tooltip" title="Resultado Final">
                        <img src="assets/img/iconos/pdf-24_32.png" /> Descargar
                      </a>
                    </div>
                    <span *ngIf="vacante.descripcion.nombre === 'Resultados' && !vacante.resultados" 
                    class="badge bg-info text-dark">Pendiente de publicarse</span>
                    <div *ngIf="vacante.descripcion.nombre === 'Vacante Desierta'">
                      <span class="badge bg-danger text-white">Vacante Desierta</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="alert alert-secondary" role="alert">
        <h4 class="alert-heading">CONVOCATORIAS INTERNAS Y EXTERNAS</h4>
        <p>
          La Universidad Tecnológica de Salamanca, con fundamento en la fracción
          XIV del artículo 20, y el artículo 33 del Decreto Gubernativo No. 194
          del Estado de Guanajuato, convoca a los interesados en participar en
          el proceso de selección, para cubrir las vacantes en los puestos de:
        </p>
        <hr />
        <div *ngIf="(vacantes | vacantesFiltro: 'Vacantes Internas y Externas').length === 0">
          <p>No hay convocatorias vigentes</p>
        </div>
        <div class="mb-3" style="background-color: white">
          <div *ngIf="(vacantes | vacantesFiltro: 'Vacantes Internas y Externas').length !== 0" class="table-responsive">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Descripción</th>
                  <th>Categoría</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <!-- Mostrar solo vacantes que su vacante.categoria.nombre === 'Vacantes Profesores' -->
                <tr *ngFor="let vacante of vacantes | vacantesFiltro: 'Vacantes Internas y Externas'">
                  <td>{{ vacante.nombre }}</td>
                  <td>{{ vacante.descripcion.nombre }}</td>
                  <td>{{ vacante.categoria.nombre }}</td>
                  <td>
                    <div *ngIf="vacante.descripcion.nombre === 'Vacante'">
                      <a [href]="vacante.convocatoria" class="btn btn-outline-primary cssbuttons-io-button btn-sm m-1"
                        target="_blank" data-toggle="tooltip" title="Convocatoria">
                        <img src="assets/img/iconos/pdf-24_32.png" /> Descargar
                      </a>
                      <a *ngIf="vacante.formato_referencia" [href]="vacante.formato_referencia.archivo" target="_blank"
                        class="btn btn-outline-success cssbuttons-io-button btn-sm m-1" data-toggle="tooltip"
                        title="FORMATO DE REFERENCIAS">
                        <img src="assets/img/iconos/xlsx_win-24_32.png" />
                        Descargar
                      </a>
                    </div>
                    <div *ngIf="vacante.descripcion.nombre === 'Resultados' && vacante.resultados">
                      <a [href]="vacante.resultados" class="btn btn-outline-primary cssbuttons-io-button btn-sm m-1"
                        target="_blank" data-toggle="tooltip" title="Resultado Final">
                        <img src="assets/img/iconos/pdf-24_32.png" /> Descargar
                      </a>
                    </div>
                    <span *ngIf="vacante.descripcion.nombre === 'Resultados' && !vacante.resultados" 
                    class="badge bg-info text-dark">Pendiente de publicarse</span>
                    <div *ngIf="vacante.descripcion.nombre === 'Vacante Desierta'">
                      <span class="badge bg-danger text-white">Vacante Desierta</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>