<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia16-segunda-jornada-encuentros-deportivos-UT/img1-segunda-jornada-endcut.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia16-segunda-jornada-encuentros-deportivos-UT/img1-segunda-jornada-endcut.jpg"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia16-segunda-jornada-encuentros-deportivos-UT/img2-segunda-jornada-endcut.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia16-segunda-jornada-encuentros-deportivos-UT/img2-segunda-jornada-endcut.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia16-segunda-jornada-encuentros-deportivos-UT/img3-segunda-jornada-endcut.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia16-segunda-jornada-encuentros-deportivos-UT/img3-segunda-jornada-endcut.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
        <!-- normal -->
        <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia16-segunda-jornada-encuentros-deportivos-UT/img4-segunda-jornada-endcut.jpg"
            data-lightbox="roadtrip">
            <div class="img"><img src="assets/img/noticias/noticia16-segunda-jornada-encuentros-deportivos-UT/img4-segunda-jornada-endcut.jpg"
                alt="img"></div>
          </a></div>
        <!-- end normal -->
      </div>

  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">SEGUNDA JORNADA DE ENCUENTROS DEPORTIVOS REGIONALES ENTRE UNIVERSIDADES TECNOLÓGICAS.</h3>
        <p class="text-right font-weight-bold font-italic">17 de febrero del 2018</p>
        <p>El día 17 de febrero se llevó a cabo la Segunda Jornada de los Encuentros Regionales Deportivos de Universidades Tecnológica, la cual tuvo como sede a la Universidad Tecnológica del Norte de Guanajuato, ubicada en Dolores Hidalgo, Gto.</p>     
        <p>En punto de las 10:00 h dieron inicio los diferentes encuentros de cada una de las disciplinas en las sedes alternas al recinto oficial. (Unidad Deportiva Municipal, Mega parque, y Ágora de La Alameda).</p>
        <p class="font-weight-bold">Los resultados fueron:</p>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Deporte</th>
                <th scope="col">Equipo</th>
                <th scope="col">Resultado</th>
                <th scope="col">Equipo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">FÚTBOL SOCCER VARONIL</th>
                <td>UTS</td>
                <td>0-1</td>
                <td>UTM</td>
              </tr>
              <tr>
                <th scope="row">FUTBOL 7 VARONIL</th>
                <td>UTS <br> UTS</td>
                <td>3-0 <br> 7-3 </td>
                <td>UTLB <br> UNAQ</td>
              </tr>
              <tr>
                <th scope="row">FUTBOL 7 FEMENIL</th>
                <td>UTS</td>
                <td>3-4</td>
                <td>UTL</td>
              </tr>
              <tr>
                  <th scope="row">FUTBOL 7 FEMENIL</th>
                  <td>UTS</td>
                  <td>2-0</td>
                  <td>UTNG</td>
                </tr>
                <tr>
                    <th scope="row">BASQUETBOL VARONIL</th>
                    <td>UTS <br> UTS</td>
                    <td>39-46 <br> 54-29</td>
                    <td>UTEQ <br> UTM</td>
                  </tr>
            </tbody>
          </table>
      </article>
      <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>

</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>