<title>UTS | Noticias - {{ noticia.title }}</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-9">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>
            {{ noticia.title }}
          </h3>
          <small class="text-muted"><i class="fa fa-clock-o"></i> {{ noticia.created_at | date }}</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="https://utsalamanca.edu.mx/blog/images/articles/{{ noticia.images[0].name }}" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <div [innerHTML]="noticia.content"></div>
      </div>
    </div>
    <!--Fin del contenido de la noticia-->
    <div class="col-md-3">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>