<article class="bg-light p-3">
  <h6>ÚLTIMAS NOTICIAS</h6>
  <div class="bg-light">
    <div class="card-deck bg-light text-center">
      <!-- NOTICIA 40 -->
      <div class="card contenedor-img ejemplo-1">
        <!-- colored -->
        <div class="ih-item square colored effect6 bottom_to_top">
          <a routerLink="/noticia40">
            <div class="img">
              <img src="assets/img/noticias/noticia40/img1.jpeg" alt="img" />
            </div>
            <div class="info">
              <h3>LEER MÁS</h3>
            </div>
          </a>
        </div>
        <!-- end colored -->
        <div class="card-body">
          <h5 class="card-title">
            Rally de Conocimientos del Poder Legislativo del Estado de Guanajuato
          </h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">[ 17 de noviembre del 2022 ]</small>
        </div>
      </div>
      <!--FIN NOTICIA 40 -->

      <!-- NOTICIA #39 -->
      <div class="card contenedor-img ejemplo-1">
        <div class="ih-item square colored effect7">
          <a routerLink="/noticia39">
            <div class="img">
              <img src="assets/img/noticias/noticia39/img1.JPG" alt="img" />
            </div>
            <div class="info">
              <h3>LEER MÁS</h3>
            </div>
          </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">Firma de convenio con el CETis No. 62</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">[ 14 de noviembre del 2022 ]</small>
        </div>
      </div>
      <!-- FIN NOTICIA #39 -->

      <!-- NOTICIA 38 visita Embajada de Finlandia en México. -->
      <div class="card contenedor-img ejemplo-1">
        <!-- colored -->
        <div class="ih-item square colored effect6 bottom_to_top">
          <a routerLink="/noticia38">
            <div class="img">
              <img src="assets/img/noticias/noticia38/img1.JPG" alt="img" />
            </div>
            <div class="info">
              <h3>LEER MÁS</h3>
            </div>
          </a>
        </div>
        <!-- end colored -->
        <div class="card-body">
          <h5 class="card-title">Egresa un total de 854 alumnos de la UTS</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">[ 10 de noviembre del 2022 ]</small>
        </div>
      </div>
      <!--FIN NOTICIA 38 visita Embajada de Finlandia en México. -->

    </div>
    <div class="p-3">
      <a class="btn btn-outline-info btn-block" href="/noticias">Ver todas las noticias</a>
    </div>
  </div>
</article>