<article class="bg-light p-3">
  <h6>ÚLTIMAS NOTICIAS</h6>
  <div class="bg-light">
    <div class="card-deck bg-light text-center">
           <!-- NOTICIA 34 visita Embajada de Finlandia en México. -->
           <div class="card contenedor-img ejemplo-1">
              <!-- colored -->
              <div class="ih-item square colored effect6 bottom_to_top"><a routerLink="/noticia34">
                  <div class="img"><img src="assets/img/noticias/noticia34/img.jpg" alt="img"></div>
                  <div class="info">
                    <h3>LEER MÁS</h3>
                  </div>
                </a></div>
              <!-- end colored -->
              <div class="card-body">
                <h5 class="card-title">Ing. Alfredo López visita Embajada de Finlandia en México</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">[ 13 de septiembre del 2019 ]</small>
              </div>
            </div>
            <!--FIN NOTICIA 34 visita Embajada de Finlandia en México. -->

      <!-- NOTICIA 33 -->
      <div class="card contenedor-img ejemplo-1">
        <!-- colored -->
        <div class="ih-item square colored effect6 bottom_to_top"><a routerLink="/noticia33">
            <div class="img"><img src="assets/img/noticias/noticia33/img.jpg" alt="img"></div>
            <div class="info">
              <h3>LEER MÁS</h3>
            </div>
          </a></div>
        <!-- end colored -->
        <div class="card-body">
          <h5 class="card-title">
            Conmemoración del “Día internacional de la Mujer”</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">[ 08 de marzo del 2019 ]</small>
        </div>
      </div>
      <!--FIN NOTICIA 33 -->

      <!-- NOTICIA #32 (febreo 2019) -->
      <div class="card contenedor-img ejemplo-1">
        <div class="ih-item square colored effect7"><a routerLink="/noticia32">
            <div class="img"><img src="assets/img/noticias/noticia32/img.jpg" alt="img"></div>
            <div class="info">
              <h3>LEER MÁS</h3>
            </div>
          </a></div>

        <div class="card-body">
          <h5 class="card-title">Intercambio académico estudiantil</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">[ 25 de febrero del 2019 ]</small>
        </div>
      </div>
      <!-- FIN NOTICIA #32 (JUNIO 2018) -->

    </div>
    <div class="p-3">
      <a class="btn btn-outline-info btn-block" href="/noticias">Ver todas las noticias</a>
    </div>
  </div>
</article>