<title>UTS | Horarios</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Horarios</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Alumnos UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Horarios</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="calendario-escolar">
  <div class="row">
    <div class="col-md-9 text-justify">

      <div class="alert alert-dark text-center" role="alert">
        <h4>Horarios Cuatrimestre Mayo - Agosto 2022</h4>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th scope="col">Carrera</th>
              <th scope="col">Horarios</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Administración, Área Capital Humano</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_ADC.pdf" target="_blank"><img
                src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Mecatrónica, Área Automatización</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_MET.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Procesos Industriales, Área Automotriz</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_PIA.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Química, Área Tecnología Ambiental</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_QAM.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Química, Área Industrial</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_QAI.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Energías Renovables, Área Calidad y Ahorro de Energía</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_ERC.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Tecnologías de la Información, Área Desarrollo de Software Multiplataforma</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_TIS.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Licenciatura en Gestión del Capital Humano</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_LGCH.pdf" target="_blank"><img
                src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Ingeniería en Tecnología Ambiental</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horario_MayAgo_2022_Grupo_ITEA.pdf" target="_blank"><img
                src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Ingeniería en Sistemas Productivos</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_ISIP.pdf" target="_blank"><img
                src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Ingeniería en Procesos Químicos</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_IPQ.pdf" target="_blank"><img
                src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Ingeniería en Mecatrónica</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horarios_MayAgo_2022_Grupos_de_IMET.pdf" target="_blank"><img
                src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Ingeniería en Energías Renovables</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horario_MayAgo_2022_Grupo_IER.pdf" target="_blank"><img
                src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Ingeniería en Desarrollo y Gestión de Software</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horario_MayAgo_2022_Grupo_de_IDGS.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            <!-- </tr>
            <tr>
              <td>Administración, Área Capital Humano - Despresurizado</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2022/Horario_MayAgo_2022_Grupo_ADC_7B_Despresurizado.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr> -->

            <!--
            <tr>
              <td>Inglés Grupos de TSU</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2021/Listas_de_Grupos_de_TSU_para_la_asignatura_de_Ingles_(MayAgo-2021).xlsx" target="_blank"><img
                    src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
            </tr>
            <tr>
              <td>Inglés Grupos de Ingeniería</td>
              <td class="text-center"><a href="assets/content/horarios/may_ago_2021/Listas_de_Grupos_de_INGENIERIA_para_la_asignatura_de_Ingles_(MayAgo-2021).xlsx" target="_blank"><img
                    src="assets/img/iconos/xlsx_win-24_32.png"></a></td>
            </tr>
            -->
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
