<title>UTS | Horarios</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Horarios</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Alumnos UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Horarios</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="calendario-escolar">
  <div class="row">
    <div class="col-md-8 text-justify">

      <div class="alert alert-dark text-center" role="alert">
        <h4>Horarios Cuatrimestre Enero - Abril 2023</h4>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th scope="col">Carrera</th>
              <th scope="col">Horarios</th>
              <!-- <th scope="col">Grupos</th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Administración, Área Capital Humano</td>
              <td class="text-center"><a
                  href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_ADC.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/ADC_1A.pdf" target="_blank">
                  ADC-1A</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/ADC_1B.pdf" target="_blank">
                  ADC-1B</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/ADC_1C.pdf" target="_blank">
                  ADC-1C</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/ADC_1D.pdf" target="_blank">
                  ADC-1D</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/ADC_1E.pdf" target="_blank">
                  ADC-1E</a>
              </td> -->
            </tr>
            <tr>
              <td>Mecatrónica, Área Automatización</td>
              <td class="text-center"><a
                  href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_MET.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/MET-IMET.xls" target="_blank">
                  MET</a>
              </td> -->
            </tr>
            <tr>
              <td>Procesos Industriales, Área Automotriz</td>
              <td class="text-center"><a
                  href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_PIA.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/PIA-ISIP.xls" target="_blank">
                  PIA</a>
              </td> -->
            </tr>
            <tr>
              <td>Química, Área Tecnología Ambiental</td>
              <td class="text-center"><a
                  href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_QAM.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/QAM_1A.xls" target="_blank">
                  QAM-1A</a>
              </td> -->
            </tr>
            <tr>
              <td>Química, Área Industrial</td>
              <td class="text-center"><a
                  href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_QAI.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/QAI_1A.xls" target="_blank">
                  QAI-1A</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/QAI_1B.xls" target="_blank">
                  QAI-1B</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/QAI_1C.xls" target="_blank">
                  QAI-1C</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/QAI_1D.xls" target="_blank">
                  QAI-1D</a>
              </td> -->
            </tr>
            <tr>
              <td>Energías Renovables, Área Calidad y Ahorro de Energía</td>
              <td class="text-center"><a
                  href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_ERC.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/ERC_1A.xls" target="_blank">
                  ERC-1A</a>
              </td> -->
            </tr>
            <tr>
              <td>Tecnologías de la Información, Área Desarrollo de Software Multiplataforma</td>
              <td class="text-center"><a
                  href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_TIS.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/TIS1A.pdf" target="_blank">
                  TIS-1A</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/TIS1B.pdf" target="_blank">
                  TIS-1B</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/TIS1C.pdf" target="_blank">
                  TIS-1C</a>
              </td> -->
            </tr>
            <tr>
              <td>Licenciatura en Gestión del Capital Humano</td>
              <td class="text-center">
                <a href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_LGCH.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a>
              </td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/LGCH_7A.pdf" target="_blank">
                  LGCH-7A</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/LGCH_7B.pdf" target="_blank">
                  LGCH-7B</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/LGCH_7C.pdf" target="_blank">
                  LGCH-7C</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/LGCH_7D.pdf" target="_blank">
                  LGCH-7D</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/LGCH_7E.pdf" target="_blank">
                  LGCH-7E</a>
              </td> -->
            </tr>
            <tr>
              <td>Ingeniería en Tecnología Ambiental</td>
              <td class="text-center">
                <a href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupo_de_ITEA.pdf" target="_blank"><img
                    src="assets/img/iconos/pdf-24_32.png"></a>
              </td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/ITEA_7A.xls" target="_blank">
                  ITEA-7A</a>
              </td> -->
            </tr>
            <tr>
              <td>Ingeniería en Sistemas Productivos</td>
              <td class="text-center">
                <a href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_ISIP.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a>
              </td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/PIA-ISIP.xls" target="_blank">
                  ISIP</a>
              </td> -->
            </tr>
            <tr>
              <td>Ingeniería en Procesos Químicos</td>
              <td class="text-center">
                <a href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_IPQ.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a>
              </td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/IPQ_7A.xls" target="_blank">
                  IPQ-7A</a>
                <br>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/IPQ_7B.xls" target="_blank">
                  IPQ-7B</a>
              </td> -->
            </tr>
            <tr>
              <td>Ingeniería en Mecatrónica</td>
              <td class="text-center">
                <a href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupos_de_IMET.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a>
              </td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/MET-IMET.xls" target="_blank">
                  IMET</a>
              </td> -->
            </tr>
            <tr>
              <td>Ingeniería en Energías Renovables</td>
              <td class="text-center">
                <a href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupo_de_IER.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a>
                </td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/IER_7A.xls" target="_blank">
                  IER-7A</a>
              </td> -->
            </tr>
            <tr>
              <td>Ingeniería en Desarrollo y Gestión de Software</td>
              <td class="text-center"><a
                  href="assets/content/horarios/ene_abr_2023/Horarios_EneAbr_2023_Grupo_de_IDGS.pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
              <!-- <td>
                <a href="assets/content/horarios/ene_abr_2023/listas_preliminares/IDGS7A.pdf" target="_blank">
                  IDGS-7A</a>
              </td> -->
            </tr>


            <!-- <tr>
              <td>Asignaciones de Aulas Grupos de Inglés</td>
              <td colspan="2" class="text-center"><a
                  href="assets/content/horarios/ene_abr_2023/asignacion_de_aulas/2_Asignaciones_de_aulas_(29Ago2022).pdf"
                  target="_blank"><img src="assets/img/iconos/pdf-24_32.png"></a></td>
            </tr> -->

          </tbody>
        </table>
      </div>

    </div>
    <div class="col-md-4">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>