<title>UTS | Costos de Derechos Educativos</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Costos de Derechos Educativos</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Alumnos UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Costos de Derechos Educativos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="costo-derechos-educativos">
  <div class="row">
    <div class="col-md-9 text-justify">
        <div class="alert alert-secondary text-center font-weight-bold" role="alert">
            ARANCELES 2019
          </div>
      <div class="table-responsive-md text-center mb-3">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">CONCEPTO</th>
              <th scope="col">REFERENCIA FINANZAS</th>
              <th scope="col">REFERENCIA BAJIO-UTS</th>
              <th scope="col">VENTANILLA DE CAJA-UTS</th>
              <th scope="col">TOTAL A PAGAR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>CUOTA INICIAL A PROGRAMA EDUCATIVO TSU</td>
              <td>$ 450.00</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$450.00</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>CUOTA INICIAL A PROGRAMA EDUCATIVO ING</td>
              <td>$ 450.00</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 450.00</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>PAGO CUATRIMESTRAL A TÉCNICO SUPERIOR UNIVERSITARIO</td>
              <td>$ 1,000.00</td>
              <td>$ 250.00</td>
              <td>$ 0.00</td>
              <td>$ 1,250.00</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>PAGO CUATRIMESTRAL A INGENIERÍA</td>
              <td>$1,100.00</td>
              <td>$800.00</td>
              <td>$ 0.00</td>
              <td>$1,900.00</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>CONSTANCIAS EN GENERAL</td>
              <td>$ 50.00</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 50.00</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>HISTORIAL ACADÉMICO</td>
              <td>$ 95.00</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 95.00</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>CERTIFICADO DE ESTUDIOS PARCIAL, TOTAL O REPOSICIÓN</td>
              <td>$ 150.00</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 150.00</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>EXAMEN EXTRAORDINARIO: POR PUNTOS, POR FALTAS, 1RA OPORTUNIDAD, 2DA OPORTUNIDAD</td>
              <td>$ 80.00</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 80.00</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>EXAMEN EXTRAORDINARIO: GLOBAL</td>
              <td>$ 213.00</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 213.00</td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>TRÁMITE DE TITULACIÓN TSU</td>
              <td>$ 500.00</td>
              <td>$ 2,000.00</td>
              <td>$ 0.00</td>
              <td>$ 2,500.00</td>
            </tr>
            <tr>
              <th scope="row">11</th>
              <td>TRÁMITE DE TITULACIÓN ING</td>
              <td>$ 500.00</td>
              <td>$ 2,000.00</td>
              <td>$ 0.00</td>
              <td>$ 2,500.00</td>
            </tr>
            <tr>
              <th scope="row">12</th>
              <td>FICHA DE INGRESO</td>
              <td>$ 0.00</td>
              <td>$ 300.00</td>
              <td>$ 0.00</td>
              <td>$ 300.00</td>
            </tr>
            <tr>
              <th scope="row">13</th>
              <td>REEXPEDICIÓN DE CREDENCIAL</td>
              <td>$ 0.00</td>
              <td>$ 200.00</td>
              <td>$ 0.00</td>
              <td>$ 200.00</td>
            </tr>
            <tr>
              <th scope="row">14</th>
              <td>DEVOLUCIÓN DE DOCUMENTOS ORIGINALES</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 300.00</td>
              <td>$ 300.00</td>
            </tr>
            <tr>
              <th scope="row">15</th>
              <td>RENTA DE CASILLERO CHICO</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 250.00</td>
              <td>$ 250.00</td>
            </tr>
            <tr>
              <th scope="row">16</th>
              <td>RENTA DE CASILLERO GRANDE</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 300.00</td>
              <td>$ 300.00</td>
            </tr>
            <tr>
              <th scope="row">17</th>
              <td>COPIA FOTOSTÁTICA DE DOCUMENTOS ORIGINALES DEL ALUMNO</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 25.00</td>
              <td>$ 25.00</td>
            </tr>
            <tr>
              <th scope="row">18</th>
              <td>SEGURO ESTUDIANTIL</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 100.00</td>
              <td>$ 100.00</td>
            </tr>
            <tr>
              <th scope="row">19</th>
              <td>RECURSAMIENTO DE MATERIA</td>
              <td>$ 0.00</td>
              <td>$ 1,000.00</td>
              <td>$ 1,000.00</td>
              <td>$ 1,000.00</td>
            </tr>
            <tr>
              <th scope="row">20</th>
              <td>MULTA Y RECARGO DE BIBLIOTECA (DIARIO)</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 10.00</td>
              <td>$ 10.00</td>
            </tr>
            <tr>
              <th scope="row">21</th>
              <td>RIVALIDACIÓN DE MATERIAS</td>
              <td>$ 0.00</td>
              <td>$ 0.00</td>
              <td>$ 350.00</td>
              <td>$ 350.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>