<title>UTS | Calendario Escolar</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Calendario Escolar</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Estudiantes UTS</li>
            <li class="breadcrumb-item active" aria-current="page">Calendario Escolar</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="calendario-escolar">
  <div class="row">
    <div class="col-md-9 text-justify">
      <div class="alert alert-secondary" role="alert">
        <h4 class="text-center">CALENDARIO ESCOLAR 2023-2024</h4>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="assets/content/calendario-escolar/Calendario-Escolar-2023-2024.pdf"
          allowfullscreen></iframe>
      </div>

      
      <div class="alert alert-secondary mt-3" role="alert">
        <h4 class="text-center">AGENDA EDUCATIVA 2022</h4>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="assets/content/calendario-escolar/Agenda_Educativa_2022.pdf"
          allowfullscreen></iframe>
      </div>
   

    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
