<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>
            Promoción del valor de la dignidad humana en la UTS
          </h3>
          <small class="text-muted">Salamanca, Gto. 24 de noviembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia46/img1.JPG" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>Salamanca, Gto. a 24 de noviembre de 2022. Como parte de las actividades del Área Psicopedagógica de la UTS,
          en colaboración con el Instituto para el Desarrollo y Atención a las Juventudes del Estado de Guanajuato
          (JuventudEs GTO), y la organización Global Dignity, se llevó a cabo la conferencia/taller “Habilidades para la
          dignidad y el florecimiento humano” impartida por el Mtro. José Manuel Guevara, conferencista y entrenador de
          Mindfulness.</p>
        <p>El objetivo de la conferencia/taller fue promover en la comunidad universitaria, valores que reflejen la
          importancia de honrar la dignidad humana, así como generar espacios de promoción de estrategias para
          desarrollar las habilidades socioemocionales esenciales para construir criterios y cualidades que permitan una
          convivencia de respeto con otras personas.</p>
        <p>Global Dignity es una organización con presencia en 80 países, convencida de que la reflexión en torno a la
          dignidad, entendida como el valor de la persona, es fundamental para generar jóvenes con autoestima,
          iniciativa y responsabilidad hacia ellos mismos, y hacia los demás.</p>
        <p>Con estas acciones, la UTS colabora con el Gobierno del Estado de Guanajuato en su propósito de ser el primer
          estado de la república en promover el tema de la dignidad humana.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>