<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>
            Recibe UTS reconocimiento de la SMAOT por la implementación del Sistema de Administración Pública
            Sustentable
          </h3>
          <small class="text-muted">Salamanca, Gto. 30 de noviembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia48/img1.JPG" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>Guanajuato, Gto. a 30 de noviembre de 2022. Otorga Secretaría de Medio Ambiente y Ordenamiento Territorial
          SMAOT reconocimiento a la Universidad Tecnológica de Salamanca UTS por la implementación del Sistema de
          Administración Pública Sustentable (SAPS).</p>
        <p>En ceremonia llevada a cabo en el Centro de Atención a Visitantes Las Palomas, fueron reconocidas 21
          instituciones que implementaron el SAPS a través de acciones para el uso eficiente en el cuidado del agua,
          energía, residuos, flota vehicular, consumo responsable, compras, áreas verdes, así como capacitación en
          acciones de educación ambiental.</p>
        <p>Dicho reconocimiento busca distinguir a las dependencias del Ejecutivo del Estado de Guanajuato, que han
          realizado acciones ambientales en sus centros de trabajo para el uso eficiente y responsable de los recursos,
          fomentando una cultura ambiental en los servidores públicos, así como la toma de conciencia en el actuar,
          sentido de responsabilidad y respeto hacia el medio ambiente.</p>
        <p>Como parte de la implementación del Sistema de Administración Pública Sustentable, la UTS ha elaborado un
          diagnóstico y plan de acción a realizar, con el apoyo de la Coordinación de Educación Ambiental de la SMAOT,
          recibiendo la orientación, capacitación y seguimiento para su desarrollo.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>