<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
    <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
    <!--Galeria de Imagenes-->
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal">
                    <img src="assets/img/noticias/noticia24-Taller-Salud-Integral-de-la-Mujer/img1-noticia24.jpg" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia24-Taller-Salud-Integral-de-la-Mujer/img1-noticia24.jpg" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal2">
                    <img src="assets/img/noticias/noticia24-Taller-Salud-Integral-de-la-Mujer/img2-noticia24.jpg" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia24-Taller-Salud-Integral-de-la-Mujer/img2-noticia24.jpg" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal3">
                    <img src="assets/img/noticias/noticia24-Taller-Salud-Integral-de-la-Mujer/img3-noticia24.jpg" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia24-Taller-Salud-Integral-de-la-Mujer/img3-noticia24.jpg" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal4">
                    <img src="assets/img/noticias/noticia24-Taller-Salud-Integral-de-la-Mujer/img4-noticia24.jpg" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia24-Taller-Salud-Integral-de-la-Mujer/img4-noticia24.jpg" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!--Descripción del evento-->
        <div class="col-md-8">
            <article class="mt-4">
                <h3 class="text-center">Taller “Salud Integral de la Mujer” </h3>
                <p class="text-right font-weight-bold font-italic">23 de Mayo 2018</p>

                <p class="font-weight-normal">El día 23 de mayo del año en curso se realizó el Taller “Salud Integral de
                    la Mujer” por parte del Instituto para las Mujeres Guanajuatenses, el Instituto para las Mujeres de Salamanca
                    y Presidencia Municipal; siendo impartido por la Dra. Terpsicore Manríquez Mena acompañada de la Lic.
                    Gladis Marcela Rodríguez Rodríguez.</p>
                <p>Se brindó información sobre cartilla de vacunación, hipertensión, importancia de la activación física,
                    nutrición además de realizar pruebas de glucosa y VIH a alumnos y personal administrativo.</p>
                <p>Dicho taller se realizó en las instalaciones de la Universidad Tecnológica de Salamanca con el fin de
                    concientizar a los alumnos de la importancia del cuidado de su salud y formas de prevención de diversas
                    enfermedades de alta incidencia estadística en nuestro país. </p>
            </article>
            <!--Fin Descripción del evento-->
        </div>
        <div class="col-md-4">
            <app-noticias-destacadas></app-noticias-destacadas>
        </div>
    </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>