<title>UTS | Servicios Médicos</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Servicios Médicos</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Servicios Médicos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="servicios-medicos">
  <div class="row">
    <div class="col-md-9 text-justify">
      <p>La Universidad Tecnológica de Salamanca, cuenta con el Departamento de Servicios Médicos, dependiente de la Dirección
        de Vinculación y Extensión Universitaria, donde se proporciona atención médica y de enfermería, dentro del Primer
        Nivel de Salud, a la comunidad universitaria. </p>
      <p class="font-weight-bold">Objetivo:</p>
      <p>Implementar acciones de fomento y protección de la salud, dirigidas a la comunidad universitaria. </p>
      <p class="font-weight-bold">Servicios:</p>
      <ul>
        <li>Afiliación al seguro facultativo (IMSS).</li>
        <li>Consultas de Medicina General.</li>
        <li>Atención de urgencias médicas.</li>
        <li>Campañas de salud.</li>
        <li>Orientación y asesoría en salud (individualizada y grupal).</li>
        <li>Pláticas y conferencias de salud.</li>
        <li>Difusión médica a través de carteles y folletos.</li>
        <li>Apoyo a eventos deportivos y culturales.</li>
      </ul>
      <div class="card text-center mb-4">
        <div class="card-header">
          <p class="font-weight-bold">Para mayor información:</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
          <h5 class="card-title">Dra. Claudia Carolina Juárez Polito</h5>
          <p class="card-text">Jefa de Departamento de Servicios Médicos</p>
          <p>Email:
            <small>
              <a href="mailto:cjuarez@utsalamanca.edu.mx">cjuarez@utsalamanca.edu.mx</a>
            </small>
          </p>
        </div>
        <div class="col-sm">
          <h5 class="card-title">L.E.O. Berenice García González</h5>
          <p class="card-text">Analista Administrativo de Servicios Médicos</p>
          <p>Email:
            <small>
              <a href="mailto:bgarcia@utsalamanca.edu.mx">bgarcia@utsalamanca.edu.mx</a>
            </small>
          </p>
        </div>
        </div>
          <p class="card-text">Horario: Lunes a viernes de 8h00 a 19h00</p>
          <p class="card-text">Edificio de Centro de Información y Consulta / Biblioteca</p>
        </div>
        <div class="card-footer text-muted">
          Tel: 647 38 61 · Ext:169
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>