@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * ((128px + 50px) * 15 + 280px - 50px))); /* Calcula el ancho total */
    }
}

.slider-oi {
    background: #e6e6e6;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 128px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider-oi::before,
.slider-oi::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 128px;
    position: absolute;
    width: 128px;
    z-index: 2;
}

.slider-oi::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider-oi::before {
    left: 0;
    top: 0;
}

.slider-oi .slide-oi-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc((128px + 50px) * 15 + 280px - 50px); /* Ajusta el ancho total */
}

.slider-oi .slide-oi {
    height: 128px;
    margin-right: 50px;
}

.slider-oi .slide-oi img {
    max-height: 100%;
    width: auto; /* Imágenes proporcionales */
}
