<div class="contenido-section" id="organismos-interes">
    <h6>ENLACES A ORGANISMOS DE INTERÉS</h6>
    <div class="slider-oi">
        <div class="slide-oi-track">
            <div class="slide-oi">
                <a href="https://www.britishcouncil.org.mx/" target="_blank"><img
                        src="assets/img/logos_enlaces_interes/British_Council.png" alt="British Council"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.caceca.org/" target="_blank"><img src="assets/img/logos_enlaces_interes/caceca.png"
                        alt="CACECA"></a>
            </div>
            <div class="slide-oi">
                <a href="https://dgutyp.sep.gob.mx/" target="_blank"><img src="assets/img/logos_enlaces_interes/cgut.png"
                        alt="Coordinación General de Universidades Tecnológicas y Politécnicas"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.coepesguanajuato.mx/" target="_blank"><img
                        src="assets/img/logos_enlaces_interes/coepes.jpg" alt="COEPES"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.conocer.gob.mx/" target="_blank"><img style="text-align:center;"
                        src="assets/img/logos_enlaces_interes/conocer.png" alt="CONOCER"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.conricyt.mx/" target="_blank"><img
                        src="assets/img/logos_enlaces_interes/conricyt.png" alt="CONRICYT"></a>
            </div>
            <div class="slide-oi">
                <a routerLink="/contraloria-social"><img
                        src="assets/img/logos_enlaces_interes/contraloria_social-Boton.png"
                        alt="Contraloría Social"></a>
            </div>
            <!--
            <div class="slide-oi">
                <a href="https://www.guanajuato.gob.mx/" target="_blank"><img
                        src="assets/img/logos_enlaces_interes/gobierno-de-guanajuato.jpg"
                        alt="Gobierno del Estado de Guanajuato"></a>
            </div>
            -->
            <div class="slide-oi">
                <a href="javascript:void(0);"
                    onclick="javascript:window.open('assets/content/documentos_canieti_uts/Certificado-de-Membresia-CANIETI- 2017-2018.pdf', '_blank'); window.open('assets/content/documentos_canieti_uts/Credencial-de afiliacion-CANIETI-2017-2018.pdf', '_blank');"><img
                        src="assets/img/logos_enlaces_interes/Logo-Canieti-Slider.png" title="CANIETI"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.clutig.com/" target="_blank"><img
                        src="assets/img/logos_enlaces_interes/logoweb_clutig.webp" alt="CLUTIG" style="height: 108px;"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.conacyt.mx/" target="_blank"><img
                        src="assets/img/logos_enlaces_interes/logo_conacyt.png" alt="CONACYT"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.ricit.sectur.gob.mx/" target="_blank">
                    <img src="assets/img/logos_enlaces_interes/ricit.jpg" alt="" />
                </a>
            </div>
            <div class="slide-oi">
                <a href="https://www.gob.mx/sep" target="_blank"><img src="assets/img/logos_enlaces_interes/sep.png"
                        alt="Secretaría de Educación Pública"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.britishcouncil.org.mx/" target="_blank"><img
                        src="assets/img/logos_enlaces_interes/British_Council.png" alt="British Council"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.caceca.org/" target="_blank"><img src="assets/img/logos_enlaces_interes/caceca.png"
                        alt="CACECA"></a>
            </div>
            <div class="slide-oi">
                <a href="https://dgutyp.sep.gob.mx/" target="_blank"><img src="assets/img/logos_enlaces_interes/cgut.png"
                        alt="Coordinación General de Universidades Tecnológicas y Politécnicas"></a>
            </div>
            <div class="slide-oi">
                <a href="https://www.coepesguanajuato.mx/" target="_blank"><img
                        src="assets/img/logos_enlaces_interes/coepes.jpg" alt="COEPES"></a>
            </div>
        </div>
    </div>
</div>

<!--Fin enlaces a Organismos de Interes-->
