<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia15-inaguracion-primer-jornada-endcut-2018/img1-inaguracion-endcut.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia15-inaguracion-primer-jornada-endcut-2018/img1-inaguracion-endcut.jpg"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia15-inaguracion-primer-jornada-endcut-2018/img2-inaguracion-endcut.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia15-inaguracion-primer-jornada-endcut-2018/img2-inaguracion-endcut.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia15-inaguracion-primer-jornada-endcut-2018/img3-inaguracion-endcut.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia15-inaguracion-primer-jornada-endcut-2018/img3-inaguracion-endcut.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
        <!-- normal -->
        <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia15-inaguracion-primer-jornada-endcut-2018/img4-inaguracion-endcut.jpg"
            data-lightbox="roadtrip">
            <div class="img"><img src="assets/img/noticias/noticia15-inaguracion-primer-jornada-endcut-2018/img4-inaguracion-endcut.jpg"
                alt="img"></div>
          </a></div>
        <!-- end normal -->
      </div>

  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">INAUGURACIÓN Y PRIMERA JORNADA DE ENCUENTROS DEPORTIVOS REGIONALES ENTRE UNIVERSIDADES TECNOLÓGICAS.</h3>
        <p class="text-right font-weight-bold font-italic">10 de febrero del 2018</p>
        <p>El día 10 de febrero se llevó a cabo la Primera Jornada de los Encuentros Regionales Deportivos de Universidades Tecnológicas. En dicho evento la sede fue la Universidad Tecnológica del Norte de Guanajuato, ubicada en Dolores Hidalgo, Gto., en la que se contó con la participación de 9 Universidades Tecnológicas que conforman la región 6 del país.</p>
        <p>Dicho Encuentro Deportivo dio inicio en punto de las 9:00 hrs con la ceremonia de inauguración, a continuación se realizó el desfile de un contingente representativo de cada una de la 9 Universidades Tecnológicas participantes, posteriormente se realizó el encendido del fuego nuevo y el banderazo inaugural por parte del Rector de la Universidad Tecnológica del Norte de Guanajuato, Dr. Fernando Gutiérrez.</p>
        <p>En punto de las 10:00 hrs. dieron inicio los diferentes encuentros de cada una de las disciplinas en las sedes alternas al recinto oficial. (Unidad Deportiva Municipal, Mega parque y Ágora de La Alameda).</p>
        <p class="font-weight-bold">Los resultados fueron:</p>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Deporte</th>
                <th scope="col">Equipo</th>
                <th scope="col">Resultado</th>
                <th scope="col">Equipo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">FÚTBOL SOCCER VARONIL</th>
                <td>UTS <br> UTS</td>
                <td>1-0 <br> 3-2 </td>
                <td>UNAQ <br> UTL </td>
              </tr>
              <tr>
                <th scope="row">FÚTBOL 7 VARONIL</th>
                <td>UTS</td>
                <td>7-3</td>
                <td>UTSJR</td>
              </tr>
              <tr>
                <th scope="row">FÚTBOL 7 FEMENIL</th>
                <td>UTS</td>
                <td>2-0</td>
                <td>UTM</td>
              </tr>
              <tr>
                  <th scope="row">VOLEIBOL FEMENIL 	</th>
                  <td>UTS <br> UTS</td>
                  <td>0-2 <br> 0-2 </td>
                  <td>UTSJR <br> UTM </td>
                </tr>
            </tbody>
          </table>
      </article>
        <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>

</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>