<title>UTS | CONOCER</title>
<app-header id="top"></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>CONOCER</h2>
        </div>
        <div class="col-md-4">
          <nav aria-label="breadcrumb" class="bg-transparent">
            <ol class="breadcrumb bg-transparent">
              <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
              <li class="breadcrumb-item active" aria-current="page">Conocer</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <img class="mb-3" src="assets/img/conocer/banner_conocer.jpg" alt="">
          <h3 class="text-center">CERTIFICACIÓN DE COMPETENCIAS</h3>
            <div class="progress" style="height: 2px;">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          <p>Es el proceso a través del cual las personas demuestran por medio de evidencias, que cuentan, sin importar como las hayan adquirido, con los conocimientos, habilidades y destrezas necesarias para cumplir una función a un alto nivel de desempeño de acuerdo con lo definido en un estándar de competencia.</p>
          <div class="row">
              <div class="col-md">
                <h4>Misión</h4>
                <p>Ser una organización que promueva el desarrollo personal, profesional y la competitividad de las personas mediante procesos de evaluación y certificación basados en estándares de competencia avalados ante el conocer.</p>
                <h4>Visión</h4>
                <p>Ser reconocida como una entidad que avale la competitividad de las personas mediante la certificación de sus competencias y posicionar a Guanajuato como un estado líder en el desarrollo económico.</p>
              </div>
              <div class="col-md">
                <h4>Política de Calidad</h4>
                <p>Satisfacer los requisitos de los usuarios que reciben nuestro servicio con base en la mejora continua, el aseguramiento y la calidad de los procesos marcados por el conocer.</p>
                <h4>Nuestro Objetivo</h4>
                <p>Impulsar la competitividad de las personas mediante sus conocimientos, habilidades y destrezas, y de esta forma adquieran un alto desempeño de acuerdo a lo definido en un estándar de competencia.</p>
              </div>
            </div>
            <h3 class="text-center">NUESTROS SERVICIOS</h3>
              <div class="progress" style="height: 2px;">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            <div class="row">
              <div class="col-md">
                <h4>Cursos de Alineación en:</h4>
                <ul>
                  <li><span class="font-weight-bold">EC0217</span> Impartición de cursos de formación del capital humano de manera presencial grupal.</li>
                  <li><span class="font-weight-bold">EC0306</span> Reclutamiento y selección de personal administrativo y operativo.</li>
                </ul>
              </div>
              <div class="col-md">
                <h4>Procesos de Evaluación-Certificación en los Estándares:</h4>
                <ul>
                  <li><span class="font-weight-bold">EC0076</span> Evaluación de la competencia de candidatos con base en estándares de competencia.</li>
                  <li><span class="font-weight-bold">EC0107</span> Manejo de procesador de textos digitales.</li>
                  <li><span class="font-weight-bold">EC0217</span> Impartición de cursos de formación del capital humano de manera presencial grupal.</li>
                  <li><span class="font-weight-bold">EC0305</span> Prestación de servicios de atención a clientes.</li>
                  <li><span class="font-weight-bold">EC0306</span> Reclutamiento y selección de personal operativo y administrativo.</li>
                </ul>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-light text-center mb-4">
                <div class="card-header font-weight-bold">CONTACTO CONOCER</div>
                <div class="card-body">
                  <h5 class="card-title">Maricruz Gutiérrez Ruelas</h5>
                  <p class="card-text">Coordinadora de Educación Continua y Servicios Tecnológicos</p>
                  <p>Email: <small><a href="mailto:mgutierrez@utsalamanca.edu.mx">mgutierrez@utsalamanca.edu.mx</a></small></p>
                  <p class="card-text">Horario: Lunes a viernes de 8h00 a 17h00</p>
                  <p class="card-text">Edificio de Centro de Información y Consulta / Biblioteca</p>
                  <p class="card-text">Tel: 647 38 61 · Ext:171</p>
                  <img style="width: 5.5rem;" src="assets/img/conocer/buzon_conocer.png" alt="">
                </div>
              </div>
          <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
        </div>
      </div>
    </div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>