<title>UTS | Programa Anual de Adquisiciones</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Programa Anual de Adquisiciones</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/"> <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Transparencia
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Adquisiciones
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="adquisiciones">
  <div class="row">
    <div class="col-md-9">
      <h4 class="text-center">
        Programa Anual de Adquisiciones, Arrendamientos y Servicios.
      </h4>

      <div class="table-responsive">
        <table class="table table-bordered text-center align-middle">
          <thead>
            <tr>
              <th>Año</th>
              <th>Documento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2026</td>
              <td>
                <a
                  href="assets/content/adquisiciones/2026/3052_UTS_POAC_2026_Anexo_1.pdf"
                  target="_blank"
                  title="Descargar Programa Anual de Adquisiciones 2026"
                >
                  <img src="assets/img/iconos/pdf-24_32.png" alt="PDF" />
                </a>
              </td>
            </tr>
            <tr>
              <td>2025</td>
              <td>
                <a
                  href="assets/content/adquisiciones/2025/POAC_2025.pdf"
                  target="_blank"
                  title="Descargar Programa Anual de Adquisiciones 2025"
                >
                  <img src="assets/img/iconos/pdf-24_32.png" alt="PDF" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
