<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
    <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
    <!--Galeria de Imagenes-->
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal">
                    <img src="assets/img/noticias/noticia25-Talent-City/img1-noticia25.jpg" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia25-Talent-City/img1-noticia25.jpg" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal2">
                    <img src="assets/img/noticias/noticia25-Talent-City/img2-noticia25.jpg" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia25-Talent-City/img2-noticia25.jpg" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal3">
                    <img src="assets/img/noticias/noticia25-Talent-City/img6-noticia25.jpg" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia25-Talent-City/img6-noticia25.jpg" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal4">
                    <img src="assets/img/noticias/noticia25-Talent-City/img7-noticia25.jpg" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia25-Talent-City/img7-noticia25.jpg" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!--Descripción del evento-->
        <div class="col-md-8">
            <article class="mt-4">
                <h3 class="text-center">TALENT CITY</h3>
                <p class="text-right font-weight-bold font-italic">08, 09 y 10 de junio del 2018</p>

                <p class="font-weight-normal">El evento Talent City llevado en el Centro Fox, consiste en apoyar a cada una
                    de las personas que desean potencializar sus conocimientos y desarrollar proyectos innovadores que les
                    ayudan a poner en práctica sus conocimientos, como habilidades en competencias de nivel estatal y nacional,
                    como en la participación de torneos de robótica, torneo en el Talent Hackathon, competencias en la carrera
                    de Drones, como fomentar la creación de nuevas Pymes.</p>
                <p class="font-weight-bold">RESULTADOS:</p>
                <ul>
                    <li>Un reconocimiento y agradecimiento a todas las personas (autoridades, personal docente y administrativo)
                        de las distintas áreas de la UTS (Rectoría, COA, MET, ADM) que apoyaron de diversas formas para la
                        realización del viaje a este evento, desde su planeación, ejecución y verificación, con el fin de
                        que todo saliera de la mejor forma.</li>
                    <li>Se realizará un análisis de lecciones aprendidas sobre el evento, con el fin de detectar áreas de
                        oportunidad para ser consideradas en próximos eventos a realizarse en la próxima competencia de Campus
                        Party 2018 en la Ciudad de México.</li>
                </ul>
            </article>
            <!--Fin Descripción del evento-->
        </div>
        <div class="col-md-4">
            <app-noticias-destacadas></app-noticias-destacadas>
        </div>
    </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>