<div class="bg-light p-2">
  <h6>NOTICIAS DESTACADAS</h6>
  <ul class="list-unstyled">
    <li class="media">
      <img class="mr-3" src="assets/img/noticias/noticia38/img2.JPG" alt="image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Egresa un total de 854 alumnos de la UTS</h5>
        <a routerLink="/noticia38">LEER MÁS...</a>
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src="assets/img/noticias/noticia37/img2.JPG" alt="image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Actividades del “Día de muertos” en la UTS</h5>
        <a routerLink="/noticia37">LEER MÁS...</a>
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src="assets/img/noticias/noticia36/img1.JPG" alt="image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Estudiantes de la UTS son finalistas de CONIES 2022</h5>
        <a routerLink="/noticia36">LEER MÁS...</a>
      </div>
    </li>
  </ul>
  <a class="btn btn-outline-info btn-block" href="/noticias">Ver todas las noticias</a>
</div>