<div class="bg-light p-2">
  <h6>NOTICIAS DESTACADAS</h6>
  <ul class="list-unstyled">
    <li class="media">
      <img class="mr-3" src="assets/img/noticias/noticia33/img.jpg" alt="image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Conmemoración del “Día internacional de la Mujer”</h5>
        <a routerLink="/noticia33">LEER MÁS...</a>
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src="assets/img/noticias/noticia32/img.jpg" alt="image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Intercambio académico estudiantil</h5>
        <a routerLink="/noticia32">LEER MÁS...</a>
      </div>
    </li>
    <li class="media my-4">
      <img class="mr-3" src="assets/img/noticias/noticia30/img.jpg" alt="image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Firma de convenio entre NETCON y UTS</h5>
        <a routerLink="/noticia30">LEER MÁS...</a>
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src="assets/img/noticias/noticia29/img.jpg" alt="image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Firma de Convenio entre COPTIGTO y UTS</h5>
        <a routerLink="/noticia29">LEER MÁS...</a>
      </div>
    </li>
  </ul>
  <a class="btn btn-outline-info btn-block" href="/noticias">Ver todas las noticias</a>
</div>