<div class="bg-light p-2">
  <h6>NOTICIAS DESTACADAS</h6>
  <ul class="list-unstyled">
    <li class="media mb-3" *ngFor="let noticia of noticias">
      <img class="mr-3" src="https://utsalamanca.edu.mx/blog/images/articles/{{ noticia.images[0].name }}" alt="{{ noticia.title }}" title="{{ noticia.title }}">
      <div class="media-body">
        <h5 class="mt-0 mb-1">{{ noticia.title }}</h5>
        <a href="/noticias/{{ noticia.slug }}">LEER MÁS...</a>
      </div>
    </li>
  </ul><a class="btn btn-outline-info btn-block" routerLink="/noticias">Ver todas las noticias</a>
</div>