<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia28-espacio-acuoso-2018/img1-espacio-acuoso-2018.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia28-espacio-acuoso-2018/img1-espacio-acuoso-2018.jpg" alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia28-espacio-acuoso-2018/img2-espacio-acuoso-2018.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia28-espacio-acuoso-2018/img2-espacio-acuoso-2018.jpg" alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>
  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">Espacio Acuoso 2018</h3>
        <p class="text-right font-weight-bold font-italic">29 de agosto del 2018</p>
        <p class="font-weight-bold">Objetivo:</p>
        <p>Presentar proyecto finalista sobre <ins>“Tratamiento químico para evitar la corrosión en tuberías”</ins> en el
          Foro de Espacio Acuoso, tendiente a resolver la problemática del agua con base a los conocimientos adquiridos en
          las distintas disciplinas de estudio, relacionadas con alguno de los ejes temáticos que se manejan en el Foro.</p>
        <p>De 08h30 a 09h00 se procedió a llevar acabo el registro al foro de Espacio Acuoso. Posteriormente se ingresó a
          las Salas B y C del Centro de Convenciones para presenciar el acto protocolario e inauguración del evento por parte
          de autoridades estatales y federales. </p>
        <p>Presentación ejecutiva de los proyectos finalistas del eje 1 de Nivel Medio Superior ante el jurado calificador,
          con sus respectivos tiempos de preguntas de parte del jurado. Las presentaciones de los proyectos finalistas fueron
          por parte de CECyTE Doctor Mora, CECYTE Celaya II, CECYTE San Miguel de Allende y CECYTE León San Juan Bosco.</p>
        <p>Presentación ejecutiva de los proyectos finalistas del eje 1 de Nivel Superior ante el jurado calificador, con
          sus respectivos tiempos de preguntas de parte del jurado. Las presentaciones de los proyectos finalistas fueron
          por parte de la Universidad de Guanajuato División de Ingenierías, Universidad Politécnica de Guanajuato con cuatro
          proyectos, Instituto Tecnológico de Roque, Universidad Tecnológica de Salamanca y Universidad Tecnológica de San
          Miguel de Allende.</p>
        <p>Durante la presentación del bloque de Educación Superior se realizó la ponencia del proyecto “Tratamiento químico
          para evitar la corrosión en tuberías”, por parte de la alumna Erika Martínez Rodríguez, estudiante de TSU en Química
          área Tecnología Ambiental.</p>
        <p>Presentación ejecutiva de los proyectos finalistas del eje 3 ante el jurado calificador, con sus respectivos tiempos
          de preguntas de parte del jurado.</p>
        <p>Al terminar las presentaciones de los proyectos finalistas, nos trasladamos al auditorio del Estado para el evento
          inaugural, llevado a cabo por parte del Gobernador del Estado de Guanajuato, Lic. Miguel Márquez Márquez.</p>
        <p>Al concluir la inauguración se llevó a cabo el recorrido por la Exposición Agua, Ciencia y Cultura en la explanada
          del Centro de Convenciones.</p>
        <p>A las 15h30 se ingresó a las salas B y C, en donde se llevó la deliberación del jurado y selección de los proyectos
          ganadores de cada eje.</p>
        <p>La <span class="font-weight-bold">Universidad Tecnológica de Salamanca </span>resulto ganadora del primer lugar
          con el proyecto <ins>“Tratamiento químico para evitar la corrosión en tuberías”.</ins></p>
        <p>Se recibió por parte de los organizadores del evento el reconocimiento de proyecto ganador.</p>
        <p>Durante el evento se participó en la Comisión de Coordinación de Ponentes</p>
        <p class="font-weight-bold">Resultados obtenidos::</p>
        <p>Primer lugar en el evento de Espacio Acuoso.</p>
      </article>
      <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>