<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <!--Contenido de la noticia-->
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <h3>
            Práctica de jornada laboral de estudiantes de QAI
          </h3>
          <small class="text-muted">Salamanca, Gto. 24 de noviembre del 2022</small>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img class="img-fluid" src="assets/img/noticias/noticia45/img1.JPG" />
        </div>
      </div>
      <div class="text-justify mt-3">
        <p>Salamanca, Gto. a 24 de noviembre de 2022. Estudiantes del cuarto cuatrimestre de Técnico Superior
          Universitario en Química Área Industrial, llevaron a cabo una práctica de simulación de una jornada laboral en
          los laboratorios de la UTS los pasados 22, 23 y 24 de noviembre, realizando la aplicación y validación de un
          proceso de destilación para separar una mezcla de alcohol etílico desnaturalizado grado comercial de una
          mezcla con agua destilada y un pigmento natural.</p>
        <p>El trabajo de los estudiantes consistió en la creación de una empresa y su integración a un Sistema de
          Gestión de Calidad (SGC) por lo que tuvieron que declarar el proceso de certificación, generar los indicadores
          de rendimiento en base al proceso seleccionado y cumplir con los indicadores establecidos, cuidando, a través
          de los análisis químicos y de control de calidad, cumplir con Normas Mexicanas NMX, Normas Oficiales Mexicanas
          NOM, así como el cumplimiento de indicadores establecidos a partir de los valores de porcentaje recuperados
          del producto seleccionado alcohol comercial desnaturalizado.</p>
        <p>El Lic. Fernando Trujillo, Rector de la Universidad Tecnológica de Salamanca, en compañía de personal
          directivo, realizó un recorrido por las diferentes estaciones de trabajo, en el que los estudiantes realizaron
          una presentación de sus procesos y actividades.</p>
      </div>
    </div>

    <!--Fin del contenido de la noticia-->
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>