<title>UTS | Directorio Enlaces CJMU</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Directorio Enlaces CJMU</h2>
      </div>
      <div class="col-lg-4">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Universidad</li>
            <li class="breadcrumb-item active" aria-current="page">Directorio Enlaces CJMU</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<article>
  <div class="container">
    <div class="row mb-3">
      <div class="col-12 text-center mb-3">
        <h4>DIRECTORIO ENLACES DE LOS CENTROS DE JUSTICIA PARA LAS MUJERES CON LAS UNIVERSIDADES</h4>
      </div>

      <div class="table-responsive">
        <table id="datos" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Nombre</th>
              <th scope="col">Institución</th>
              <th scope="col">Puesto/Área</th>
              <th scope="col">Correo</th>
              <th scope="col">Teléfono</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Licda. Ana Lilia Rosales Padilla</td>
              <td>Centro de Justicia para las Mujeres, Aguascalientes</td>
              <td>Coordinación de Servicios Subsecuentes</td>
              <td>ana.rosalesp@fiscalia-aguascalientes.gob.mx; analilia.cjm@gmail.com</td>
              <td>4499748231 ext.1004<br>Cel.: 4491434753</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Ingrid Lilian Gómez González</td>
              <td>Centro de Justicia para las Mujeres del Estado de Baja California</td>
              <td>Administrativa</td>
              <td>ingrid.gomez@uabc.edu.mx </td>
              <td>(664) 8790570 ext. 0570</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Lic. Cinthia Guadalupe Aguilar Higuera</td>
              <td>Centro de Justicia para las Mujeres del Estado de Baja California Sur</td>
              <td>Licenciatura en Psicología</td>
              <td>psic.cinthiaguilar@hotmail.com</td>
              <td>612 238 3031</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Mtra. Teresita Beatriz Segovia Espinosa</td>
              <td>Centro de Justicia para las Mujeres de Campeche</td>
              <td>Coordinadora General</td>
              <td>psique3000@hotmail.com</td>
              <td>9811053325</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Marisol Reyes Vargas</td>
              <td>Centro de Justicia para las Mujeres, Carmen, Campeche</td>
              <td>Licda. en psicología  </td>
              <td>marisol_reyes_vargas@hotmail.com</td>
              <td>9384012184</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Michelle Domínguez Gordillo</td>
              <td>Centro de Justicia para las Mujeres del Estado de Chiapas</td>
              <td>Subdirectora</td>
              <td>cejumsancristobal@gmail.com</td>
              <td>9613044941</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Lorena Guadalupe Aguilar Gutiérrez</td>
              <td>Centro de Justicia para las Mujeres en Tapachula, Chiapas</td>
              <td>Subdirectora</td>
              <td>cejum.tapachula@gmail.com</td>
              <td>9621078100</td>
            </tr>
            <tr>
              <td>8</td>
              <td>C. Patricia Guzmán Moreno</td>
              <td>Centro de Justicia para las Mujeres de Tuxla Gutiérrez, Chiapas</td>
              <td>Licda. En psicología y subdirectora</td>
              <td>patiguzman05@gmail.com</td>
              <td>961 6490403</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Carolina Isabel Muñoz Araiza</td>
              <td>Centro de Justicia para las Mujeres, Chihuahua</td>
              <td>Licda. En Psicología</td>
              <td>caroima.08.06@gmail.com</td>
              <td>6144 293300 ext. 10713<br>cel.: 6141636339 </td>
            </tr>
            <tr>
              <td>10</td>
              <td>Lcdas. Wendy Sujey Bolaños Alvídrez</td>
              <td>Centro de Justicia para las Mujeres &quot;Maricela Escobedo Ortiz&quot;, Ciudad Juárez, Chihuahua</td>
              <td>Supervisora del are de Psicología</td>
              <td>wendy_bola@hotmail.com</td>
              <td><br></td>
            </tr>
            <tr>
              <td>11</td>
              <td>Lcda. Jessica Marlen Domínguez Domínguez</td>
              <td>Centro de Justicia para las Mujeres &quot;Maricela Escobedo Ortiz&quot;, Ciudad Juárez, Chihuahua</td>
              <td>Supervisora del área Jurídica</td>
              <td>lic.jessmar@outlook.es</td>
              <td><br></td>
            </tr>
            <tr>
              <td>12</td>
              <td>Fabiola Hernández Olandes</td>
              <td>Centro de Justicia para las Mujeres, Ciudad de México, Azcapotzalco</td>
              <td>Licenciada en Derecho</td>
              <td>fabiolah.olandes@outlook.com</td>
              <td>5555060939</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Reyna González López</td>
              <td>Centro de Justicia para las Mujeres  Iztapalapa, Ciudad de México</td>
              <td>Licenciada en Derecho</td>
              <td>reyna.gonzalez.lopez24@gmail.com</td>
              <td>5523082365</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Juana María Tec Salazar</td>
              <td>Centro de Justicia para las Mujeres, Tlalpan, Ciudad de México</td>
              <td>Licenciada en Derecho</td>
              <td>jtecsalazar@gmail.com</td>
              <td>5539526828</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Licda. Claudia Guadalupe Carrasco  Villarreal</td>
              <td>Centro de Justicia y Empoderamiento para las Mujeres en Frontera Coahuila</td>
              <td>Abogada en el Área de Orientación</td>
              <td>claudia_carvi@hotmail.com</td>
              <td>8661713051</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Licda. Wendy Magdalena Escobedo Navarro</td>
              <td>Centro de Justicia y Empoderamiento para las Mujeres de Matamoros Coahuila</td>
              <td>Psicóloga</td>
              <td>ps_wendyescobedo@live.com.mx </td>
              <td>8714064230</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Alejandra Candelas Cardona</td>
              <td>Centro de Justicia y Empoderamiento para las Mujeres de Matamoros Coahuila</td>
              <td>Área Jurídica</td>
              <td>aless_415@hotmail.com</td>
              <td>8718870528</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Licda. Juana Ibarra Rodríguez</td>
              <td>Centro de Justicia y Empoderamiento para las Mujeres de Torreón, Coahuila</td>
              <td>Jefa del Área de Trabajo Social</td>
              <td>aries_650327@hotmail.com</td>
              <td>8717680257</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Sulamita Dayan García Argüello</td>
              <td>Centro de Justicia y Empoderamiento para las Mujeres en Saltillo, Coahuila</td>
              <td>Psicóloga del Centro</td>
              <td>dayangarguello@gmail.com; cjem@coahuila.gob.mx</td>
              <td>844 427 01 80</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Laura Elizabeth Reyes Sánchez</td>
              <td>Centro de Justicia para las Mujeres, Estado de Colima</td>
              <td>Trabajadra Social</td>
              <td>laura_lers_2@hotmail.com</td>
              <td>3121319095</td>
            </tr>
            <tr>
              <td>21</td>
              <td>Licda. Araceli Yaneth Franco Mariscal</td>
              <td>Centro de Justicia para las Mujeres, Durango</td>
              <td>Atención Jurídica Especializada y Acompañamiento</td>
              <td>araceli.franco@durango.gob.mx </td>
              <td>618 3 64 25 81</td>
            </tr>
            <tr>
              <td>22</td>
              <td>Licda. Laura Cecilia Rodríguez Palacios</td>
              <td>Centro de Justicia Para las Mujeres de Amecameca, Estado de México</td>
              <td>Coordinación Territorial Regional (primer contacto)</td>
              <td>arual9801@gmail.com</td>
              <td>5578078755</td>
            </tr>
            <tr>
              <td>23</td>
              <td>Andrea Guadalupe Suberza Rodríguez</td>
              <td>Coordinación Regional para la Atención de Delitos Vinculados a la Violencia de Género Valle de México, Estado de México </td>
              <td>Responsable de la Coordinación Regional para la Atención de Delitos Vinculados a la Violencia de Género Valle de México</td>
              <td>unidadespecializada2511@gmail.com</td>
              <td>5515898465</td>
            </tr>
            <tr>
              <td>24</td>
              <td>Aguilar Peña Roció del Carmen</td>
              <td>Centro de Justicia Para las Mujeres de Toluca, Estado de México</td>
              <td>Abogada de Primer Contacto </td>
              <td>raguilarpe@fiscaliaedomex.gob.mx</td>
              <td >7221548993</td>
            </tr>
            <tr>
              <td>25</td>
              <td>Rosales Taboada Myriam</td>
              <td>Centro de Justicia Para las Mujeres de Cuaititlán Izcalli, Estado de México</td>
              <td>Abogada de Primer Contacto </td>
              <td>lic.myriamrosales@gmail.com</td>
              <td>5528827724</td>
            </tr>
            <tr>
              <td>26</td>
              <td>Ortiz Rosas María del Rosario </td>
              <td>Centro de Justicia Para las Mujeres de Ecatepec, Estado de México</td>
              <td>Abogada de Primer Contacto </td>
              <td>firmalegalortiz0926@gmail.com</td>
              <td>5510654368</td>
            </tr>
            <tr>
              <td>27</td>
              <td>Licda. Rosa María Pérez Millán</td>
              <td>Centro de Justicia Para las Mujeres del Estado de Guanajuato</td>
              <td>Coordinadora de Asistencia Psicológica</td>
              <td>rperezm@guanajuato.gob.mx</td>
              <td >462635710</td>
            </tr>
            <tr>
              <td>28</td>
              <td>Mtro. Juan Carlos Cerón Gutiérrez</td>
              <td>Centro de Justicia para Mujeres del Estado de Hidalgo</td>
              <td>Director Operativo</td>
              <td>direccionoperativacjmh@gmail.com; jcarlos_cerong@hotmail.com </td>
              <td>7712492400 ext 1003<br>7712213581</td>
            </tr>
            <tr>
              <td>29</td>
              <td>Carmen Liliana Bravo Carrillo</td>
              <td>Centro de Justicia para las Mujeres del Estado de Jalisco</td>
              <td>Responsable del Área de Empoderamiento y Prevención</td>
              <td>carmen.bravo@jalisco.gob.mx</td>
              <td>3330 305450 ext. 19320</td>
            </tr>
            <tr>
              <td>30</td>
              <td>Angélica Sandoval Márquez</td>
              <td>Centro de Justicia para las Mujeres, en el Municipio Puerto Vallarta, Jalisco</td>
              <td>Psicóloga</td>
              <td>psc.angelica@gmail.com</td>
              <td>322-149-99-92</td>
            </tr>
            <tr>
              <td>31</td>
              <td>Licda. Gisella Esmeralda Figueroa López</td>
              <td>Centro de Justicia Integral para las Mujeres del Estado de Michoacán</td>
              <td>Dirección de empoderamiento</td>
              <td>psic.gisellafigueroa@hotmail.com; cjim_psicologia@hotmail.com</td>
              <td>443-2577493</td>
            </tr>
            <tr>
              <td>32</td>
              <td>Martha Isabel Hernández Rendón</td>
              <td>Centro de Justicia para las Mujeres del Estado de Morelos</td>
              <td>Piscóloga</td>
              <td>centrojusticiamujeres.morelos@gmail.com</td>
              <td>777 3188753<br>Cel.: 7775008647</td>
            </tr>
            <tr>
              <td>33</td>
              <td>Licda. María Guadalupe Michel Oxte</td>
              <td>Centro de Justicia para las Mujeres, Bahía de Banderas, Nayarit</td>
              <td>Auxiliar MP adscrito a la Dirección del Centro de Justicia</td>
              <td>lupita_michel@hotmail.com</td>
              <td>322 278 7087</td>
            </tr>
            <tr>
              <td>34</td>
              <td>Lic. Erika Danae Ramírez García</td>
              <td>Centro de Justicia para las Mujeres, Bahía de Banderas, Nayarit</td>
              <td>Asesor Jurídico</td>
              <td>edrg87@hotmail.com </td>
              <td>311 182 35 33</td>
            </tr>
            <tr>
              <td>35</td>
              <td>Licda. Alejandra Guadalupe Zapata Saucedo</td>
              <td>Centro de Justicia para las Mujeres, Bahía de Banderas, Nayarit</td>
              <td>Psicóloga</td>
              <td>ale.zapata4@gmail.com</td>
              <td>3228899580</td>
            </tr>
            <tr>
              <td>36</td>
              <td>Lic. Andrea Guadalupe Albarrán Santillán</td>
              <td>Centro de Justicia para las Mujeres, Bahía de Banderas, Nayarit</td>
              <td>Psicóloga</td>
              <td>andrea.albarran94@gmail.com</td>
              <td>3221377547</td>
            </tr>
            <tr>
              <td>37</td>
              <td>Nahira Dina Margarita Reyna Salazar</td>
              <td>Centro de Justicia para las Mujeres del Estado de Nuevo León</td>
              <td><br></td>
              <td>nahira.reyna@fiscalianl.gob.mx </td>
              <td>8120205994 y 8119946336</td>
            </tr>
            <tr>
              <td>38</td>
              <td>Viridiana Mayoral Estrada</td>
              <td>Centro de Justicia para las Mujeres de Oaxaca </td>
              <td>Dirección  </td>
              <td>cejum2013@hotmail.com; cejum@fge.oaxaca.gob.mx</td>
              <td> 9515148788; cel. 9511249576</td>
            </tr>
            <tr>
              <td>39</td>
              <td>Jetzhabel Cuellar Sierra</td>
              <td>Centro de Justicia para las Mujeres, Puebla</td>
              <td>Criminóloga  </td>
              <td>escorpion.jeth@gmail.com </td>
              <td>2212470367</td>
            </tr>
            <tr>
              <td>40</td>
              <td>Dulce María Navarro Huerta</td>
              <td>Centro de Justicia para las Mujeres, Tehuacán, Puebla</td>
              <td>Abogada</td>
              <td>licnava8@gmail.com </td>
              <td>2382114981</td>
            </tr>
            <tr>
              <td>41</td>
              <td>Licda. Zulema Casas Arvizu</td>
              <td>Centro de Justicia para las Mujeres, Querétaro</td>
              <td>Oficial Secretaría adscrita a la Coordinación General</td>
              <td>zcasas@queretaro.gob.mx</td>
              <td>442 303 22 60 al 62, Ext. 226</td>
            </tr>
            <tr>
              <td>42</td>
              <td>Lic. José Alberto Coba Puc</td>
              <td>Centro de Justicia para las Mujeres, Quintana Roo</td>
              <td>Perito en Psicología, área de célula de atención</td>
              <td>josh3_8@live.com.mx </td>
              <td>9838097003</td>
            </tr>
            <tr>
              <td>43</td>
              <td>Daniela Eugenia Olvera Rosillo</td>
              <td>Centro de Justicia para las Mujeres del Estado de San Luis Potosí</td>
              <td>Coordinadora de Empoderamiento y Unidad de Género</td>
              <td>dolvera.cjmslp@gmail.com</td>
              <td>4448332143 Ext 233</td>
            </tr>
            <tr>
              <td>44</td>
              <td>Mirna Yadira Castillo Ramírez</td>
              <td>Centro de Justicia para las Mujeres del Estado de San Luis Potosí</td>
              <td>Coordinación de Atención Integral</td>
              <td>mcastillo.cjmslp@gmail.com</td>
              <td>4448332143; Cel. 4441830862</td>
            </tr>
            <tr>
              <td>45</td>
              <td>Sandra Ávila Méndez</td>
              <td>Centro de Justicia para las Mujeres del Estado de San Luis Potosí sede Rioverde</td>
              <td>Coordinación de Atención Integral</td>
              <td>savila.cjmrioverde@gmail.com</td>
              <td>487 872 89 45 celular 444 314 6624  </td>
            </tr>
            <tr>
              <td>46</td>
              <td>Marlenne Meráz Acosta</td>
              <td>Centro de Justicia para las Mujeres del Estado de San Luis Potosí sede Matlapa</td>
              <td>Coordinación de Atención Integral</td>
              <td>mmeraz.cjmmatlapa@gmail.com</td>
              <td>483 364 03 87  celular 444 419 8158</td>
            </tr>
            <tr>
              <td>47</td>
              <td>Maribel González Coronado</td>
              <td>Centro de Justicia para las Mujeres del Estado de San Luis Potosí sede Matehuala</td>
              <td>Coordinación de Atención Integral</td>
              <td>mgonzalez.cjmmatehuala@gmail.com</td>
              <td>486 688 11 91</td>
            </tr>
            <tr>
              <td>48</td>
              <td>Lcda. Merle Dinora López Mariscal</td>
              <td>Centro de Justicia para las Mujeres del Estado de Sinaloa</td>
              <td>Jefa del Departamento de Atención Ciudadana</td>
              <td>cjmsinaloaatencion@gmail.com </td>
              <td>6676 882633<br>Cel.: 6674 125933</td>
            </tr>
            <tr>
              <td>49</td>
              <td>Dolores Carlota Sosa García</td>
              <td>Centro de Justicia para las Mujeres de Ciudad Obregón, Sonora</td>
              <td>Atención, acompañamiento</td>
              <td>genyca12@gmail.com</td>
              <td>6621272991</td>
            </tr>
            <tr>
              <td>50</td>
              <td>Fátima Jazmín Montiel Quintana</td>
              <td>Centro de Justicia Para las Mujeres de Hermosillo, Sonora </td>
              <td>FGJ-CJMH  </td>
              <td>fatymushis@gmail.com</td>
              <td>6622-88-08-32</td>
            </tr>
            <tr>
              <td>51</td>
              <td>Verónica Esther Domínguez Sifuentes</td>
              <td>Centro de justicia para las Mujeres Reynosa, Tamaulipas</td>
              <td>Analista en la Fiscalía Especializada en la Investigación de Delitos contra Niñas, Niños y Adolescentes y de Delitos contra las Mujeres por Razones de Género</td>
              <td>sifuentes.96@hotmail.com </td>
              <td>8341707111</td>
            </tr>
            <tr>
              <td>52</td>
              <td>Licda. Yanet Tlapapal Zacapa</td>
              <td>Centro de Justicia para las Mujeres del Estado de Tlaxcala</td>
              <td>Auxiliar jurídica</td>
              <td>Id.yanet-tz@hotmail.com</td>
              <td>2462163144</td>
            </tr>
            <tr>
              <td>53</td>
              <td>Lic. Paloma Hernández Salazar</td>
              <td>Centro de Justicia para las Mujeres del Estado de Veracruz</td>
              <td>titular de la Unidad de Género</td>
              <td>unidadgenerocejum@gmail.com</td>
              <td>2281350200 Ext. 8008</td>
            </tr>
            <tr>
              <td>54</td>
              <td>Fashion Berenice Albertos Monforte</td>
              <td>Centro de Justicia para las Mujeres de Yucatán</td>
              <td>Coordinadora del área de Psicología</td>
              <td>berenice.albertos@yucatan.gob.mx</td>
              <td>9992-92-01-13</td>
            </tr>
            <tr>
              <td>55</td>
              <td>María del Refugio Hernández Preciado</td>
              <td>Centro de Justicia para las Mujeres de Zacatecas</td>
              <td>Coordinadora de Asesoría Jurídica</td>
              <td>maria.hdz.preciado@gmail.com</td>
              <td>492136532</td>
            </tr>
            <tr>
              <td>56</td>
              <td>Licda. Julieta Palacios Muñoz</td>
              <td>Centro de Justicia para las Mujeres de Fresnillo, Zacatecas</td>
              <td>Psicología Clínica</td>
              <td>pmjulieta81@yahoo.com</td>
              <td>4931239498</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--
            <div class="col-lg-3">
                <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
            </div>
            -->

  </div>
</article>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>