<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
    <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
    <!--Galeria de Imagenes-->
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal">
                    <img src="assets/img/noticias/noticia26-Desarrollo-de-una-plataforma-de-diagnostico/img1-noticia26.png" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia26-Desarrollo-de-una-plataforma-de-diagnostico/img1-noticia26.png" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal2">
                    <img src="assets/img/noticias/noticia26-Desarrollo-de-una-plataforma-de-diagnostico/img5-noticia26.png" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia26-Desarrollo-de-una-plataforma-de-diagnostico/img5-noticia26.png" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal3">
                    <img src="assets/img/noticias/noticia26-Desarrollo-de-una-plataforma-de-diagnostico/img6-noticia26.png" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia26-Desarrollo-de-una-plataforma-de-diagnostico/img6-noticia26.png" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                <a href="" data-toggle="modal" data-target="#exampleModal4">
                    <img src="assets/img/noticias/noticia26-Desarrollo-de-una-plataforma-de-diagnostico/img9-noticia26.png" alt="" class="card-img-top">
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <img src="assets/img/noticias/noticia26-Desarrollo-de-una-plataforma-de-diagnostico/img9-noticia26.png" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!--Descripción del evento-->
        <div class="col-md-8">
            <article class="mt-4">
                <h3 class="text-center">Desarrollo de una plataforma de diagnóstico molecular de bajo costo para la detección
                    de patógenos</h3>
                <p class="text-right font-weight-bold font-italic">20 de marzo al 13 de abril de 2018 </p>
                <p class="font-weight-bold">El Instituto Curie (París, Fra.).</p>
                <p class="font-weight-normal">Existen diversos departamentos dentro del Instituto de Curie:</p>
                <ul>
                    <li>El departamento de preparación de muestras biológicas.</li>
                    <li>Departamento de procesamiento computacional.</li>
                    <li>Departamento de análisis de datos.</li>
                </ul>
                <p class="font-weight-normal">Los pacientes del Hospital Curie firman un acuerdo para compartir las muestras,
                    estudios y registros con el departamento de Investigación. El departamento dirigido por la Dra. Tatiana
                    se encarga de hacer el análisis de los datos obtenidos de dichos procedimientos de acuerdo al tipo de
                    cáncer que presentan los pacientes, los departamentos analizan un específico tipo de cáncer: de pulmón,
                    de mama, neuroblastoma, inmunología, etc. Los cuales implican importantes objetivos como:</p>
                <ul>
                    <li>Detectar las aberraciones o cambios en el ADN con respecto a una célula sana de referencia.</li>
                    <li>Clasificar dichos cambios para hacer el diagnóstico y determinar el tratamiento adecuado.</li>
                    <li>Determinar si existen nuevos avances en el comportamiento o propagación de la enfermedad.</li>
                </ul>
                <p class="font-weight-normal">El instituto posee alianzas con importantes compañías farmacéuticas, tales
                    como BMS, Roche, Janssen, las cuales proporcionan medicamentos experimentales para combatir distintos
                    padecimientos ‘in vitro’, además auxilia financieramente becas e incentivos a estudiantes dedicados a
                    investigaciones de interés para estas compañías</p>
                <p>Durante la estancia se pudieron asistir algunas conferencias, exhibiciones y presentaciones de trabajos
                    que se realizan en el instituto.</p>
                <p class="font-weight-bold">Proyecto: <span class="font-weight-light">Prototipo de dispositivo para el diagnóstico
                        de patógenos.</span></p>
                <p>El proyecto consiste en desarrollar un dispositivo capaz de diagnosticar de forma precisa distintos patógenos,
                    esto en base a lo que comercialmente se conoce como un termociclador, en general el equipo de la Dra.
                    Tatiana no se dedica a la realización de este tipo de aparatos ni su uso. Una vez que los termocicladores
                    realizan el análisis de las muestras, proporcionan ciertos datos los cuales son analizados por la Dra.
                    y su equipo de trabajo.</p>
                <p>Un termociclador tiempo real, es un dispositivo que puede procesar varias muestras biológicas, sometiéndolas
                    a ciclos de temperatura muy precisos y por tiempos exactos, y al mismo tiempo puede excitar las muestras
                    con luz a una determinada longitud de onda y leer la luz emitida por la muestra (usando un arreglo de
                    filtros ópticos y foto detectores). Finalmente, al biólogo que esté usando el dispositivo, en este caso
                    sería la DRA, se le presenta en pantalla un conjunto de gráficas de "ciclos vs luminiscencia de las muestras",
                    lo que le permite determinar el grado de contaminación viral de las muestras.</p>
                <p>Durante la estancia se desarrolló la investigación para conformar el diseño del aparato donde se concluye
                    que el termociclador que se desarrollará será un dispositivo mecatrónica que integra:</p>
                <ul>
                    <li>Control de temperatura.</li>
                    <li>Control de ciclos de temperatura (tiempos).</li>
                    <li>Control de movimiento (rotación).</li>
                    <li>Instrumentación de señales ópticas (sensores, amplificación, acondicionamiento/filtrado, conversión
                        A/D, etc.).</li>
                    <li>Procesamiento de señales (en hardware y/o software). </li>
                    <li>Comunicación con host (USB, bluetooth, Wi-Fi, etc.).</li>
                    <li>Interfaz de usuario (diseño de protocolos de reacción, despliegue de resultados de diagnóstico, etc.).</li>
                </ul>
                <p>Posteriormente se deberá construir el dispositivo termociclador que se apegue a características solicitadas
                    por el departamento. En el mercado existen estos termocicladores, sin embargo son costosos y poco accesibles.</p>
            </article>
            <!--Fin Descripción del evento-->
        </div>
        <div class="col-md-4">
            <app-noticias-destacadas></app-noticias-destacadas>
        </div>
    </div>
</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>