<title>UTS | Directorio</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Directorio</h2>
            </div>
            <div class="col-lg-4">
                <nav aria-label="breadcrumb" class="bg-transparent">
                    <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Universidad</li>
                        <li class="breadcrumb-item active" aria-current="page">Directorio</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row mb-3">
                    <!--
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Buscar</span>
                            </div>
                            <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control"
                                aria-label="Default" aria-describedby="inputGroup-sizing-default"
                                placeholder="EXT, PUESTO, DPTO">
                        </div>
                    </div>
                    -->
                    <div class="col-sm text-center">
                        <h4>Tel: 01 (464) 647 38 61</h4>
                    </div>
                </div>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Rectoría</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse show in">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Puesto</th>
                                                <th scope="col">Área</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">100</td>
                                                <td>Asistente de Rectoría</td>
                                                <td>Rectoría</td>
                                                <td>La asistente de Rectoría es quien da atención a la agenda de
                                                    actividades del Rector.
                                                </td>
                                                <td>aaldaco@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">101</td>
                                                <td>Rector</td>
                                                <td>Rectoría</td>
                                                <td>Dirigir el funcionamiento de la Universidad Tecnológica de
                                                    Salamanca, vigilando el
                                                    cumplimiento de su objeto, así como la correcta operación de las
                                                    diversas áreas que
                                                    la integran.</td>
                                                <td>alopez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">102</td>
                                                <td>Encargada en Materia de Archivo</td>
                                                <td>Rectoría</td>
                                                <td>Vigilar que las actividades de organización y descripción documental
                                                    se lleven a
                                                    cabo conforme a los principios de archivonomía.</td>
                                                <td>mnegrete@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">105</td>
                                                <td>Asesoría Jurídica</td>
                                                <td>Rectoría</td>
                                                <td>Atender y asesorar en los asuntos legales de la Universidad, para
                                                    salvaguardar su
                                                    patrimonio, así como brindar asesoría jurídica a las diversas
                                                    unidades
                                                    administrativas que la conforman y dictaminar los documentos legales
                                                    que procedan.
                                                </td>
                                                <td>jsandoval@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 1 end-->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion"
                                    href="#collapseTwo"> Coordinación Académica</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Puesto</th>
                                                <th scope="col">Área</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">115</td>
                                                <td>Coordinador Académico</td>
                                                <td>Coordinación Académica</td>
                                                <td>Dirigir, controlar y supervisar el proceso educativo de acuerdo a
                                                    las
                                                    características del modelo educativo de la Universidad.</td>
                                                <td>coord.academica@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">116</td>
                                                <td>Asistente de Coordinación Académica</td>
                                                <td>Coordinación Académica</td>
                                                <td>La asistente de Coordinación Académica es quien da atención a la
                                                    agenda de
                                                    actividades del Coordinador Académico.</td>
                                                <td>asistente.coa@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">117</td>
                                                <td>Encargada de la Dirección de ADM e IDIE</td>
                                                <td>Coordinación Académica</td>
                                                <td>Organizar cuatrimestralmente, en coordinación con el personal a su
                                                    cargo, los
                                                    horarios,la integración de grupos y la distribución de espaciospara
                                                    la atención de
                                                    los alumnos en cada periodo.</td>
                                                <td>dir.admin@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">118</td>
                                                <td>Asistente Carrera Administración</td>
                                                <td>Coordinación Académica</td>
                                                <td>La asistente de Carrera Administración es quien da atención a la
                                                    agenda de
                                                    actividades de la Encargada de la Dirección de ADM e IDIE.</td>
                                                <td>asistente.adm@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">119</td>
                                                <td>Encargado de la Dirección de PIA, MET, IMET e ISIP</td>
                                                <td>Coordinación Académica</td>
                                                <td>Organizar cuatrimestralmente, en coordinación con el personal a su
                                                    cargo, los
                                                    horarios,la integración de grupos y la distribución de espaciospara
                                                    la atención de
                                                    los alumnos en cada periodo.</td>
                                                <td>vcisneros@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">120</td>
                                                <td>Asistente Carrera de PIA, MET, IMET e ISIP</td>
                                                <td>Coordinación Académica</td>
                                                <td>La asistente de Carrera de PIA, MET, IMET e ISIP es quien da
                                                    atención a la agenda de
                                                    actividades del Encargado de la Dirección de PIA, MET, IMET e ISIP.
                                                </td>
                                                <td>asistente.metpia@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">121</td>
                                                <td>Encargado de la Dirección de QAM, QAI, ERC</td>
                                                <td>Coordinación Académica</td>
                                                <td>Organizar cuatrimestralmente, en coordinación con el personal a su
                                                    cargo, los
                                                    horarios,la integración de grupos y la distribución de espaciospara
                                                    la atención de
                                                    los alumnos en cada periodo.</td>
                                                <td>ovargas@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">122</td>
                                                <td>Asistente Carrera de QAM, QAI, ERC</td>
                                                <td>Coordinación Académica</td>
                                                <td>La asistente de Asistente Carrera de QAM, QAI, ERC es quien da
                                                    atención a la agenda
                                                    de actividades del Encargado de la Dirección de QAM, QAI, ERC.</td>
                                                <td>asistente.quimica@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">127</td>
                                                <td>Técnico Bibliotecario</td>
                                                <td>Coordinación Académica</td>
                                                <td>Apoya a los estudiantes que necesitan libros en forma física o
                                                    digital.</td>
                                                <td>tcano@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">128</td>
                                                <td>Coordinador de Talleres y Laboratorios</td>
                                                <td>Coordinación Académica</td>
                                                <td>Mantener en funcionamiento los equipos de los talleres y
                                                    laboratorios.</td>
                                                <td>sfruiz@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">130</td>
                                                <td>Jefa de oficina de atención Psicopedagogica</td>
                                                <td>Coordinación Académica</td>
                                                <td>Realiza los exámenes psicométricos a los estudiantes.</td>
                                                <td>asantana@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">131</td>
                                                <td>Jefa de oficina de atención Psicopedagogica</td>
                                                <td>Coordinación Académica</td>
                                                <td>Realiza los exámenes psicométricos a los estudiantes.</td>
                                                <td>mvargas@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 2 end-->


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion"
                                    href="#collapseThree"> Vinculación y Extensión Universitaria</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Puesto</th>
                                                <th scope="col">Área</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">132</td>
                                                <td>Analista administrativo en Cultura y Deportes</td>
                                                <td>Dirección de Vinculación y Extensión Universitaria</td>
                                                <td>Fomentar entre la comunidad universitaria, la integración a la
                                                    cultura y el deporte.
                                                </td>
                                                <td>acabrera@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">164</td>
                                                <td>Encubadora de Negocios y Gimnasio Practicum</td>
                                                <td>Dirección de Vinculación y Extensión Universitaria</td>
                                                <td>Coordinar el apoyo a los estudiantes en el desarrollo de los
                                                    proyectos para que
                                                    realicen su modelo de negocios.</td>
                                                <td>aurodriguez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">165</td>
                                                <td>Director de Vinculación Universitaria</td>
                                                <td>Dirección de Vinculación y Extensión Universitaria</td>
                                                <td>Promover, establecer y mantener la vinculación técnica y académica
                                                    de la Universidad
                                                    con los sectores productivo y social.</td>
                                                <td>vinculacion.director@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">166</td>
                                                <td>Asistente Dirección de Vinculación Universitaria</td>
                                                <td>Dirección de Vinculación y Extensión Universitaria</td>
                                                <td>La asistente de Dirección de Vinculación es quien da atención a la
                                                    agenda de
                                                    actividades del Director de Vinculación Universitaria.</td>
                                                <td>lnava@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">166</td>
                                                <td>Jefe de Oficina de Prensa, Promoción y Difusión</td>
                                                <td>Dirección de Vinculación y Extensión Universitaria</td>
                                                <td>Desarrolla estrategias de promoción y difusión.</td>
                                                <td>apguzman@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">168</td>
                                                <td>Jefa de departamento de Vinculación Universitaria</td>
                                                <td>Dirección de Vinculación y Extensión Universitaria</td>
                                                <td>Apoya al alumno en su proceso de estadía. Desarrollar estrategias de
                                                    vinculación
                                                    entre la universidad y los sectores productivo y social para
                                                    promover la inserción
                                                    laboral de los egresados.</td>
                                                <td>palfaro@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">168</td>
                                                <td>Jefa de Oficina de Enseñanza Práctica y Seguimiento a Egresados</td>
                                                <td>Dirección de Vinculación y Extensión Universitaria</td>
                                                <td>Apoya con la parte operativa de las estadías, bolsa de empleo y el seguimiento a egresados.</td>
                                                <td>visitayestadia@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">171</td>
                                                <td>Coordinadora de Educación Continua y Servicios Tecnológicos</td>
                                                <td>Dirección de Vinculación y Extensión Universitaria</td>
                                                <td>Ofertar servicios tecnológicos y de educación continua, con base a
                                                    las necesidades
                                                    de los alumnos, egresados y público en general.</td>
                                                <td>mgutierrez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">173</td>
                                                <td>Jefa de departamento del CELE</td>
                                                <td>Dirección de Vinculación y Extensión Universitaria</td>
                                                <td>Brindar el servicio de enseñanza de diversos idiomas tanto a la
                                                    comunidad
                                                    universitaria como a la sociedad en general.</td>
                                                <td>celeuts@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 3 end-->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion"
                                    href="#collapseFour"> Planeación y Evaluación</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Puesto</th>
                                                <th scope="col">Área</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">125</td>
                                                <td>Jefa de Departamento de Servicios Escolares</td>
                                                <td>Dirección de Planeación y Evaluación</td>
                                                <td>Controlar las actividades derivadas del ingreso, permanencia, egreso
                                                    y control de
                                                    los estudiantes de la Universidad conforme a la normatividad
                                                    aplicable.</td>
                                                <td>gramirez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">126</td>
                                                <td>Analista administrativo de Servicios Escolares</td>
                                                <td>Dirección de Planeación y Evaluación</td>
                                                <td>Vigilar que los aspirantes a ingresar a la Universidad cumplan con
                                                    los requisitos
                                                    establecidos y que los estudiantes cumplan con lo relativo a las
                                                    inscripciones y
                                                    reinscripciones.</td>
                                                <td>a.serviciosescolares3@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">175</td>
                                                <td>Director de Planeación y Evaluación</td>
                                                <td>Dirección de Planeación y Evaluación</td>
                                                <td>Coordinar yadministrar los programas, planes y proyectos de
                                                    desarrollo
                                                    institucional, considerando acciones que permitan aprovechar
                                                    racionalmente los
                                                    recursos con que cuenta la Universidad.</td>
                                                <td>asanchez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">176</td>
                                                <td>Asistente Planeación y Evaluación</td>
                                                <td>Dirección de Planeación y Evaluación</td>
                                                <td>La asistente de Planeación y Evaluación es quien da atención a la
                                                    agenda de
                                                    actividades del Director de Planeación y Evaluación.</td>
                                                <td>asistente.planeacion@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">177</td>
                                                <td>Jefa de departamento de Programación y Evaluación</td>
                                                <td>Dirección de Planeación y Evaluación</td>
                                                <td>Actualizar y organizar la información estadística para apoyar la
                                                    toma de decisiones
                                                    de los diferentes niveles de mando, en el desarrollo de programas y
                                                    proyectos
                                                    institucionales a corto, mediano y largo plazo.</td>
                                                <td>lgutierrez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">179</td>
                                                <td>Departamento de Tecnologías de la Información</td>
                                                <td>Dirección de Planeación y Evaluación</td>
                                                <td>Apoyar a los estudiantes, docentes y personal administrativo en el
                                                    uso de las
                                                    plataformas SITO, MOODLE y Microsoft Office 365.</td>
                                                <td>ltorres@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">180</td>
                                                <td>Jefa de Oficina del Sistema de Gestión de Calidad</td>
                                                <td>Dirección de Planeación y Evaluación</td>
                                                <td>Asegurar que los documentos del sistema de gestión de la calidad se
                                                    encuentren
                                                    actualizados y disponibles.</td>
                                                <td>jo.sgc@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 4 end-->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion"
                                    href="#collapseFive"> Administración y Finanzas</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Puesto</th>
                                                <th scope="col">Área</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">103</td>
                                                <td>Director de Administración y Finanzas</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Administrar los recursos humanos, materiales y financieros asignados
                                                    a la
                                                    Universidad, así como los asuntos en materia jurídica, de
                                                    conformidad con la
                                                    normatividad aplicable.</td>
                                                <td>dir.finanzas@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">104</td>
                                                <td>Asistente de Administración y Finanzas</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>La asistente de Administración y Finanzas es quien da atención a la
                                                    agenda de
                                                    actividades del Director de Administración y Finanzas.</td>
                                                <td>xmartinez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">106</td>
                                                <td>Jefa de Departamento de Finanzas</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Planear, organizar y controlar el presupuesto institucional y los
                                                    recursos
                                                    financieros de la Universidad, así como recibir, registrar y
                                                    controlar los ingresos,
                                                    en estricto apegoa la normatividad y procedimientos aplicables.</td>
                                                <td>pnava@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">107</td>
                                                <td>Jefe de Departamento de Recursos Humanos</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Coordinar y supervisar la administración de los recursos humanos de
                                                    la Universidad,
                                                    en el marco de la normatividad establecida para tal fin, a nivel
                                                    estatal y federal.
                                                </td>
                                                <td>recursos.humanos@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">108</td>
                                                <td>Jefa de Oficina de Adquisiciones</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Realiza las compras de materiales que requiere el personal
                                                    administrativo y docente.
                                                </td>
                                                <td>cpalma@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">109</td>
                                                <td>Jefe de Oficina de Servicios Generales</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Realizar el inventario de los bienes de la Universidad.</td>
                                                <td>jo.servgen@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">110</td>
                                                <td>Analista Administrativo de Recursos Humanos</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Realizar las convocatorias y entrevistas de trabajo para los puestos
                                                    vacantes.</td>
                                                <td>agallardo@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">111</td>
                                                <td>Coordinador de Infraestructura y Mantenimiento</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Encargado de mantener en buen estado la infraestructura de la
                                                    Universidad. </td>
                                                <td>iflores@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">112</td>
                                                <td>Técnico Contable</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>El Técnico Contable se encarga de recibir pagos.</td>
                                                <td>erabago@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">129</td>
                                                <td>Jefa de Oficina de Becas</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Apoya a los estudiantes en el proceso para tener una beca.</td>
                                                <td>dvargas@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">169</td>
                                                <td>Jefa de departamento de Servicios Médicos</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Atender y mejorar la salud física de los integrantes de la UTS.</td>
                                                <td>cjuarez@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 5 end-->

                </div>
                <!--/ Accordion end -->
            </div>
            <!--
            <div class="col-lg-3">
                <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
            </div>
            -->
        </div>
    </div>
</article>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>