<title>UTS | Directorio</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Directorio</h2>
            </div>
            <div class="col-lg-4">
                <nav aria-label="breadcrumb" class="bg-transparent">
                    <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Universidad</li>
                        <li class="breadcrumb-item active" aria-current="page">Directorio</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row mb-3">
                    <!--
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Buscar</span>
                            </div>
                            <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control"
                                aria-label="Default" aria-describedby="inputGroup-sizing-default"
                                placeholder="EXT, PUESTO, DPTO">
                        </div>
                    </div>
                    -->
                    <div class="col-sm text-center">
                        <h4>Tel: 464 643 52 00</h4>
                    </div>
                </div>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Rectoría</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse show in">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Atiende</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">5202 <br> 5230</td>
                                                <td>Rectoría</td>
                                                <td>Dirigir el funcionamiento de la Universidad Tecnológica de
                                                    Salamanca, vigilando el
                                                    cumplimiento de su objeto, así como la correcta operación de las
                                                    diversas áreas que
                                                    la integran.</td>
                                                <td>rloredo@utsalamanca.edu.mx <br> rectoria@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5231</td>
                                                <td>Archivo</td>
                                                <td>Vigilar que las actividades de organización y descripción documental
                                                    se lleven a
                                                    cabo conforme a los principios de archivonomía.</td>
                                                <td>mnegrete@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5203</td>
                                                <td>Jurídico</td>
                                                <td>Atender y asesorar en los asuntos legales de la Universidad, para
                                                    salvaguardar su
                                                    patrimonio, así como brindar asesoría jurídica a las diversas
                                                    unidades
                                                    administrativas que la conforman y dictaminar los documentos legales
                                                    que procedan.
                                                </td>
                                                <td>svegas@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 1 end-->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion"
                                    href="#collapseTwo"> Coordinación Académica</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Atiende</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">5223 <br> 5251</td>
                                                <td>Coordinación Académica. <br> Dirección de Carrera de Tecnologías de la Información.</td>
                                                <td>Dirigir, controlar y supervisar el proceso educativo de acuerdo a
                                                    las
                                                    características del modelo educativo de la Universidad.</td>
                                                <td>asistente.coa@utsalamanca.edu.mx <br> coord.academica@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5224 <br> 5235</td>
                                                <td>Dirección de Carrera Áreas Administración y Capital Humano</td>
                                                <td>Organizar cuatrimestralmente, en coordinación con el personal a su
                                                    cargo, los
                                                    horarios,la integración de grupos y la distribución de espaciospara
                                                    la atención de
                                                    los alumnos en cada periodo.</td>
                                                <td>asistente.adm@utsalamanca.edu.mx <br> dir.admin@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5225 <br> 5236</td>
                                                <td>Dirección de Carrera Áreas Industrial y Automatización</td>
                                                <td>Organizar cuatrimestralmente, en coordinación con el personal a su
                                                    cargo, los
                                                    horarios,la integración de grupos y la distribución de espaciospara
                                                    la atención de
                                                    los alumnos en cada periodo.</td>
                                                <td>pia.asistente@utsalamanca.edu.mx <br> vcisneros@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5226 <br> 5237</td>
                                                <td>Dirección de Carrera Áreas Química y Energías </td>
                                                <td>Organizar cuatrimestralmente, en coordinación con el personal a su
                                                    cargo, los
                                                    horarios,la integración de grupos y la distribución de espaciospara
                                                    la atención de
                                                    los alumnos en cada periodo.</td>
                                                <td>asistente.quimica@utsalamanca.edu.mx <br> ovargas@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5245</td>
                                                <td>Biblioteca</td>
                                                <td>Apoya a los estudiantes que necesitan libros en forma física o
                                                    digital.</td>
                                                <td>tcano@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5253</td>
                                                <td>Talleres Industriales</td>
                                                <td>Mantener en funcionamiento los equipos de los talleres.</td>
                                                <td>lgonzalez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5254</td>
                                                <td>Laboratorios de Química <br> Taller de Energía</td>
                                                <td>Mantener en funcionamiento los equipos de los laboratorios y talleres.</td>
                                                <td>labtalleres.quimica@utsalamanca.edu.mx <br> labtalleres.quimica.02@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5228</td>
                                                <td>Laboratorios de Informática</td>
                                                <td>Mantener en funcionamiento los equipos de los laboratorios.</td>
                                                <td>amceron@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5247 <br> 5246</td>
                                                <td>Psicopedagogico</td>
                                                <td>Realiza los exámenes psicométricos a los estudiantes.</td>
                                                <td>mvargas@utsalamanca.edu.mx <br> asantana@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 2 end-->


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion"
                                    href="#collapseThree"> Vinculación y Extensión Universitaria</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Atiende</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">5205 <br> 5206 <br> 5232</td>
                                                <td>Dirección de Vinculación Universitaria</td>
                                                <td>Promover, establecer y mantener la vinculación técnica y académica
                                                    de la Universidad
                                                    con los sectores productivo y social.</td>
                                                <td>asistente.vinculacion@utsalamanca.edu.mx <br> palfaro@utsalamanca.edu.mx <br> lvaldes@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5239</td>
                                                <td>Cultura y Deportes</td>
                                                <td>Fomentar entre la comunidad universitaria, la integración a la
                                                    cultura y el deporte.
                                                </td>
                                                <td>acabrera@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5240</td>
                                                <td>Emprendimiento</td>
                                                <td>Coordinar el apoyo a los estudiantes en el desarrollo de los
                                                    proyectos para que
                                                    realicen su modelo de negocios.</td>
                                                <td>coord.extuniversitaria@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5210</td>
                                                <td>Prensa, Promoción y Difusión</td>
                                                <td>Desarrolla estrategias de promoción y difusión.</td>
                                                <td>apguzman@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5207</td>
                                                <td>Seguimiento a Egresados</td>
                                                <td>Apoya con la parte operativa de las estadías, bolsa de empleo y el seguimiento a egresados.</td>
                                                <td>visitayestadia@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5209</td>
                                                <td>Educación Continua y Servicios Tecnológicos</td>
                                                <td>Ofertar servicios tecnológicos y de educación continua, con base a
                                                    las necesidades
                                                    de los alumnos, egresados y público en general.</td>
                                                <td>mgutierrez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5208</td>
                                                <td>Centro de Lenguas</td>
                                                <td>Brindar el servicio de enseñanza de diversos idiomas tanto a la
                                                    comunidad
                                                    universitaria como a la sociedad en general.</td>
                                                <td>celeuts@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5214</td>
                                                <td>Servicios Médicos</td>
                                                <td>Atender y mejorar la salud física de los integrantes de la UTS.</td>
                                                <td>cjuarez@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 3 end-->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion"
                                    href="#collapseFour"> Planeación y Evaluación</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Atiende</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">5222 <br> 5234</td>
                                                <td>Dirección de Planeación y Evaluación</td>
                                                <td>Coordinar yadministrar los programas, planes y proyectos de
                                                    desarrollo
                                                    institucional, considerando acciones que permitan aprovechar
                                                    racionalmente los
                                                    recursos con que cuenta la Universidad.</td>
                                                <td>asistente.planeacion@utsalamanca.edu.mx <br> asanchez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5219 <br> 5221 <br> 5229</td>
                                                <td>Servicios Escolares</td>
                                                <td>Controlar las actividades derivadas del ingreso, permanencia, egreso
                                                    y control de
                                                    los estudiantes de la Universidad conforme a la normatividad
                                                    aplicable.</td>
                                                <td>a.serviciosescolares3@utsalamanca.edu.mx <br> a.serviciosescolares1@utsalamanca.edu.mx <br> gramirez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5218</td>
                                                <td>Programación y Evaluación</td>
                                                <td>Actualizar y organizar la información estadística para apoyar la
                                                    toma de decisiones
                                                    de los diferentes niveles de mando, en el desarrollo de programas y
                                                    proyectos
                                                    institucionales a corto, mediano y largo plazo.</td>
                                                <td>lgutierrez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5228 <br> 5250 <br> 5220</td>
                                                <td>Tecnologías de la Información</td>
                                                <td>Apoyar a los estudiantes, docentes y personal administrativo en el
                                                    uso de las
                                                    plataformas institucionales.</td>
                                                <td>amceron@utsalamanca.edu.mx <br>jrazo@utsalamanca.edu.mx <br> ltorres@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5249</td>
                                                <td>Sistema de Gestión de Calidad</td>
                                                <td>Asegurar que los documentos del sistema de gestión de la calidad se
                                                    encuentren
                                                    actualizados y disponibles.</td>
                                                <td>jo.sgc@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 4 end-->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#accordion"
                                    href="#collapseFive"> Administración y Finanzas</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="datos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Ext</th>
                                                <th scope="col">Atiende</th>
                                                <th scope="col">Trámites Y Servicios</th>
                                                <th scope="col">Correo Electrónico</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold">5201 <br> 5211 <br> 5233</td>
                                                <td>Dirección de Administración y Finanzas</td>
                                                <td>Administrar los recursos humanos, materiales y financieros asignados
                                                    a la
                                                    Universidad, así como los asuntos en materia jurídica, de
                                                    conformidad con la
                                                    normatividad aplicable.</td>
                                                <td>xmartinez@utsalamanca.edu.mx <br> zcampos@utsalamanca.edu.mx <br> ivazquez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5217 <br>5244 <br> 5243</td>
                                                <td>Recursos Humanos</td>
                                                <td>Coordinar y supervisar la administración de los recursos humanos de
                                                    la Universidad,
                                                    en el marco de la normatividad establecida para tal fin, a nivel
                                                    estatal y federal.
                                                </td>
                                                <td>analista.rh@utsalamanca.edu.mx <br> aaldaco@utsalamanca.edu.mx <br> yhernandez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5212</td>
                                                <td>Adquisiciones</td>
                                                <td>Realiza las compras de materiales que requiere el personal
                                                    administrativo y docente.
                                                </td>
                                                <td>cpalma@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5241</td>
                                                <td>Infraestructura y Mantenimiento</td>
                                                <td>Encargado de mantener en buen estado la infraestructura de la
                                                    Universidad. </td>
                                                <td>iflores@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5215 <br> 5216</td>
                                                <td>Contabilidad</td>
                                                <td>El Técnico Contable se encarga de recibir pagos.</td>
                                                <td>erabago@utsalamanca.edu.mx <br> amelendez@utsalamanca.edu.mx</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">5213</td>
                                                <td>Becas</td>
                                                <td>Apoya a los estudiantes en el proceso para tener una beca.</td>
                                                <td>dvargas@utsalamanca.edu.mx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Panel 5 end-->

                </div>
                <!--/ Accordion end -->
            </div>
            <!--
            <div class="col-lg-3">
                <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
            </div>
            -->
        </div>
    </div>
</article>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
