<title>UTS | Reconocimientos</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Reconocimientos</h2>
    </div>
    <div class="col-md-6">
      <nav aria-label="breadcrumb" class="bg-transparent">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Universidad</li>
          <li class="breadcrumb-item active" aria-current="page">Reconocimientos</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>
<article>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Reconocimiento</th>
            <th scope="col">Descripción</th>
            <th scope="col">Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Idea GTO</th>
            <td>Sustentabilidad Energética 2021.</td>
            <td class="text-center"><a href="assets/content/reconocimientos/Reconocimiento_sustentabilidad_energetica_2021_uts.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
          </tr>
          <tr>
            <th scope="row">CMAPAS</th>
            <td>Profesionalismo, Compromiso e Interés en la "Cultura del Agua".</td>
            <td class="text-center"><a href="assets/content/reconocimientos/RECONOCIMIENTO_CMAPAS.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
          </tr>
          <tr>
            <th scope="row">SEP</th>
            <td>Por Consolidarse como una Institución Sobresaliente en los Esfuerzos de Evaluación Externa y Acreditación.</td>
            <td class="text-center"><a href="assets/content/reconocimientos/Reconocimiento_SEP_Oficio_Num_500-2018-1820.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
          </tr>
          <tr>
            <th scope="row">ANUT</th>
            <td>Por Consolidarse como una Institución Ejemplar en los Esfuerzos de Evaluación Externa y Acreditación.</td>
            <td class="text-center"><a href="assets/content/reconocimientos/Reconocimiento_ANUT_2018.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
          </tr>
          <tr>
            <th scope="row">CIEES</th>
            <td>Por Haber Obtenido el Nivel 1 al Programa Educativo Técnico Superior Universitario en Química, Área Tecnología Ambiental.</td>
            <td class="text-center"><a href="assets/content/reconocimientos/CG-2018-239-REC.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
          </tr>
          <tr>
            <th scope="row">CACECA</th>
            <td>Se Acredita al Programa Educativo Técnico Superior Universitario en Administración, Área Recursos Humanos.</td>
            <td class="text-center"><a href="assets/content/reconocimientos/Acreditacion_CACECA.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
          </tr>
          <tr>
            <th scope="row">BRITISH COUNCIL</th>
            <td>UTS Forma Parte de la Red de Centros de Exámenes del British Council México.</td>
            <td class="text-center"><a href="assets/content/reconocimientos/Autorizacion_British.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
          </tr>
          <tr>
            <th scope="row">CONOCER</th>
            <td>Expide la Cédula de Acreditación como Entidad de Certificación y Evaluación.</td>
            <td class="text-center"><a href="assets/content/reconocimientos/Cedula_CONOCER.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
          </tr>
          <tr>
            <th scope="row">CONACYT</th>
            <td>Otorga la Constancia de Inscripción.</td>
            <td class="text-center"><a href="assets/content/reconocimientos/Constancia_RENACYT.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</div>
</article>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>