<title>UTS | Contraloría Social</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Contraloría Social</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Transparencia</li>
            <li class="breadcrumb-item active" aria-current="page">Contraloría Social</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="contraloria-social">
  <div class="row">
    <div class="col-md-9">
      <img src="assets/content/contraloria-social/2024/logo-contraloria-socialf-01.jpg" class="img-fluid mb-4"
        alt="Contraloría Social">

      <h2 class="text-center">Quejas y Denuncias</h2>

      <p><strong>Objetivos:</strong> Atender e investigar las quejas y denuncias presentadas sobre la aplicación y
        ejecución de los programas, emitir informes sobre el desempeño de los programas y ejecución de los recursos
        públicos y vigilar el ejercicio de los recursos públicos y la aplicación de los programas de desarrollo social
        conforme a la Ley y a las reglas de operación.</p>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="section">
            <h3>Mecanismos de la Secretaría de la Función Pública</h3>
            <div class="media">
              <img src="assets/img/contraloria-social/browser_2742197.png" class="mr-3" alt="">
              <div class="media-body">
                <p>A través del Sistema Integral de Denuncias Ciudadanas (SIDEC) en la liga <a
                    href="https://sidec.funcionpublica.gob.mx" target="_blank">https://sidec.funcionpublica.gob.mx</a>
                  las 24
                  horas del día, los 365 días del año.</p>
              </div>
            </div>
            <div class="media">
              <img src="assets/img/contraloria-social/telephone_1104586.png" class="mr-3" alt="">
              <div class="media-body">
                <p>En caso de requerir asesoría en la presentación de denuncias, podrán comunicarse a los teléfonos 55 2000
                  2000 y el número gratuito 800 112 87 00.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
          <div class="section">
            <h3>En la Instancia Normativa</h3>
            <div class="media">
              <img src="assets/img/contraloria-social/Iconsmind-Outline-Mail-Open.64.png" class="mr-3" alt="">
              <div class="media-body">
                <p>Correo electrónico especial: <a
                  href="mailto:quejas_denuncias@nube.sep.gob.mx">quejas_denuncias@nube.sep.gob.mx</a> y Órgano Interno de
                Control: <a href="mailto:quejas@nube.sep.gob.mx">quejas@nube.sep.gob.mx</a>, con el objeto de facilitar a
                los miembros de las comunidades universitarias y población en general, la emisión de preguntas y
                sugerencias
                o, en su caso, inconformidades sobre el desarrollo de los proyectos apoyados con recursos del programa.
              </p>
              </div>
            </div>
            <div class="media">
              <img src="assets/img/contraloria-social/telephone_466105.png" class="mr-3" alt="">
              <div class="media-body">
                <p>Telefónicamente al número 55 36 01 86 50.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sección</th>
              <th scope="col">Información</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>I. Documentos</th>
              <td>
                <a href="assets/content/contraloria-social/2024/DOC_NORMATIVOS/Esquema_U006.pdf" class="btn btn-link"
                  target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 1. Esquema de Contraloría Social
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/DOC_NORMATIVOS/Guia_Operativa_U006.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 2. Guía Operativa
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/DOC_NORMATIVOS/PATCS_U006.pdf" class="btn btn-link"
                  target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 3. Programa Anual de Trabajo de Contraloría Social (PATCS)
                </a>
              </td>
            </tr>
            <tr>
              <th>II. Formatos</th>
              <td>
                <a href="assets/content/contraloria-social/2024/FORMATOS/Anexo 3 Minuta de Reuión.docx"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 1. Minuta de Reunión
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/FORMATOS/Anexo 1 Aca de registro.docx"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 2. Acta de Registro de CCS
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/FORMATOS/Anexo 2 Acta de Sustitucion.docx"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 3. Acta de sustitución de un integrante de CCS
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/FORMATOS/Anexo 4 Informe del CCS.xlsx"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 4. Informe del Comité de CS
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/FORMATOS/Cédula de quejas y denuncias.docx"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 5. Cédula de Quejas y Denuncias
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/FORMATOS/Control de Quejas y Denuncias.docx"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 6. Control de Quejas y Denuncias
                </a>
              </td>
            </tr>
            <tr>
              <th>III. Normatividad</th>
              <td>
                <a href="assets/content/contraloria-social/2024/NORMATIVIDAD/Reg_LGDS.pdf" class="btn btn-link"
                  target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 1. Reglas de Operación
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/NORMATIVIDAD/LINEAMIENTOS PARA LA PROOPYSEG DE CS 2023.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 2. Lineamientos para la promoción y operación de la
                  Contraloría Social en los programas federales de desarrollo social, emitidos por la Secretaría de la
                  Función Pública (SFP), el 11 de octubre de 2023
                </a>
              </td>
            </tr>
            <tr>
              <th>IV. Material de Difusión</th>
              <td>
                <a href="assets/content/contraloria-social/2024/MATERIALES_DE_DIFUSION/Triptico-Contraloria-Social-U006-2025.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 1. Tríptico Contraloría Social U006 2025 Instancia Normativa
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/MATERIALES_DE_DIFUSION/Convocatoria CS U006 2024.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 2. Instancia Ejecutora
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/MATERIALES_DE_DIFUSION/Cartel-de-Contraloria-Social-2025-U006.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 3. Cartel de Contraloría Social 2025 U006
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/MATERIALES_DE_DIFUSION/Proceso-de-Contraloria-Social-U006-2025.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 4. Proceso de Contraloría Social U006 2025
                </a>
              </td>
            </tr>
            <tr>
              <th>V. Material de Capacitación</th>
              <td>
                <a href="assets/content/contraloria-social/2024/MATERIAL_DE_CAPACITACION/Presentacion_de_Contraloría_Social_U006_2025.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 1. Presentación de la Instancia Normativa 2025 U006
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/MATERIAL_DE_CAPACITACION/Presentación Formatos.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 2. Presentación de la Instancia Ejecutora
                </a>
              </td>
            </tr>
            <tr>
              <th>VI. Directorio</th>
              <td>
                <!-- <a href="assets/content/contraloria-social/2024/DIRECTORIO/DGUTyP U006 CS.pdf" class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 1. Instancia Normativa
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/DIRECTORIO/doc" class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 2. Instancia ejecutora
                </a>
                <br> -->
                <a href="assets/content/contraloria-social/2024/DIRECTORIO/DGUTyP U006 CS.pdf" class="btn btn-link"
                  target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 3. Responsables de la Contraloría Social
                </a>
              </td>
            </tr>
            <tr>
              <th>VII. Atención a Quejas y Denuncias</th>
              <td>
                <a href="assets/content/contraloria-social/2024/ATENCION_QUEJAS_Y_DENUNCIAS/ATENCION CIUDADANA SFP U006 CS.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 1. Atención ciudadana de la SFP
                </a>
                <br>
                <a href="assets/content/contraloria-social/2024/ATENCION_QUEJAS_Y_DENUNCIAS/DGUTyP CS QyD.pdf"
                  class="btn btn-link" target="_blank">
                  <img src="assets/img/iconos/pdf-24_32.png"> 2. Atención de la Instancia normativa
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>