<title>UTS | Contraloría Social</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Contraloría Social</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Transparencia</li>
            <li class="breadcrumb-item active" aria-current="page">Contraloría Social</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="estadias">
  <div class="row">
    <div class="col-md-9">
      <img src="assets/img/contraloria-social/logo-contraloria-social.png" class="rounded mx-auto d-block" alt="Contraloría Social">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-dir-tab" data-toggle="tab" href="#nav-dir" role="tab" aria-controls="nav-dir"
            aria-selected="true">Directorio</a>
          <a class="nav-item nav-link" id="nav-doc-tab" data-toggle="tab" href="#nav-doc" role="tab" aria-controls="nav-doc" aria-selected="false">Documentos</a>
          <a class="nav-item nav-link" id="nav-for-tab" data-toggle="tab" href="#nav-for" role="tab" aria-controls="nav-for" aria-selected="false">Formatos</a>
          <a class="nav-item nav-link" id="nav-man-tab" data-toggle="tab" href="#nav-man" role="tab" aria-controls="nav-man" aria-selected="false">Manuales</a>
          <a class="nav-item nav-link" id="nav-marco-tab" data-toggle="tab" href="#nav-marco" role="tab" aria-controls="nav-marco"
            aria-selected="false">Marco Normativo</a>
          <a class="nav-item nav-link" id="nav-quejas-tab" data-toggle="tab" href="#nav-quejas" role="tab" aria-controls="nav-quejas"
            aria-selected="false">Quejas y Denuncias</a>
          <a class="nav-item nav-link" id="nav-informes-tab" data-toggle="tab" href="#nav-informes" role="tab" aria-controls="nav-informes"
            aria-selected="false">Informes</a>
          <a class="nav-item nav-link" id="nav-otros-tab" data-toggle="tab" href="#nav-otros" role="tab" aria-controls="nav-otros"
            aria-selected="false">Otros</a>
          <a class="nav-item nav-link" id="nav-PRODEP-tab" data-toggle="tab" href="#nav-PRODEP" role="tab" aria-controls="nav-PRODEP"
            aria-selected="false">PRODEP</a>
        </div>
      </nav>
      <div class="tab-content mt-3" id="nav-tabContent">
        <!--DIRECTORIO-->
        <div class="tab-pane fade show active" id="nav-dir" role="tabpanel" aria-labelledby="nav-dir-tab">
          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/directorio/Directorio_CGUTyP.pdf" target="_blank">
              Directorio CGUTyP
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/directorio/Directorio_de_Enlaces_de_Cs_OEC.pdf" target="_blank">
              Directorio Enlaces
            </a>
          </div>

          <div>
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/directorio/DIRECTORIO_RESPONSABLES _UT_Y_UP_CS_2017.pdf" target="_blank">
              Directorio Responsables
            </a>
          </div>
        </div>

        <!--DOCUMENTOS-->
        <div class="tab-pane fade" id="nav-doc" role="tabpanel" aria-labelledby="nav-doc-tab">
          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/documentos/Folleto.pdf" target="_blank">
              Folleto de Contraloría Social
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/documentos/Comite.pdf" target="_blank">
              Comité de Contraloría Social
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/documentos/Convenio-2420-16-UT-Salamanca.pdf" target="_blank">
              Convenio de Apoyo Financiero 2420/16
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/documentos/PETCS-UTS.pdf" target="_blank">
              PETCS 2016
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/documentos/ESQUEMA_DE_CS_2017.pdf" target="_blank">
              Esquema de CS 2017
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/documentos/GUIA_OPERATIVA_CS_2017.pdf" target="_blank">
              Guía Operativa
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/documentos/PATCS_2017.pdf" target="_blank">
              PATC 2017
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/documentos/SINTESIS_DE_LAS_RO_PFCE_2017.pdf" target="_blank">
              Síntesis de las RO PFCE 2017
            </a>
          </div>
        </div>

        <!--FORMATOS-->
        <div class="tab-pane fade" id="nav-for" role="tabpanel" aria-labelledby="nav-for-tab">
          <div class="mb-2">
            <img src="assets/img/iconos/xlsx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Anexo_1_Relación_de_UUTT_y_UUPP.xlsx">
              Anexo 1 Relación de UUTT Y UUPP
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/docx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Anexo-3_Min_Reun-1.docx">
              Anexo 3 Min-Reun.
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/docx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Anexo_4_Acta_Reg-CCS-1.docx">
              Anexo 4 Acta Reg. CSS
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/docx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Anexo_5_Acta_Sust_de_Integr-1.docx">
              Anexo 5 Acta Sustitución de Interante
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/docx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Anexo_6_Solic_de_Inf-1.docx">
              Anexo 6 Solicitud de Información
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/xlsx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Anexo_7_Inf_CCS_Inicial.xlsx">
              Anexo 7 Solicitud Información CCS Inicial
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/xlsx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Anexo_8_Inf_CCS_Intermedio.xlsx">
              Anexo 8 Información CCg Intermedio
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/xlsx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Anexo_9_Inf_CCS_Final.xlsx">
              Anexo 9 Información CCS Fianal
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/xlsx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Anexo_10_Quejas_y_Denuncias.xlsx">
              Anexo 10 Quejas y Denuncias
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/xlsx_win-24_32.png">
            <a href="assets/content/contraloria-social/formatos/Informe_CCS_Total.xlsx">
              Informe CSS total
            </a>
          </div>
        </div>

        <!--MANUALES-->
        <div class="tab-pane fade" id="nav-man" role="tabpanel" aria-labelledby="nav-for-man">
          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/manuales_del_sics/Manual_de_Usuario_SICS_Ejecutoras_Version_2.1.pdf" target="_blank">
              Manual del Usuario SICS
            </a>
          </div>
        </div>

        <!--MARCO NORMATIVO-->
        <div class="tab-pane fade" id="nav-marco" role="tabpanel" aria-labelledby="nav-for-marco">
          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/marco_normativo/Estrategia_marco_12_2016.pdf" target="_blank">
              Estrategia Marco
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/marco_normativo/LEYGRALDESO.pdf" target="_blank">
              Ley General Desarrollo
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/marco_normativo/Lineamientos_Contraloria_Social.pdf" target="_blank">
              Lineamientos Consultoría Social
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/marco_normativo/RO_PFCE_2016.pdf" target="_blank">
              RO - PFCE 2016
            </a>
          </div>
        </div>

        <!--QUEJAS Y DENUNCIAS-->
        <div class="tab-pane fade" id="nav-quejas" role="tabpanel" aria-labelledby="nav-for-quejas">
          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/quejas_y_denuncias/Atencion_CD-SFP.pdf" target="_blank">
              Atención CA - SFP
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/quejas_y_denuncias/AtencionCGUTyP.pdf" target="_blank">
              Atención CGUTyP
            </a>
          </div>
        </div>

        <!--INFORMES-->
        <div class="tab-pane fade" id="nav-informes" role="tabpanel" aria-labelledby="nav-for-informes">
          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/informes/Informe-inicial-10-de-Julio-2017.pdf" target="_blank">
              Informe Inicial 10 de Julio de 2017
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/informes/Informe-intermedio-6-Octubre-2017.pdf" target="_blank">
              Informe Intermedio 6 de Octubre de 2017
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/informes/Informe-fianl-11-de-Diciembre-2017.pdf" target="_blank">
              Informe Final 11 de Diciembre de 2017
            </a>
          </div>

          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/informes/anexo_9_Informe_Anual.pdf" target="_blank">
              Informe Anual del Comité (PROFOCIE) 2014
            </a>
          </div>
        </div>

        <!--OTROS-->
        <div class="tab-pane fade" id="nav-otros" role="tabpanel" aria-labelledby="nav-for-otros">
          <div class="mb-2">
            <img src="assets/img/iconos/pdf-24_32.png">
            <a href="assets/content/contraloria-social/otros/22-TRIPTICO-CS-2017-CGUTyP.pdf" target="_blank">
              Tríptico Contraloría Social 2017 CGUTyP
            </a>
          </div>
        </div>

        <!--PRODEP-->
        <div class="tab-pane fade" id="nav-PRODEP" role="tabpanel" aria-labelledby="nav-for-PRODEP">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Carpeta 2016
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="font-weight-bold">Anexos</p>
                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016//Anexos/006_Cedula_de_Vigilancia.pdf" target="_blank">
                      Cédula de Vigilancia.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Anexos/007_Informe_anual_del_Comite.pdf" target="_blank">
                      Informe Anual del Comité.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Anexos/009_Programa_institucional_de_difusion_de_Contraloria_Social.pdf"
                      target="_blank">
                      Programa Institucional de Difusión de Contraloría.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Anexos/010_Cobertura_de_Contraloria_Social_2016.pdf" target="_blank">
                      Cobertura de Contraloría Social 2016.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Anexos/011_Acta_de_registro_del_Comite_de_Contralorias_Social.pdf"
                      target="_blank">
                      Acta de registro del Comité de Contraloría Social.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Anexos/012_Minuta_de_Reunion.pdf" target="_blank">
                      Minuta de Reunión.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Anexos/013_Acta_de_sustitucion_de_un_integrante_del_Comite_de_Contraloria_Social.pdf"
                      target="_blank">
                      Acta de Sustitución de un Integrante del Comité de Contraloría.
                    </a>
                  </div>

                  <p class="font-weight-bold">Documentos</p>
                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Documentos/001_Esquema_de_Contraloria_Social.pdf" target="_blank">
                      Esquema de Contraloría Social.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Documentos/002_Guia_opertiva_de_Contraloria.pdf" target="_blank">
                      Guía Operativa de Contraloría.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Documentos/003_Programa_anual_de_trabajo_de_la_Contraloria_Social.pdf"
                      target="_blank">
                      Programa anual de trabajo de Contraloría Social.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Documentos/004_Plan_de_difusion_de_Contraloria_Social.pdf" target="_blank">
                      Plan de Difusión de Contraloría Social.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2016/Documentos/005_Reglas_de_operacion_2016_PRODEP.pdf" target="_blank">
                      Reglas de Operación 2016 PRODEP.
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    Carpeta 2017
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="font-weight-bold">Anexos</p>
                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/ACTIVIDADES_DE_DIFUSION_2017_PRODEP.pdf" target="_blank">
                      Actividades de Difusión 2017 PRODEP.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/Anexo1_Inf_Inicial_PRODEP.pdf" target="_blank">
                      Anexo 1 inf. Inicial PRODEP.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/Anexo_2_Inf__Final_PRODEP.pdf" target="_blank">
                      Anexo 2 inf. Final PRODEP.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/Anexo_3_Ficha_de_Definiciones_2017.pdf" target="_blank">
                      Anexo 3 Ficha de Definiciones 2017.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/Anexo_4_PIDCS_2017.pdf" target="_blank">
                      Anexo 4 PIDCS 2017.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/Anexo_5_Cobertura_de_CS_2017.pdf" target="_blank">
                      Anexo 5 Coberturas de CS 2017.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/Anexo_6_Acta_de_Registro_de_Comite_2017.pdf" target="_blank">
                      Anexo 6 Acta de Registro de Comité.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/Anexo_7_Minuta_de_Reunión_2017.pdf" target="_blank">
                      Anexo 7 Minuta de Reunión 2017.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/Anexo_8_Acta_de_Sustitucion_de_Integrante_2017.pdf" target="_blank">
                      Anexo 8 Acta de Sustitución de Integrante 2017.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/PATCS-PRODEP-2017_B.pdf" target="_blank">
                      PATCS PRODEP 2017.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Anexos/Reglas_2017.pdf" target="_blank">
                      Reglas 2017.
                    </a>
                  </div>

                  <p class="font-weight-bold">Documentos</p>
                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Documentos/Esquema_PRODEP.pdf" target="_blank">
                      Esquema PRODEP.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Documentos/GUIA_OPERATIVA_Guia_Operativa_1.pdf" target="_blank">
                      Guía Operativa.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Documentos/Reglas_2017.pdf" target="_blank">
                      Reglas 2017.
                    </a>
                  </div>

                  <p class="font-weight-bold">Marco Normativo</p>
                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Marco_Normativo/2016_10_28_MAT_sfp_Lineamientos_CS.pdf" target="_blank">
                      2016-10-28 MAT-sfp Lineamientos CS.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Marco_Normativo/Estrategia_marco_12_2016.pdf" target="_blank">
                      Estrategia marco 12-2016.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Marco_Normativo/Ley_general_de_desarrollo_social.pdf" target="_blank">
                      Ley General de Desarrollo Social.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Marco_Normativo/Reglamento_de_la_ley_general_de_desarrollo_social.pdf"
                      target="_blank">
                      Reglamento de la Ley General de Desarrollo Social.
                    </a>
                  </div>

                  <p class="font-weight-bold">Materiales de Trabajo</p>
                  <div class="mb-2">
                    <img src="assets/img/iconos/xlsx_win-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Materiales_de_Trabajo/Anexo_4_PIDCS_2017.xls">
                      Anexo 4 PIDCS 2017.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Materiales_de_Trabajo/Cuaderno_de_trabajo.pdf" target="_blank">
                      Cuaderno de Trabajo.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/xlsx_win-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Materiales_de_Trabajo/Directorio_de_Enlaces_de_CS_al_29_05_2017_(OEC).xlsx">
                      Directorio de Enlaces de CS al 29-05-2017.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Materiales_de_Trabajo/Manual_de_Usuario__REUNIONES_CON_BENEFICIARIOS.pdf"
                      target="_blank">
                      Manual de Usuario-Reuniones con Beneficiarios.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Materiales_de_Trabajo/Manual_Usuario__Ejecutoras_Version_Final_ajustada_140814.pdf"
                      target="_blank">
                      Manual de Usuario-Ejecutoras Versión Final.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/2017/Materiales_de_Trabajo/PO2017.pdf" target="_blank">
                      PO2017.
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    Informes Trimestrales Académicos PRODEP
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <p class="font-weight-bold">2016</p>
                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/Informes_trimestrales_academicos_PRODEP/2016/Informe_academico_Julio-Sept-2016.pdf" target="_blank">
                      Informe Académico Julio - Septiembre 2016.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/Informes_trimestrales_academicos_PRODEP/2016/Informe_academico_Octubre-Diciembre_2016.pdf" target="_blank">
                      Informe Académico Octubre - Diciembre 2016.

                    </a>
                  </div>

                  <p class="font-weight-bold">2017</p>
                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/Informes_trimestrales_academicos_PRODEP/2017/Informe_academico_Enero-Marzo_2017.pdf" target="_blank">
                      Informe Académico Enero - Marzo 2017.
                    </a>
                  </div>

                  <div class="mb-2">
                    <img src="assets/img/iconos/pdf-24_32.png">
                    <a href="assets/content/contraloria-social/PRODEP/Informes_trimestrales_academicos_PRODEP/2017/Informe_academico_Abril-Junio-2017.pdf" target="_blank">
                      Informe Académico Abril - Junio 2017.
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>