<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia14-entrega-de-reconocimientos-a-selectivo-femenil-de-futbol/img1-rec-fut-fem.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia14-entrega-de-reconocimientos-a-selectivo-femenil-de-futbol/img1-rec-fut-fem.jpg"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia14-entrega-de-reconocimientos-a-selectivo-femenil-de-futbol/img2-rec-fut-fem.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia14-entrega-de-reconocimientos-a-selectivo-femenil-de-futbol/img2-rec-fut-fem.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia14-entrega-de-reconocimientos-a-selectivo-femenil-de-futbol/img3-rec-fut-fem.jpg"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia14-entrega-de-reconocimientos-a-selectivo-femenil-de-futbol/img3-rec-fut-fem.jpg"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
        <!-- normal -->
        <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia14-entrega-de-reconocimientos-a-selectivo-femenil-de-futbol/img4-rec-fut-fem.jpg"
            data-lightbox="roadtrip">
            <div class="img"><img src="assets/img/noticias/noticia14-entrega-de-reconocimientos-a-selectivo-femenil-de-futbol/img4-rec-fut-fem.jpg"
                alt="img"></div>
          </a></div>
        <!-- end normal -->
      </div>

  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">Entrega de reconocimientos a selectivo femenil de fútbol y “tochito”.</h3>
        <p class="text-right font-weight-bold font-italic">26 de enero del 2018</p>
        <p>El día viernes 26 de enero, en las instalaciones de la Universidad Tecnológica de Salamanca se realizó la entrega de reconocimientos al selectivo de futbol femenil por haber obtenido el 1er lugar en la Liga Universitaria CODE en su décima edición. El Ing. Alfredo López Herrera realizó la entrega de cada uno de los reconocimientos a las alumnas que integran el selectivo.</p>
        <p>De la misma manera se hizo la entrega de reconocimientos al equipo de “tochito” femenil por lograr el primer lugar en el torneo municipal organizado por la Universidad de Guanajuato, ambos torneos realizados en 2017.</p>
        <p>En la ceremonia estuvieron presentes, el personal directivo de la UTS y el Lic. Juan Rafael Conejo Mendoza, Presidente de la Liga Salmantina de “tocho”.</p>
        <p>El Ing. Alfredo López, motivo a cada uno de los presentes a ser mejores y dar a la sociedad lo mejor en todo lo que realicen. Felicito a los dos equipos, así como a los entrenadores que son los que han instruido y apoyado a los equipos, quienes con su esfuerzo obtuvieron logros significativos.</p>
      </article>
        <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>

</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>