<title>UTS | Emprendimiento</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Emprendimiento</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Emprendimiento</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="emprendimiento">
  <div class="row">
    <div class="col-md-8 col-lg-9 text-justify">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4">
        <a>
          <div class="img">
            <img src="assets/img/emprendimiento/banner_emprendimiento.png" alt="CELE">
          </div>
        </a>
      </div>
      <!-- fin efecto hover -->
      <section class="text-center mb-4">
        <h3 class="fw-bold">Impulsando al Mapache Emprendedor</h3>
      </section>
      <p>En el área de Emprendimiento de la Universidad Tecnológica de Salamanca, nos dedicamos a desarrollar el potencial innovador y la vocación empresarial de nuestros estudiantes y profesores. Esta actividad la realizamos identificando en los proyectos integradores aquellos proyectos con alto potencial que contribuyan al desarrollo económico y social de nuestra región y del país. Apoyamos a lo largo de la formación académica a los futuros emprendedores buscando alternativas estatales o bien federales para la realización de su proyecto.</p>
      <p>Promovemos el concepto de <strong>“Talento Emprendedor”</strong> y destacamos los programas de apoyo disponibles para la creación de nuevas unidades de negocio. Ayudamos a desarrollar negocios rentables y sostenibles que impacten positivamente en áreas urbanas y rurales, generando ingresos y oportunidades para las comunidades.</p>
      <p>Creemos en la importancia de potenciar habilidades clave en los emprendedores actuales. Por eso, nuestras actividades están diseñadas para desarrollar la capacidad de innovar, fomentar la resiliencia, promover la colaboración y orientar los proyectos hacia un impacto positivo en la sociedad y el medio ambiente.</p>
      <p class="text-center"><strong>“El éxito de un mapache está en la huella que deja en su entorno”</strong></p>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/emprendimiento/conferencias.png" alt="Conferencias">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/emprendimiento/networking.png" alt="Networking">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/emprendimiento/evaluacion-proyectos.png" alt="Evaluación de proyectos">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/emprendimiento/ferias-emprendimiento.png" alt="Ferias de emprendimiento">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/emprendimiento/mentorias.png" alt="Mentorias">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/emprendimiento/talleres.png" alt="Talleres">
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="assets/img/emprendimiento/foros.png" alt="Foros">
        </div>
      </div>
      <p>Te invitamos a que sigas nuestro perfil de Facebook<a
        href="https://www.facebook.com/UTSEmprendedores" target="_blank"><strong> UTS Emprendedores.</strong></a></p>
        <p><strong>¡Únete a la Comunidad Mapache Emprendedora y transforma tus ideas en realidades!</strong></p>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="card text-center mb-4">
        <div class="card-header">
          <p class="font-weight-bold">Para más información:</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Lic. Juan Alberto Ramos Medellín</h5>
          <p class="card-text">Encargado del Área de Emprendimiento</p>
          <p>Email: <small><a href="mailto:analista.extuniversitaria@utsalamanca.edu.mx">analista.extuniversitaria@utsalamanca.edu.mx</a></small></p>
          <p class="card-text">Horario: Lunes a Viernes de 8h00 a 16h00</p>
          <p class="card-text">Edificio de Centro de Información y Consulta / Biblioteca</p>
          <p class="card-text fa fa-phone-square"> 464 643 52 00 · Ext:5240</p>
        </div>
      </div>
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
