<title>UTS | Emprendimiento</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Emprendimiento</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Emprendimiento</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="emprendimiento">
  <div class="row">
    <div class="col-md-9 text-justify">
      <!-- efecto hover -->
      <div class="ih-item square effect7 mb-4">
        <a>
          <div class="img">
            <img src="assets/img/emprendimiento/banner_emprendimiento.png" alt="CELE">
          </div>
        </a>
      </div>
      <!-- fin efecto hover -->
      <p>Somos el área encargada de desarrollar el potencial innovador y la vocación empresarial de los estudiantes y profesores de la UTS, mediante la realización de proyectos viables que se traduzcan en empresas generadoras de empleo, con el fin de que contribuyan al desarrollo económico y social de la región y del país. </p>
      <p class="font-weight-bold">Objetivos específicos:</p>
      <ul>
        <li>Difundir el concepto de “Talento Emprendedor”, además de la existencia de programas de apoyo para la creación de nuevas unidades de negocios.</li>
        <li>Apoyar a emprendedores a crear y desarrollar negocios rentables y sostenibles que tengan impacto en las áreas urbanas y rurales en desarrollo, generando ingresos, oportunidades y crecimiento económico para sus familias y sus comunidades.</li>
        <li>Identificar proyectos rentables.</li>
        <li>Fomentar el espíritu emprendedor en la comunidad Universitaria.</li>
      </ul>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
