<title>Universidad Tecnológica de Salamanca</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section">
    <div class="row">
        <div class="col-12">
            <app-slider-principal></app-slider-principal>
        </div>
    </div>
</div>

<div class="contenido-section">
    <div class="row">
        <div class="col-lg-3">
            <app-nav-left></app-nav-left>
        </div>
        <div class="col-lg-9">
          <!--
            <app-slider-noticias></app-slider-noticias>
            -->
            <div class="mt-0">
                <app-sidebar-right></app-sidebar-right>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7 col-lg-8 col-xl-8">
        <app-slider-videos></app-slider-videos>
    </div>
    <div class="col-md-5 col-lg-4 col-xl-4">
        <app-slider-eventos-externos></app-slider-eventos-externos>
    </div>
</div>

<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>
<app-modals></app-modals>
