<article class="bg-light p-3">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
      <h6>FACEBOOK</h6>
      <!--SDK para JavaScript facebook UTS-->
      <div class="fb-page mb-3" data-href="https://www.facebook.com/UTSalamanca/" data-tabs="timeline" data-width="540"
        data-height="490" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/UTSalamanca/" class="fb-xfbml-parse-ignore"><a
            href="https://www.facebook.com/UTSalamanca/">Universidad Tecnológica de Salamanca- UTS</a></blockquote>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <h6>TWITTER</h6>
      <!--Iframe twitter-->
      <a class="twitter-timeline" data-width="" data-height="490"
        href="https://twitter.com/UTSoficial?ref_src=twsrc%5Etfw">Tweets by UTSoficial</a>
    </div>
  </div>
</article>
