<title>UTS | Noticias</title>
<app-header></app-header>
<app-nav></app-nav>
<div>
  <img src="assets/img/noticias/banner_noticias.jpg" alt="Últimas Noticias" title="Últimas Noticias" />
</div>
<div class="container mt-3">
  <!--Galeria de Imagenes-->
  <div class="row mb-3 justify-content-center">
    <div class="col-sm-3">
      <!-- colored -->
      <div class="ih-item square colored effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia21-Reclutamiento-DnMex/img1-reclutamiento-DnMex.png"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia21-Reclutamiento-DnMex/img1-reclutamiento-DnMex.png"
              alt="img"></div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia21-Reclutamiento-DnMex/img2-reclutamiento-DnMex.png"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia21-Reclutamiento-DnMex/img2-reclutamiento-DnMex.png"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia21-Reclutamiento-DnMex/img3-reclutamiento-DnMex.png"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia21-Reclutamiento-DnMex/img3-reclutamiento-DnMex.png"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>

    <div class="col-sm-3">
      <!-- normal -->
      <div class="ih-item square effect6 from_top_and_bottom"><a href="assets/img/noticias/noticia21-Reclutamiento-DnMex/img4-reclutamiento-DnMex.png"
          data-lightbox="roadtrip">
          <div class="img"><img src="assets/img/noticias/noticia21-Reclutamiento-DnMex/img4-reclutamiento-DnMex.png"
              alt="img"></div>
        </a></div>
      <!-- end normal -->
    </div>
  </div>
  <!--Fin Galeria de Imagenes-->

  <div class="row">
    <!--Descripción del evento-->
    <div class="col-md-8">
      <article class="mt-5">
        <h3 class="text-center">Reclutamiento DnMex.</h3>
        <p class="text-right font-weight-bold font-italic">03 de abril del 2018</p>
        <p>El día 3 de abril del 2018, se llevó a cabo el reclutamiento de alumnos del Programa Educativo Procesos Industriales Área Automotriz, por parte de la empresa DnMex; en dicho evento se contó con personal de la Secretaría de Desarrollo Sustentable del Estado de Guanajuato, quienes son el vínculo entre la empresa y la Universidad Tecnológica de Salamanca.</p>
        <p>El objetivo principal que se sigue con este tipo de acciones, es implementar un modelo de formación cooperativa en el Estado de Guanajuato, orientado a los requerimientos del sector productivo, por medio de la suma de esfuerzos de las diferentes modalidades de Formación Dual, enfocadas al desarrollo de competencias técnicas, transversales, laborales y financieras. Se eligió esta carrera ya que las especialidades que más demanda el Sector Industrial en Guanajuato son:</p>
        <ul>
          <li>Mantenimiento Industrial.</li>
          <li>Metal-Mecánica.</li>
          <li>Sistemas de Calidad y Productividad.</li>
          <li>Soldadura.</li>
        </ul>
        <p>Los beneficios que se contemplan para los jóvenes seleccionados son: Inserción laboral inmediata; mejores oportunidades de empleo; formación especializada en competencias técnicas, transversales, laborales y financieras; proyecto de vida personal y familiar; y mejor nivel salarial.</p>
      </article>
      <!--Fin Descripción del evento-->
    </div>
    <div class="col-md-4">
      <app-noticias-destacadas></app-noticias-destacadas>
    </div>
  </div>

</div>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>