<!-- MENU LATERAL -->
<article class="bg-light pt-3">
  <h6 class="navleft-invisible pl-3">MENÚ LATERAL</h6>
  <div class="bg-light navleft-invisible">
    <div class="btn-group-vertical  btn-sm btn-block">
      <!-- CONTROLES -->
      <div class="btn-group dropright">
        <button type="button" class="btn btn-light dropdown-toggle text-left" data-toggle="dropdown">
          Controles
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/login" target="_blank">Administrar
            Buzón</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/login" target="_blank">Control de
            Registros</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/control-inscripciones/" target="_blank">Control
            de
            Inscripciones</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/sidetce_uts/" target="_blank">SIDETCE</a>
        </div>
      </div>
      <!-- REGISTROS -->
      <div class="btn-group dropright">
        <button type="button" class="btn btn-light dropdown-toggle text-left" data-toggle="dropdown">
          Registros
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUQlhTU0JGVjBTRFhLTjUzQlQxSTg5Mko0Ri4u"
            target="_blank">REDIC007-A ERC-IER</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUQUhJWFNHMTUxM0tVQ0IxWVk5VDhMVDBKSS4u"
            target="_blank">REDIC007-A QAI-IPQ</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUNzBDUFFQSzlHNFM5S0xERURGRTdGQzhCQi4u"
            target="_blank">REDIC007-A QAM-ITEA</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="https://forms.office.com/r/Ki0TmAtPsg" target="_blank">REDIC007-A ADC-LGCH</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="https://forms.office.com/r/fWkYREz2Fv" target="_blank">REDIC007-A ADC
            DESPRESURIZADO</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUM0hCWjc0MzkxTE9HSTE5Ulk4S1JUNklTMS4u"
            target="_blank">REDIC007-A MET</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUOE4xMkZUMkZCNEpJUTJHRlhUMDRUTFFaTy4u"
            target="_blank">REDIC007-A PIA</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUQTdCVVVGNlc3RkRQQkROUUFCMjRYWFhPUS4u"
            target="_blank">REDIC007-A TIS</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=p3Sd7wHUeka6xL38qUZkDAJvmaGrYVxDshykQjnQ73pUM0JHRDNWMFRXSTA0NEdPNTYwMTJYWktJTy4u"
            target="_blank">REDIC007-A IDGS</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/redic081a"
            target="_blank">REDIC081-A</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/redic089"
            target="_blank">REDIC089-D</a>
        </div>
      </div>
      <!-- ENCUESTAS -->
      <div class="btn-group dropright">
        <button type="button" class="btn btn-light dropdown-toggle text-left" data-toggle="dropdown">
          Encuestas
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/transporte"
            target="_blank">Necesidad de Transporte Público</a>
          <div class="progress" style="height: 1px;"></div>
          <h6 class="dropdown-header text-center">Trayectorias Educativas</h6>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/trayectorias-primero"
            target="_blank">1er. Cuatrimestre</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/trayectorias-cuarto"
            target="_blank">4° Cuatrimestre</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/trayectorias-septimo"
            target="_blank">7o. Cuatrimestre</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item" href="http://www.utsalamanca.edu.mx/seguimiento/encuestas/trayectorias-decimo"
            target="_blank">10° Cuatrimestre</a>
        </div>
      </div>
      <!-- CONVOCATORIAS INTERNAS -->
      <!-- <div class="btn-group dropright">
        <button type="button" class="btn btn-light dropdown-toggle text-left" data-toggle="dropdown">
          Convocatorias Internas
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item"
            href="assets/content/becas/beca-interna/CONVOCATORIA_BECA_INTERNA_MAYO_AGOSTO_2022.pdf" target="_blank">Beca
            Interna Cuatrimestre <br> Mayo - Agosto 2022</a>
          <div class="progress" style="height: 1px;"></div>
        </div>
      </div> -->
      <!-- CONVOCATORIAS EXTERNAS -->
      <div class="btn-group dropright">
        <button type="button" class="btn btn-light dropdown-toggle text-left" data-toggle="dropdown">
          Convocatorias Externas
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item"
            href="https://hazloviral.mx/"
            target="_blank">#HazloViral</a>
          <div class="progress" style="height: 1px;"></div>
        </div>
      </div>
      <!-- PAGO DE SERVICIOS -->
      <div class="btn-group dropright">
        <button type="button" class="btn btn-light dropdown-toggle text-left" data-toggle="dropdown">
          Pago de Servicios
        </button>
        <div class="dropdown-menu btn-sm btn-block">
          <a class="dropdown-item" href="https://pagos.utsalamanca.edu.mx" target="_blank">Referencia
            Bancaria UTS</a>
        </div>
      </div>
      <!-- ASPIRANTES -->
      <div class="btn-group dropright">
        <button type="button" class="btn btn-light dropdown-toggle text-left" data-toggle="dropdown">
          Aspirantes
        </button>
        <div class="dropdown-menu btn-sm btn-block">
          <a class="dropdown-item"
            href="http://sito.utsalamanca.edu.mx/jsp/escolar/proceso_admision/proceso_interesado.jsp"
            target="_blank">TSU</a>
          <div class="progress" style="height: 1px;"></div>
          <a class="dropdown-item"
            href="http://sito.utsalamanca.edu.mx/jsp/escolar/proceso_admision_lic/proceso_interesado.jsp"
            target="_blank">ING</a>
        </div>
      </div>
      <!-- EGRESADOS -->
      <a href="assets/content/egresados/listado-de-cedulas-gen-7-(12-06-18).pdf" target="_blank"
        class="btn btn-light text-left">Egresados</a>
      <!-- SISTEMA DE GESTIÓN DE CALIDAD -->
      <a href="http://sgc.utsalamanca.edu.mx/" target="_blank" class="btn btn-light text-left">SGC</a>
      <!-- DIRECTORIO -->
      <a routerLink="/directorio" class="btn btn-light text-left">Directorio</a>
      <!-- SITO -->
      <a href="http://sito.utsalamanca.edu.mx/" target="_blank" class="btn btn-light text-left">Sistema Escolar
        (SITO)</a>
      <!-- POLITICAS -->
      <a routerLink="/politicas" class="btn btn-light text-left">Políticas</a>
      <!-- BECAS -->
      <a routerLink="/becas" class="btn btn-light text-left">Becas</a>
      <!-- GACETA UNIVERSITARIA -->
      <a routerLink="/gaceta" class="btn btn-light text-left">Gaceta Universitaria</a>
      <!-- BIBLIOTECA VIRTUAL -->
      <a href="https://elibro.net/es/lc/utsalamanca/login_usuario/?next=/es/lc/utsalamanca/inicio" target="_blank"
        class="btn btn-light text-left">Biblioteca Virtual</a>
      <!-- BIBLIOTECA CONRICYT -->
      <a href="https://www.conricyt.mx/" target="_blank" class="btn btn-light text-left">Biblioteca CONRICyT</a>
      <!-- CALENDARIO ESCOLAR -->
      <a routerLink="/calendario-escolar" class="btn btn-light text-left">Calendario Escolar</a>
      <!-- MOODLE
      <a data-toggle="modal" data-target="#moodleModal" class="btn btn-light text-left">Moodle</a>
      -->
      <!-- CONOCER -->
      <a routerLink="/conocer" class="btn btn-light text-left">Conocer</a>
      <!-- CORREO INSTITUCIONAL -->
      <a href="https://login.microsoftonline.com/login.srf?wa=wsignin1.0&rpsnv=4&ct=1493127522&rver=6.7.6640.0&wp=MCMBI&wreply=https%3a%2f%2fportal.office.com%2flanding.aspx%3ftarget%3d%252fdefault.aspx&lc=2058&id=501392&msafed=0&client-request-id=3a1c0327-1890-4cde-9f92-0f049d3f4255"
        target="_blank" class="btn btn-light text-left">Correo Institucional</a>
      <!-- SOPORTE TECNICO -->
      <a href="http://tickets.utsalamanca.edu.mx/" target="_blank" class="btn btn-light text-left">Mesa de Ayuda
        (Tickets)</a>
    </div>
  </div>

  <!-- Modal Plataformas moodle-->
  <div class="modal fade" id="moodleModal" tabindex="-1" role="dialog" aria-labelledby="moodleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-light">
        <div class="modal-header">
          <h5 class="modal-title" id="moodleModalLabel">PLATAFORMAS MOODLE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger text-center" role="alert">
            <h5>Sitio Virtual</h5>
            <a href="http://virtual.utsalamanca.edu.mx/moodle/" target="_blank"><button type="button"
                class="btn btn-outline-danger btn-block">Ingresar</button></a>
          </div>
          <div class="progress mb-2" style="height: 1px;"></div>
          <div class="alert alert-danger text-center" role="alert">
            <h5>Sitio Virtual de Idiomas</h5>
            <a href="http://idiomas.utsalamanca.edu.mx/moodle/" target="_blank"><button type="button"
                class="btn btn-outline-danger btn-block">Ingresar</button></a>
          </div>
          <div class="progress mb-2" style="height: 1px;"></div>
        </div>
      </div>
    </div>
  </div>
</article>