.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

.btn-group:hover .dropdown-menu {
    display: block;
    margin: auto;
    border-left: 4px solid #002078;

}

.btn-group:hover .dropdown-menu li .dropdown-menu {
    display: block;
    margin: auto;
    border-left: 4px solid #002078;

}

.dropdown-item:hover{
    background-color: #007CF2;
}

h6 {
    border-bottom: 0px;
}

@media screen and (max-width: 991px) {
    .navleft-invisible {
        visibility: hidden !important;
        display: none;
    }
}